{% extends "admin/change_form.html" %}

{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls account_tag %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/admin/">{% trans "Home" %}</a>
    &rsaquo; <a href="/admin/auth/">{% trans "Auth" %}</a>
    &rsaquo; <a href="/admin/auth/customer/"> {% trans "Customers" %}</a>
    &rsaquo; <a href="/admin/auth/customer/{{ customer_id }}/">{{ customer }}</a>
    &rsaquo; <a href="/admin/auth/usernote/">{% trans "Notes" %}</a>
</div>
{% endblock %}

{% block field_sets %}
    {% for fieldset in adminform %}
        <fieldset class="module aligned {{ fieldset.classes }}">
            {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
            {% if fieldset.description %}
                <div class="description">{{ fieldset.description|safe }}</div>
            {% endif %}
            {% for line in fieldset %}
                <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
                    {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                    {% for field in line %}
                        {% if field.field.name == "user" %}
                            <div class="field-box field-user">
                                <strong>{{ field.label_tag|removetags:"label" }}</strong>
                                <span> {{ app_label|admin_label_user:request }} </span>
                            </div>
                        {% else %}
                            <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}"{% endif %}>
                                {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                                {% if field.is_checkbox %}
                                    {{ field.field }}{{ field.label_tag }}
                                {% else %}
                                    {{ field.label_tag }}
                                    {% if field.is_readonly %}
                                        <p>{{ field.contents }}</p>
                                    {% else %}
                                        {{ field.field }}
                                    {% endif %}
                                {% endif %}
                                {% if field.field.help_text %}
                                    <p class="help">{{ field.field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </fieldset>
    {% endfor %}
{% endblock %}