<body vlink="#000000" marginwidth="0" marginheight="0" link="#000000" bgcolor="#ececec" alink="#000000" leftmargin="0" topmargin="0">
    <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#ececec" style="font-family: Helvetica, Arial, sans-serif">
        <tbody>
            <tr>
                <td width="20" rowspan="4">
                    <div style="width: 20px;"></div>
                </td>
                <td>
                    <table width="560" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tbody>
                        <tr>
                            <td width="560" height="20" style="line-height:0; font-size:0;"></td>
                        </tr>
                        <tr>
                            <td>
                                <table width="560" cellspacing="0" cellpadding="0">
                                    <tbody>

                                    <tr width="560">
                                        <td width="6" valign="top" height="66">
                                            <img width="6" vspace="0" hspace="0" height="66" border="0" align="left" src="{{ site_url }}/static/img/email/header-left.png">
                                        </td>
                                        <td width="548" valign="top" height="66" style="width: 548px; background: #f7f7f7 url('{{ site_url }}/static/img/email/header-bg.png') repeat-x;">
                                            <a href="{{ site_url }}" style="display: block; border-top: 13px solid transparent;">
                                                <img width="234" vspace="0" hspace="13" height="44" border="0" align="left" src="{{ site_url }}/static/img/email/lotoflutter-logo.png">
                                            </a>
                                            <div style="clear: both;"></div>
                                        </td>
                                        <td width="6" valign="top" height="66">
                                            <img width="6" vspace="0" hspace="0" height="66" border="0" align="right" src="{{ site_url }}/static/img/email/header-right.png">
                                        </td>
                                    </tr>

                                    <tr width="560">
                                        <td width="560" height="20" bgcolor="#ffffff" style="background-color: #ffffff;" colspan="3"> </td>
                                    </tr>

                                    <tr width="560">
                                        <td width="560" bgcolor="#ffffff" align="center" style="background-color: #ffffff;" colspan="3">
                                            <table width="530" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td style="color: #005b8c; font-size: 24px; font-weight: bold; border-bottom: 1px solid #d9d9d9; padding-bottom: 6px;">
                                                            {{ subject }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="20"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 14px; border-bottom: 20px solid transparent;">
                                                            {% block content %}{% endblock %}
                                                        </td>
                                                    </tr>


                                                    <tr>
                                                        <td style="font-size: 14px; border-bottom: 20px solid transparent;">
                                                            Thank you, <br>
                                                            <strong>The www.lottostar.com Team</strong>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td height="1" style="border-bottom: 1px solid #d9d9d9;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="10"> </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 10px"><a href="{{ site_url }}/accounts/profile/email/" style="text-decoration: none"> Your Email Settings</a>  I   <a href="http://www.twitter.com/lotto_star" style="text-decoration: none">Follow on Twitter</a>   I   <a href="http://www.facebook.com/officiallottostar" style="text-decoration: none">Become a fan on Facebook</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="20" style=""> </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr width="560">
                                        <td width="560" height="20" colspan="3">
                                            <table cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td height="20"></td>
                                                </tr>
                                                <tr>
                                                    <td width="560" height="60" colspan="3" style="margin-top: 20px;">
                                                        <a href="{{ site_url }}">
                                                            <img src="{{ site_url }}/static/img/email/footer-btn.png">
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>