{% load game_tag_helpers %}

<style type=text/css>
    div {
        margin: 0px;
        padding: 0px;
        display: inline;
    }

    .lotto-starBall, .main-Ball, .bonus-Ball, .super-Ball {
        background-repeat: no-repeat;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        height: 56px;
        line-height: 53px;
        width: 53px;
        margin-top: 5px;
        text-align: center;
        font-size: 22px;
        margin-left: 1px;
        padding-top: 2px;
    }
    .main-Ball {
        background-image: url("{{ site_domain|safe }}/static/img/blue-ball.png");
    }

    .bonus-Ball {
        background-image: url("{{ site_domain|safe }}/static/img/yellow-ball.png");
    }

   .super-Ball {
        background-image: url("{{ site_domain|safe }}/static/img/red-ball.png");
    }

    .lotto-starBall {
        background-image: url("{{ site_domain|safe }}/static/img/yellow-ball.png");
    }
</style>
  <html>
  <head>
  </head>
    <body vlink="#000000" marginwidth="0" marginheight="0" link="#000000" bgcolor="#ececec" alink="#000000" leftmargin="0" topmargin="0">
        <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#ececec" style="font-family: Helvetica, Arial, sans-serif;">
            <tbody>
                <tr>

                    <td>
                        <table width="560" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tbody>
                                <tr>
                                    <td width="560" height="20" style="line-height:0; font-size:0;"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="560" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <!--HEADER-->
                                                <tr width="560">
                                                    <td width="6" valign="top" height="66">
                                                        <img width="6" vspace="0" hspace="0" height="66" border="0" align="left" src="{{ site_domain|safe }}/static/img/email/header-left.png">
                                                    </td>
                                                    <td width="548" valign="top" height="66" style="width: 548px; background: #f7f7f7 url('{{ site_domain|safe }}/static/img/email/header-bg.png') repeat-x;">
                                                        <a href="{{ site_domain }}" style="display: block; border-top: 13px solid transparent;">
                                                            <img width="234" vspace="0" hspace="13" height="44" border="0" align="left" src="{{ site_domain|safe }}/static/img/email/lotoflutter-logo.png">
                                                        </a>
                                                        <div style="clear: both;"></div>
                                                    </td>
                                                    <td width="6" valign="top" height="66">
                                                        <img width="6" vspace="0" hspace="0" height="66" border="0" align="right" src="{{ site_domain|safe }}/static/img/email/header-right.png">
                                                    </td>
                                                </tr>
                                                <!--BODY-->
                                                <tr width="560">
                                                    <td width="560" height="20" bgcolor="#ffffff" style="background-color: #ffffff;" colspan="3"> </td>
                                                </tr>

                                                <tr width="560">
                                                    <td width="560" bgcolor="#ffffff" align="center" style="background-color: #ffffff;" colspan="3">
                                                        <table width="530" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                            <tr>
                                                                <td style="color: #005b8c; font-size: 24px; font-weight: bold; border-bottom: 1px solid #d9d9d9; padding-bottom: 6px;">
                                                                    Latest Lottery Results for:
                                                                </td>
                                                                <td style="border-bottom: 1px solid #d9d9d9;">
                                                                    <img height="71" src="{{ site_domain|safe }}/static/img/email/{{ game.slug }}.png">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <table bgcolor="#ffffff">
                                                                        <tr>
                                                                            <td height="20"> </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-size: 14px; border-bottom: 20px solid transparent;">
                                                                                Dear <b> {{ user_name|safe }} </b>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-size: 14px; border-bottom: 15px solid transparent; line-height: 25px">
                                                                                <div >The winning numbers where:</div><br />
                                                                                <div style="font-size: 18px; color: #0072bc;">
                                                                                   {% display_winning_numbers game.id balls1 balls2 balls3 %}
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-size: 14px; border-bottom: 20px solid transparent;">
                                                                                {{ winning_phrase|safe }}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="border-bottom: 1px solid #d9d9d9; padding-bottom: 6px;">
                                                                            </td>
                                                                        </tr>
                                                                        <!--BODY - Your Results -->
                                                                        <tr>
                                                                            <td style="color: #005b8c; font-size: 24px; font-weight: bold; padding: 6px 0px 12px;">
                                                                                Your Results
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="530">
                                                                                <table width="530" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <td width="78" height="25" style="background-color: #00b1ff; color: #ffffff; font-size: 14px;font-weight:  bold; padding-left: 10px;">
                                                                                            Draw
                                                                                        </td>
                                                                                        <td width="205" height="25" style="background-color: #00b1ff; color: #ffffff; font-size: 14px;font-weight:  bold; padding-left: 10px;">
                                                                                            Your Entry
                                                                                        </td>
                                                                                        <td width="247" height="25" style="background-color: #00b1ff; color: #ffffff; font-size: 14px;font-weight:  bold; padding-left: 10px;">
                                                                                            Matches
                                                                                        </td>
                                                                                    </tr>

                                                                                    </thead>
                                                                                    <tbody>

                                                                                    {{ user_entries|safe }}

                                                                                    <tr>
                                                                                        <td colspan="3" style=" border-bottom: 1px solid #ebebeb;"></td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="20"> </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="1" style="border-bottom: 1px solid #d9d9d9;"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <!--BODY - Next Jackpot Estimated -->
                                                                        <tr>
                                                                            <td style="color: #005b8c; font-size: 24px; font-weight: bold; padding: 6px 0px 12px;">
                                                                                Next Estimated Jackpot
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="530">
                                                                                <table width="530" cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td width="170" style="border-top: 5px solid #ffffff; border-right: 5px solid #ffffff; background-color: #00b1ff; text-align: center; padding: 10px 0px;">
                                                                                            <a style="text-decoration: none; display: block; color: #ffffff; text-transform: uppercase" href="#"> {{ jackpot1|safe }}</a>
                                                                                        </td>
                                                                                        <td width="170" style="border-top: 5px solid #ffffff; border-left: 5px solid #ffffff; border-right: 5px solid #ffffff; background-color: #00b1ff; text-align: center; padding: 10px 0px;">
                                                                                            <a style="text-decoration: none; display: block; color: #ffffff; text-transform: uppercase" href="#"> {{ jackpot2|safe }}</a>
                                                                                        </td>
                                                                                        <td width="170" style="border-top: 5px solid #ffffff; border-left: 5px solid #ffffff; background-color: #00b1ff; text-align: center; padding: 10px 0px;">
                                                                                            <a style="text-decoration: none; display: block; color: #ffffff; text-transform: uppercase" href="#"> {{ jackpot3|safe }}</a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="170" style="border-right: 5px solid #ffffff">
                                                                                            <a href="#">
                                                                                                <img width="170" vspace="0" hspace="0" border="0" align="left" src="{{ site_domain }}/static/img/email/lotto-1.png">
                                                                                            </a>
                                                                                        </td>
                                                                                        <td width="170" style="border-left: 5px solid #ffffff; border-right: 5px solid #ffffff">
                                                                                            <a href="#">
                                                                                                <img width="170" vspace="0" hspace="0" border="0" align="left" src="{{ site_domain }}/static/img/email/lotto-2.png">
                                                                                            </a>
                                                                                        </td>
                                                                                        <td width="170" style="border-left: 5px solid #ffffff;">
                                                                                            <a href="#">
                                                                                                <img width="170" vspace="0" hspace="0" border="0" align="left" src="{{ site_domain }}/static/img/email/lotto-3.png">
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="170" style="border-top: 5px solid #ffffff; border-right: 5px solid #ffffff; background-color: #00b1ff; text-align: center; padding: 10px 0px;">
                                                                                            <a style="text-decoration: none; display: block; color: #ffffff; text-transform: uppercase" href="#"> play now</a>
                                                                                        </td>
                                                                                        <td width="170" style="border-top: 5px solid #ffffff; border-left: 5px solid #ffffff;  border-right: 5px solid #ffffff;  background-color: #00b1ff; text-align: center; padding: 10px 0px;">
                                                                                            <a style="text-decoration: none; display: block; color: #ffffff; text-transform: uppercase" href="#"> play now</a>
                                                                                        </td>
                                                                                        <td width="170" style="border-top: 5px solid #ffffff; border-left: 5px solid #ffffff; background-color: #00b1ff; text-align: center; padding: 10px 0px;">
                                                                                            <a style="text-decoration: none; display: block; color: #ffffff; text-transform: uppercase" href="#"> play now</a>
                                                                                        </td>
                                                                                    </tr>

                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="20"> </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-size: 14px; border-bottom: 20px solid transparent;">
                                                                                Thank you, <br>
                                                                                The <a href="#">www.lottostar.com</a> Team
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="1" style="border-bottom: 1px solid #d9d9d9;"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="10"> </td>
                                                                        </tr>
                                                                        <tr style="text-align:center;">
                                                                            <td style="font-size: 10px">
                                                                                <a href="{{ site_domain }}/accounts/profile/email/" style="text-decoration: none"> Your Email Settings</a> |
                                                                                <a href="htpp://twitter.com" style="text-decoration: none">Follow on Twitter</a>   |
                                                                                <a href="htpp://www.facebook.com" style="text-decoration: none">Become a fan on Facebook</a>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="20" style=""> </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>


                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr width="560">
                                                    <td width="560" height="20" colspan="3">
                                                        <table cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                            <tr>
                                                                <td height="20"></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="560" height="60" colspan="3" style="margin-top: 20px;">
                                                                    <a href="{{ site_domain }}">
                                                                        <img src="{{ site_domain }}/static/img/email/footer-btn.png">
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>