{% load game_tag_helpers i18n %}

<div>
    <table>
        <thead>
            <tr>
                <td colspan="2" width="960">
                    <div class="row">
                        <div class="small-4 columns">
                            <img src="/static/img/games/{{ product.slug }}/img/logo-long.png" style="max-height: 60px">
                        </div>
                        <div class="small-7 columns">
                            <h2 class="text-right" style="margin: 5px 0px 0px"><small> {{ product.draw_datetime|date:"l, d M Y" }}</small></h2>
                            <a href="{% url "game" product.slug %}"><button class="button radius right">{% trans "Play Now" %}</button></a>
                        </div>
                    </div>

                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="draw_entries_{{ product.slug }}" width="500">
                    <h3>{% trans "Winning numbers" %}</h3>
                    {% display_game_winning_numbers lottery_draw.balls1 lottery_draw.balls2 %}
                </td>
                <td id="draw_entries_{{ product.slug }}">
                    <hgroup>
                        <h3>{% trans "Jackpot" %}</h3>
                        <h2>{{ lottery_draw.jackpot|currency|safe }}</h2>
                    </hgroup>
                </td>
            </tr>
        </tbody>
    </table>

    <h4>{{ game }}</h4>
    <table>
        <tr>
            <th width="505">{% trans "Results" %}</th>
            <th width="450">{% trans "Prize per winner" %}</th>
        </tr>
        {% for prize in product.get_game.gameprize_set.all %}
        <tr>
            <td>{{ prize.name }}</td>
            <td>&euro; {% get_draw_prize lottery_draw.id prize.id %}</td>
        </tr>
        {% endfor %}
    </table>

    {% if product.get_game.games.get %}
        {% display_game_bonus lottery_draw.balls2 lottery_draw.balls3 %} <h4>{{ product.get_game.games.get }}</h4>
        <table>
            <tr>
                <th width="505">{% trans "Results" %}</th>
                <th width="450">{% trans "Prize per winner" %}</th>
            </tr>
            {% for prize in product.get_game.games.get.gameprize_set.all %}
            <tr>
                <td>{{ prize.name }}</td>
                <td>&euro; {% get_draw_prize lottery_draw.id prize.id %}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>






