{% load humanize game_tag_helpers %}
<select style="width: 300px" name="event-date" id="event_date" onchange="getDrawResult(true); ">
    {% for event in game|get_query_set  %}
        <option value="{{ event.id }}">{{ event.draw_datetime|date:"d M Y (l)" }}</option>
    {% endfor %}
</select>