{% extends "base.html" %}
{% load thumbnail i18n  game_tag_helpers %}

{% block js %}
    <script type="text/javascript">
        var product_slug = "{{ product.slug }}";
    </script>
    <script src="/static/js/results.js"></script>
{% endblock %}

{% block content %}
    <section id="content" class="row">
        <div class="main-panel">
            <ul class="breadcrumbs">
                <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                <li><a href="{% url "game_results" %}">{% trans "Results" %}</a></li>
                <li class="current"><a href=".">{% trans "RESULTS AND WINNING NUMBERS" %}</a></li>
            </ul>

            <h1>{{ product.name|upper }} {% trans "LOTTERY RESULTS" %}</h1>

            <div>
                <div class="small-3 left">{% trans "Choose a Date" %}</div>
                <div class="small-5 left">
                    <select name="game_event" id="game_event">
                        {% for date in game_list %}
                            <option value="{{ date.id }}">{{ date.draw_datetime|date:"l, d M Y" }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br/> &nbsp;
            <br/>

            <div id="resultloader">
                <br/>
                <br/>
                <br/>
                <center>
                    <img src="/static/img/loading.gif" alt="" width="128" height="128" /> <br/>
                    <h2>{% trans "Loading" %}...</h2>
                </center>
                <br/>
                <br/>
                <br/>
            </div>

            <div id="game_draw_results">
                {% include "game/draw_results.html" %}
            </div>

        </div>
        {% include "partials/sidebar.html" %}
    </section>
{% endblock %}