{% extends "base.html" %}
{% load thumbnail i18n humanize game_tag_helpers %}

{% block content %}
    <section id="content" class="row">
        <div class="main-panel">
            <ul class="breadcrumbs">
                <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                <li class="current"><a href=".">{% trans "RESULTS AND WINNING NUMBERS" %}</a></li>
            </ul>
            <h1>{% trans "CURRENT LOTTERY RESULTS" %}</h1>
            <div class="results">
                {% for product in product_list %}
                <table>
                    <thead>
                        <tr>
                            <td colspan="2" width="960">
                                <div class="row">
                                    <div class="small-12 columns">
                                        <img src="/static/img/games/{{ product.slug }}/img/logo-long.png" style="max-height: 60px" alt="Lottery Logo">
                                        <a href="{% url "game" product.slug %}"><div class="button radius right" style="margin-top: 15px">{% trans "Play Now" %}</div></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="draw_entries_{{ product.slug }}">
                                <h3>{% trans "Winning numbers" %}</h3>
                                {% display_winning_numbers product.get_game %}
                            </td>
                            <td style="vertical-align: top">
                                <h3>{% trans "Jackpot" %}</h3>
                                <h2>{{ product.get_current_winning.jackpot|currency|safe }}</h2>
                            </td>
                        </tr>
                        <tr>
                            <td class="draw_entries_{{ product.slug }}">
                                <a href="{% url "game_results_game" product.slug %}">
                                    <span data-icon="&#xe007;"></span> {% trans "Click here to view the complete prize breakdown" %}
                                </a>
                            </td>
                            <td>{% trans "Last Draw Date" %}: {{ product.get_current_winning.draw_datetime|date:"l, d M Y" }}</td>
                        </tr>
                   </tbody>
                </table>
                {% endfor %}
            </div>
        </div>

        {% include "partials/sidebar.html" %}
    </section>
    <div class="clear"></div>
{% endblock %}