{% for field in form %}
    <div class="form-row field-{{ field.name }}">
        <div>
            <div style='width: 8%; float:left;'>{{ field.label }}</div>
            {{ field }}
        </div>
    </div>
{% endfor %}
