<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <p>{{ field.contents|linebreaksbr }}</p>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <p class="help">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <div class='ajax-include-fields'>
        <script>
            $(document).ready(function(){
                //load reward type fields to append for the selected reward type when it changes
                $('.params #id_type').change(function(){
                    var selected_item = $(this).val();
                    append_fields(selected_item)
                });
                //load reward type fields to append for the selected reward type
                $(window).load(function(){
                    var selected_item = $('.params #id_type').val();
                    append_fields(selected_item)
                });
                //gets the reward type form fields to append to offer
                var append_fields = function(selected_item){
                    var url =   "{% url 'append-form-fields' %}";
                    var append_form_fields = function(data){
                        $(".ajax-include-fields").html(data);
                    };
                    $.ajax({
                        url: url,
                        type: 'get',
                        cache: false,
                        data: {'item': selected_item, 'offer_id': '{{ object_id }}'},
                        success: append_form_fields
                    })
                }
              })
        </script>
    </div>
</fieldset>