{% extends "admin/change_list.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/admin/">{% trans "Home" %}</a>
    &rsaquo; <a href="/admin/auth/">{% trans "Auth" %}</a>
    &rsaquo; <a href="/admin/auth/customer/"> {% trans "Customer" %}</a>
    &rsaquo; <a href="/admin/auth/customer/{{ customer_id }}/">{{ customer }}</a>
    &rsaquo; <a href="/admin/auth/restriction/">{% trans "Responsible Gambling" %}</a>
</div>
{% endblock %}
