{% extends "registration/base.html" %}
{% load i18n static %}

{% block breadcrumb %}{% trans "Activate" %}{% endblock %}
{% block page_title %}{% trans "Resend activation key" %}{% endblock %}
{% block description %}{% trans "Please enter your registed email address" %}:{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-6 large-centered columns">
            {% trans "Send Activation" as button_value %}
            {% include "common/form.html" with button_value=button_value %}
        </div>
    </div>
{% endblock %}

