{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumb %}{% trans "Activation" %} &nbsp; / &nbsp; {% trans "Failed!" %}{% endblock %}
{% block page_title %}{% trans "Your account failed to activate!" %}{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    {% blocktrans  %}
        Your account failed to activate, due to one of the following reasons:<br/>
        <br/>
        1. Your account is <strong>already</strong> activated. <br/>
        2. Your account is blocked. <br/>
        3. The account email does not exist. <br/><br/>
    {% endblocktrans %}
        {% trans "Please" %} <a href="{% url "contact" %}">{% trans "contact us" %}</a> {% trans "if you experience any further problems." %} <br/>
{% endblock %}
