{% extends "base.html" %}
{% load webdesign i18n %}

{% block content %}
    {% include "common/messages.html" %}

    <section id="content" class="row">
        <div class="main-panel">
            {% if request.user.is_authenticated %}
            <ul class="breadcrumbs">
                <li><a href="{% url "account_index" %}">{% trans "My Account" %}</a></li>
                <li {% block breadcrumb_current %}class="current"{% endblock %}><a href=".">{% block breadcrumb %}{% endblock %}</a></li>
                {% block breadcrumb_extra %}{% endblock %}
            </ul>
            {% endif %}

            <h1>{% block page_title %}{% endblock %}<br>
                <small>{% block description %}{% trans "Please fill in the fields below" %}{% endblock %}</small>
            </h1>

            {% if form.errors %}
                <h4 class="row text-center">
                    <div class="alert alert-error">{% trans "Please correct the error(s) below." %}</div>
                </h4>
            {% endif %}

            {% block body %}{% endblock %}
        </div>

        <div class="side-panel">
            {% block relative-links %}
                <h2>{% trans "Relative Links" %}</h2>

                <ul class="side-nav">
                    {% block sidepanel %}
                        {% if not request.user.is_authenticated %}
                            <li><a href="{% url "auth_login" %}">{% trans "Login" %}</a></li>
                            <li><a href="{% url "register" %}">{% trans "Register" %}</a></li>
                            <li><a href="{% url "auth_forgot_password" %}">{% trans "Forgot your password?" %}</a></li>
                        {% else %}
                            <li><a href="{% url "account_index" %}">{% trans "&laquo; Back to accounts" %}</a></li>
                        {% endif %}
                    {% endblock %}
                </ul>
            {% endblock %}

            <h2>{% trans "Secure Login" %}</h2>

            <article>
                <div class="subheader">{% trans "Important Notice" %}</div>
                {{ config.security.get_translation.content|striptags }}
            </article>
        </div>
    </section>
    <div class="clear"></div>
{% endblock %}
