{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumb %}{% trans "Forgot Password" %}{% endblock %}
{% block page_title %}{% trans "Reset Password Email Sent" %}{% endblock %}
{% block description %}{% trans "Please Check Your Inbox!" %}{% endblock %}

{% block body %}
    {% url "auth_login" as auth_login %}
    {% blocktrans %}
        Click <a href="{{ auth_login }}">here</a> to login.
    {% endblocktrans %}
{% endblock %}

{% block middle-section %}
    <li><a class="btn btn-large btn-color" href="{% url "auth_login" %}">{% trans "Login" %}</a></li>
    <li><a class="btn btn-large btn-color" href="{% url "register" %}">{% trans "Register" %}</a></li>
    <li><a class="btn btn-large btn-color" href="{% url "auth_activation_resend" %}">{% trans "Activate your account" %}</a></li>
{% endblock %}
