{% extends "registration/base.html" %}
{% load i18n static %}

{% block breadcrumb %}{% trans "Login" %}{% endblock %}
{% block page_title %}{% trans "Login" %}{% endblock %}
{% block description %}{% trans "Please enter your username and password below" %}:{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-6 large-centered columns">
            {% trans "Login" as button_value %}
            {% include "common/form.html" with button_value=button_value %}
        </div>
    </div>


    <div class="row text-center">
        <span><a href="{% url "register" %}">{% trans "Register?" %}</a></span> |
        <span><a href="{% url "auth_forgot_password" %}">{% trans "Forgotten your password?" %}</a></span>
    </div>
{% endblock %}