{% extends "registration/base.html" %}
{% load i18n static %}

{% block breadcrumb %}{% trans "Logout" %}{% endblock %}
{% block page_title %}{% trans "Logout" %}{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    <center>
        <img src="/static/img/account/icon-extra.png">

        <br/>
        <br/>

        <h3>{% trans "You have successfully logged out." %}</h3>

        <h4>{% trans "Hope to see you soon" %}</h4>
    </center>

    <h1><small>{% trans "Please choose one of the games below and play:" %}</small></h1>

    {% include "play/partials/game_selectors.html" %}
{% endblock %}
