{% extends "registration/base.html" %}
{% load i18n static %}

{% block breadcrumb %}{% trans "Update password" %}{% endblock %}
{% block page_title %}{% trans "Update your Password" %}{% endblock %}
{% block description %}{% trans "Please enter your old and new passwords" %}:{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-6 large-centered columns">
            {% trans "Update" as button_value %}
            {% include "common/form.html" with button_value=button_value %}
        </div>
    </div>
{% endblock %}

