{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumb %}{% trans "Update Email" %}{% endblock %}
{% block page_title %}{% trans "Email Updated Successfully" %}{% endblock %}
{% block description %}{% trans "Please check your inbox" %}{% endblock %}

{% block body %}
    <center>
        <br>
        <img src="/static/img/logo-bird.png">

        <h3>{% trans "Your account has successfully been updated" %}</h3>
        {% trans "however you will need to reactivate your email address." %}
        <br/>
        {% trans "Please check your inbox for our email with the activation link." %}
    </center>

{% endblock %}
