{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumb %}{% trans "Update Password" %}{% endblock %}
{% block page_title %}{% trans "Password updated successfully" %}{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    <center>
        <h3>{% trans "You have successfully updated your password" %}</h3>
        <br/>
        <a class="button" href="{% url "account_profile_password" %}">{% trans "Back" %}</a>
    </center>
{% endblock %}

