{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumb %}{% trans "Profile" %}{% endblock %}
{% block page_title %}{% trans "Profile Updated Successfully" %}{% endblock %}
{% block description %}{% endblock %}
{% block body %}
    <center>
        <h3>{% trans "You have successfully updated your profile" %}</h3>
        <br/>
        <a class="button" href="{% url "account_profile" %}">{% trans "Back" %}</a>
    </center>
{% endblock %}

