{% extends "registration/base.html" %}
{% load i18n static %}

{% block breadcrumb %}{% trans "Register" %}{% endblock %}
{% block page_title %}{% trans "Register" %}{% endblock %}
{% block description %}{% trans "Please enter your details below" %}:{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-6 large-centered columns">
            {% trans "Register" as button_value %}
            {% include "common/form.html" with button_value=button_value %}
        </div>
    </div>
{% endblock %}

{% block sidepanel %}
    <li><a href="{% url "auth_login" %}">{% trans "Login" %}</a></li>
    <li><a href="{% url "auth_forgot_password" %}">{% trans "Forgot your password?" %}</a></li>
{% endblock %}
