{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumb %}{% trans "Registration" %}{% endblock %}
{% block page_title %}{% trans "Registration complete" %}{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    {% blocktrans  %}
        <p>Congratulations, your account has successfully been created. Please check your inbox for the welcoming email we sent you.</p>
        <br/>
        <p>We have already gone-ahead and logged you into the system.</p>
        <br/>
        <p>Thank you for signing up with LottoStar, and Welcome!</p>
    {% endblocktrans %}

    <h1><small>{% trans "Please choose one of the games below and play:" %}</small></h1>

    {% include "play/partials/game_selectors.html" %}

{% endblock %}

