{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumb %}{% trans "Registration" %}{% endblock %}
{% block page_title %}{% trans "Registration complete" %}{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    {% blocktrans  %}
        <p>Congratulations, your account has successfully been created.</p>
        <p>We however regret that your account has been suspended. Contact our support team (support@lottostar.co.za) for assistance.</p>
        <p>We have sent you an email to activate your account.</p>
        <p>Please check your inbox and click the link provided in the mail to activate your email address.</p>
    {% endblocktrans %}
{% endblock %}

