<!DOCTYPE html>
<html>
<head>
<style>
h3 {
  font-size: 20px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  color: #B8A500;
}
p {
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  color: grey;
}

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<!--<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
<script type="text/javascript">
  function set_openid(id, openid)
  {
    var inputElems = document.getElementsByTagName("input"),
    form = document.forms['login'];
    for (var i=0; i<inputElems.length; i++) 
    {
      if (inputElems[i].type == "checkbox" && inputElems[i].checked == true && openid == 0.0)
      {
        alert("N/A or POR") ; 
      }
    }
    if (openid != 0.0)
    {
      var y = form.elements['openid'].value;
      var z = openid;
      var x = +y + +z;
      form.elements['openid'].value = x;
      form.elements['remember_me'].value += id;
    }
  }

  function checkboxes(ids)
  {
    var inputElems = document.getElementsByTagName("input"),
    count = 0;
    var idval = ids

    for (var i=0; i<inputElems.length; i++) {       
      if (inputElems[i].type == "checkbox" && inputElems[i].checked == true && inputElems[i].id == idval){
        count++;
        if (count > 1)
          alert("You can not choose a Specy with different Taxidermy at once! Please choose only one Taxidermy per Specy!!! e.g: Baboon - Shoulder mount; Barbersheep - Shoulder mount AND NOT Baboon - Shoulder mount; Baboon - Pedestal mount incl. pedestal, etc. Please after exiting this window, press Reset button at the bottom of this page to recompute your Cost.");
      }

    }
  }

  function myFunction() {
      document.getElementById("myForm").reset();
  }

  </script>
</head>

<body>

<form action="" method="post" name="login" id="myForm">
  {{ form.hidden_tag() }}

  <p>Please select your taxidermy work you like to be done <b style="color:red">(NB: Whenever unticked a non desired product, ALWAYS press the Reset button at the bottom of this page!!):</b></p>

{% set sm  = 0 %}
{% set pde = 0 %} 
{% set fm  = 0 %}
{% set em  = 0 %}
{% set tfs  = 0 %}
{% set tfswf  = 0 %}
{% set tbs = 0 %}
{% set tbswf = 0 %}
{% set rm = 0 %}
{% set ped = 0 %}
{% set country_id = country_id %}

<table>
  <tr>
    <th>{% if country_id=='258' %} 
      {% set country_id = 258 %}
       EU - Countrys 
  {% endif %}
  {% if country_id=='167' %}
        {% set country_id = 167 %}
        Norway
    {% endif %}
  {% if country_id=='256' %}
        {% set country_id = 256 %}
        USA/Canada/Mexico/Russia/China
    {% endif %}
                </th>
    <th> Species </th>
    <th>{{ taxidermy[0] }}</th>
    <th>{{ taxidermy[1] }}</th>
    <th>{{ taxidermy[2] }}</th>
    <th>{{ taxidermy[3] }}</th>
    <th>{{ taxidermy[4] }}</th>
    <th>{{ taxidermy[5] }}</th>
    <th>{{ taxidermy[6] }}</th>
    <th>{{ taxidermy[7] }}</th>
    <th>{{ taxidermy[8] }}</th>
    <!--<th>{{ taxidermy[10] }}</th>
    <th>{{ taxidermy[10] }}</th>-->
  </tr>

  <tr {% for entrysm in entriessm %}>
    {% if entrysm.countrysm[0]== country_id %}
      <!--<td>{{ entrysm.countrysm[0] }}</td>-->

      {% if entrysm.countrysm[0]== 258 %}
      <td>{{ sm+1 }}</td>
      <td>{{ spicies[sm] }}</td>
      <!--<td>"{{ entrysm.idsm }}{{ entriesped[ped]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}"</td>-->
      <td><a href="javascript:set_openid('{{ entrysm.idsm }},',{{ entrysm.pricesm }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[ped]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[ped]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}');"></td>

        <!--<td>{{ entriesped[ped]['nameped'] }}</td>-->
        <td><a href="javascript:set_openid('{{ entriesped[ped]['idped'] }},',{{ entriesped[ped]['priceped'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[ped]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[ped]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}');"></td>
        {% set ped = ped+3 %}

        <!--<td>{{ entriesfm[fm]['namefm'] }}</td>-->
        <td><a href="javascript:set_openid('{{ entriesfm[fm]['idfm'] }},',{{ entriesfm[fm]['pricefm'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[fm]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[fm]['idem'] }}{{ entriestfs[fm]['idtfs'] }}{{ entriestfswf[fm]['idtfswf'] }}{{ entriestbs[fm]['idtbs'] }}{{ entriestbswf[fm]['idtbswf'] }}{{ entriesrm[fm]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[fm]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[fm]['idem'] }}{{ entriestfs[fm]['idtfs'] }}{{ entriestfswf[fm]['idtfswf'] }}{{ entriestbs[fm]['idtbs'] }}{{ entriestbswf[fm]['idtbswf'] }}{{ entriesrm[fm]['idrm'] }}');"></td>
        {% set fm = fm+3 %}

        <td><a href="javascript:set_openid('{{ entriesem[em]['idem'] }},',{{ entriesem[em]['priceem'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[em]['idped'] }}{{ entriesfm[em]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[em]['idtfs'] }}{{ entriestfswf[em]['idtfswf'] }}{{ entriestbs[em]['idtbs'] }}{{ entriestbswf[em]['idtbswf'] }}{{ entriesrm[em]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[em]['idped'] }}{{ entriesfm[em]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[em]['idtfs'] }}{{ entriestfswf[em]['idtfswf'] }}{{ entriestbs[em]['idtbs'] }}{{ entriestbswf[em]['idtbswf'] }}{{ entriesrm[em]['idrm'] }}');"></td>
        {% set em = em+3 %}
      
 
        <td><a href="javascript:set_openid('{{ entriestfs[tfs]['idtfs'] }},',{{ entriestfs[tfs]['pricetfs'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[tfs]['idped'] }}{{ entriesfm[tfs]['idfm'] }}{{ entriesem[tfs]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfs]['idtfswf'] }}{{ entriestbs[tfs]['idtbs'] }}{{ entriestbswf[tfs]['idtbswf'] }}{{ entriesrm[tfs]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[tfs]['idped'] }}{{ entriesfm[tfs]['idfm'] }}{{ entriesem[tfs]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfs]['idtfswf'] }}{{ entriestbs[tfs]['idtbs'] }}{{ entriestbswf[tfs]['idtbswf'] }}{{ entriesrm[tfs]['idrm'] }}');"></td>
        {% set tfs = tfs+3 %}
      

        <td><a href="javascript:set_openid('{{ entriestfswf[tfswf]['idtfswf'] }},',{{ entriestfswf[tfswf]['pricetfswf'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[tfswf]['idped'] }}{{ entriesfm[tfswf]['idfm'] }}{{ entriesem[tfswf]['idem'] }}{{ entriestfs[tfswf]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tfswf]['idtbs'] }}{{ entriestbswf[tfswf]['idtbswf'] }}{{ entriesrm[tfswf]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[tfswf]['idped'] }}{{ entriesfm[tfswf]['idfm'] }}{{ entriesem[tfswf]['idem'] }}{{ entriestfs[tfswf]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tfswf]['idtbs'] }}{{ entriestbswf[tfswf]['idtbswf'] }}{{ entriesrm[tfswf]['idrm'] }}');"></td>
        {% set tfswf = tfswf+3 %}
      

        <td><a href="javascript:set_openid('{{ entriestbs[tbs]['idtbs'] }},',{{ entriestbs[tbs]['pricetbs'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[tbs]['idped'] }}{{ entriesfm[tbs]['idfm'] }}{{ entriesem[tbs]['idem'] }}{{ entriestfs[tbs]['idtfs'] }}{{ entriestfswf[tbs]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbs]['idtbswf'] }}{{ entriesrm[tbs]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[tbs]['idped'] }}{{ entriesfm[tbs]['idfm'] }}{{ entriesem[tbs]['idem'] }}{{ entriestfs[tbs]['idtfs'] }}{{ entriestfswf[tbs]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbs]['idtbswf'] }}{{ entriesrm[tbs]['idrm'] }}');"></td>
        {% set tbs = tbs+3 %}


        <td><a href="javascript:set_openid('{{ entriestbswf[tbswf]['idtbswf'] }},',{{ entriestbswf[tbswf]['pricetbswf'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[tbswf]['idped'] }}{{ entriesfm[tbswf]['idfm'] }}{{ entriesem[tbswf]['idem'] }}{{ entriestfs[tbswf]['idtfs'] }}{{ entriestfswf[tbswf]['idtfswf'] }}{{ entriestbs[tbswf]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[tbswf]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[tbswf]['idped'] }}{{ entriesfm[tbswf]['idfm'] }}{{ entriesem[tbswf]['idem'] }}{{ entriestfs[tbswf]['idtfs'] }}{{ entriestfswf[tbswf]['idtfswf'] }}{{ entriestbs[tbswf]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[tbswf]['idrm'] }}');"></td>
        {% set tbswf = tbswf+3 %}


        <td><a href="javascript:set_openid('{{ entriesrm[rm]['idrm'] }},',{{ entriesrm[rm]['pricerm'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[rm]['idped'] }}{{ entriesfm[rm]['idfm'] }}{{ entriesem[rm]['idem'] }}{{ entriestfs[rm]['idtfs'] }}{{ entriestfswf[rm]['idtfswf'] }}{{ entriestbs[rm]['idtbs'] }}{{ entriestbswf[rm]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[rm]['idped'] }}{{ entriesfm[rm]['idfm'] }}{{ entriesem[rm]['idem'] }}{{ entriestfs[rm]['idtfs'] }}{{ entriestfswf[rm]['idtfswf'] }}{{ entriestbs[rm]['idtbs'] }}{{ entriestbswf[rm]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}');"></td>
        {% set rm = rm+3 %}


      {% set sm = sm+1 %}
      {% endif %}

      {% if entrysm.countrysm[0]== 167 %}
      <td>{{ sm+1 }}</td>
      <td>{{ spicies[sm] }}</td>
      <!--<td>{{ entrysm.namesm }}</td>-->
      <td><a href="javascript:set_openid('{{ entrysm.idsm }},',{{ entrysm.pricesm }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[ped]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[ped]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}');"></td>

        <!--<td>{{ entriesped[ped]['nameped'] }}</td>-->
        <td><a href="javascript:set_openid('{{ entriesped[ped]['idped'] }},',{{ entriesped[ped+1]['priceped'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[ped]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[ped]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}');"></td>
        {% set ped = ped+3 %}

        <!--<td>{{ entriesfm[fm]['namefm'] }}</td>-->
        <td><a href="javascript:set_openid('{{ entriesfm[fm]['idfm'] }},',{{ entriesfm[fm+1]['pricefm'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[fm]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[fm]['idem'] }}{{ entriestfs[fm]['idtfs'] }}{{ entriestfswf[fm]['idtfswf'] }}{{ entriestbs[fm]['idtbs'] }}{{ entriestbswf[fm]['idtbswf'] }}{{ entriesrm[fm]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[fm]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[fm]['idem'] }}{{ entriestfs[fm]['idtfs'] }}{{ entriestfswf[fm]['idtfswf'] }}{{ entriestbs[fm]['idtbs'] }}{{ entriestbswf[fm]['idtbswf'] }}{{ entriesrm[fm]['idrm'] }}');"></td>
        {% set fm = fm+3 %}

        <td><a href="javascript:set_openid('{{ entriesem[em]['idem'] }},',{{ entriesem[em+1]['priceem'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[em]['idped'] }}{{ entriesfm[em]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[em]['idtfs'] }}{{ entriestfswf[em]['idtfswf'] }}{{ entriestbs[em]['idtbs'] }}{{ entriestbswf[em]['idtbswf'] }}{{ entriesrm[em]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[em]['idped'] }}{{ entriesfm[em]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[em]['idtfs'] }}{{ entriestfswf[em]['idtfswf'] }}{{ entriestbs[em]['idtbs'] }}{{ entriestbswf[em]['idtbswf'] }}{{ entriesrm[em]['idrm'] }}');"></td>
        {% set em = em+3 %}
      
 
        <td><a href="javascript:set_openid('{{ entriestfs[tfs]['idtfs'] }},',{{ entriestfs[tfs+1]['pricetfs'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[tfs]['idped'] }}{{ entriesfm[tfs]['idfm'] }}{{ entriesem[tfs]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfs]['idtfswf'] }}{{ entriestbs[tfs]['idtbs'] }}{{ entriestbswf[tfs]['idtbswf'] }}{{ entriesrm[tfs]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[tfs]['idped'] }}{{ entriesfm[tfs]['idfm'] }}{{ entriesem[tfs]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfs]['idtfswf'] }}{{ entriestbs[tfs]['idtbs'] }}{{ entriestbswf[tfs]['idtbswf'] }}{{ entriesrm[tfs]['idrm'] }}');"></td>
        {% set tfs = tfs+3 %}
      

        <td><a href="javascript:set_openid('{{ entriestfswf[tfswf]['idtfswf'] }},',{{ entriestfswf[tfswf+1]['pricetfswf'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[tfswf]['idped'] }}{{ entriesfm[tfswf]['idfm'] }}{{ entriesem[tfswf]['idem'] }}{{ entriestfs[tfswf]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tfswf]['idtbs'] }}{{ entriestbswf[tfswf]['idtbswf'] }}{{ entriesrm[tfswf]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[tfswf]['idped'] }}{{ entriesfm[tfswf]['idfm'] }}{{ entriesem[tfswf]['idem'] }}{{ entriestfs[tfswf]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tfswf]['idtbs'] }}{{ entriestbswf[tfswf]['idtbswf'] }}{{ entriesrm[tfswf]['idrm'] }}');"></td>
        {% set tfswf = tfswf+3 %}
      

        <td><a href="javascript:set_openid('{{ entriestbs[tbs]['idtbs'] }},',{{ entriestbs[tbs+1]['pricetbs'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[tbs]['idped'] }}{{ entriesfm[tbs]['idfm'] }}{{ entriesem[tbs]['idem'] }}{{ entriestfs[tbs]['idtfs'] }}{{ entriestfswf[tbs]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbs]['idtbswf'] }}{{ entriesrm[tbs]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[tbs]['idped'] }}{{ entriesfm[tbs]['idfm'] }}{{ entriesem[tbs]['idem'] }}{{ entriestfs[tbs]['idtfs'] }}{{ entriestfswf[tbs]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbs]['idtbswf'] }}{{ entriesrm[tbs]['idrm'] }}');"></td>
        {% set tbs = tbs+3 %}


        <td><a href="javascript:set_openid('{{ entriestbswf[tbswf]['idtbswf'] }},',{{ entriestbswf[tbswf+1]['pricetbswf'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[tbswf]['idped'] }}{{ entriesfm[tbswf]['idfm'] }}{{ entriesem[tbswf]['idem'] }}{{ entriestfs[tbswf]['idtfs'] }}{{ entriestfswf[tbswf]['idtfswf'] }}{{ entriestbs[tbswf]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[tbswf]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[tbswf]['idped'] }}{{ entriesfm[tbswf]['idfm'] }}{{ entriesem[tbswf]['idem'] }}{{ entriestfs[tbswf]['idtfs'] }}{{ entriestfswf[tbswf]['idtfswf'] }}{{ entriestbs[tbswf]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[tbswf]['idrm'] }}');"></td>
        {% set tbswf = tbswf+3 %}


        <td><a href="javascript:set_openid('{{ entriesrm[rm]['idrm'] }},',{{ entriesrm[rm+1]['pricerm'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriesrm[rm]['idrm'] }}></td>
        {% set rm = rm+3 %}


      {% set sm = sm+1 %}
      {% endif %}

      {% if entrysm.countrysm[0]== 256 %}
      <td>{{ sm+1 }}</td>
      <td>{{ spicies[sm] }}</td>
      <!--<td>{{ entrysm.namesm }}</td>-->
      <td><a href="javascript:set_openid('{{ entrysm.idsm }},',{{ entrysm.pricesm }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[ped]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[ped]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}');"></td>

        <!--<td>{{ entriesped[ped]['nameped'] }}</td>-->
        <td><a href="javascript:set_openid('{{ entriesped[ped]['idped'] }},',{{ entriesped[ped+2]['priceped'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[ped]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[ped]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}');"></td>
        {% set ped = ped+3 %}

        <!--<td>{{ entriesfm[fm]['namefm'] }}</td>-->
        <td><a href="javascript:set_openid('{{ entriesfm[fm]['idfm'] }},',{{ entriesfm[fm+2]['pricefm'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[fm]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[fm]['idem'] }}{{ entriestfs[fm]['idtfs'] }}{{ entriestfswf[fm]['idtfswf'] }}{{ entriestbs[fm]['idtbs'] }}{{ entriestbswf[fm]['idtbswf'] }}{{ entriesrm[fm]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[fm]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[fm]['idem'] }}{{ entriestfs[fm]['idtfs'] }}{{ entriestfswf[fm]['idtfswf'] }}{{ entriestbs[fm]['idtbs'] }}{{ entriestbswf[fm]['idtbswf'] }}{{ entriesrm[fm]['idrm'] }}');"></td>
        {% set fm = fm+3 %}

        <td><a href="javascript:set_openid('{{ entriesem[em]['idem'] }},',{{ entriesem[em+2]['priceem'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[em]['idped'] }}{{ entriesfm[em]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[em]['idtfs'] }}{{ entriestfswf[em]['idtfswf'] }}{{ entriestbs[em]['idtbs'] }}{{ entriestbswf[em]['idtbswf'] }}{{ entriesrm[em]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[em]['idped'] }}{{ entriesfm[em]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[em]['idtfs'] }}{{ entriestfswf[em]['idtfswf'] }}{{ entriestbs[em]['idtbs'] }}{{ entriestbswf[em]['idtbswf'] }}{{ entriesrm[em]['idrm'] }}');"></td>
        {% set em = em+3 %}
      
 
        <td><a href="javascript:set_openid('{{ entriestfs[tfs]['idtfs'] }},',{{ entriestfs[tfs+2]['pricetfs'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[tfs]['idped'] }}{{ entriesfm[tfs]['idfm'] }}{{ entriesem[tfs]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfs]['idtfswf'] }}{{ entriestbs[tfs]['idtbs'] }}{{ entriestbswf[tfs]['idtbswf'] }}{{ entriesrm[tfs]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[tfs]['idped'] }}{{ entriesfm[tfs]['idfm'] }}{{ entriesem[tfs]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfs]['idtfswf'] }}{{ entriestbs[tfs]['idtbs'] }}{{ entriestbswf[tfs]['idtbswf'] }}{{ entriesrm[tfs]['idrm'] }}');"></td>
        {% set tfs = tfs+3 %}
      

        <td><a href="javascript:set_openid('{{ entriestfswf[tfswf]['idtfswf'] }},',{{ entriestfswf[tfswf+2]['pricetfswf'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[tfswf]['idped'] }}{{ entriesfm[tfswf]['idfm'] }}{{ entriesem[tfswf]['idem'] }}{{ entriestfs[tfswf]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tfswf]['idtbs'] }}{{ entriestbswf[tfswf]['idtbswf'] }}{{ entriesrm[tfswf]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[tfswf]['idped'] }}{{ entriesfm[tfswf]['idfm'] }}{{ entriesem[tfswf]['idem'] }}{{ entriestfs[tfswf]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tfswf]['idtbs'] }}{{ entriestbswf[tfswf]['idtbswf'] }}{{ entriesrm[tfswf]['idrm'] }}');"></td>
        {% set tfswf = tfswf+3 %}
      

        <td><a href="javascript:set_openid('{{ entriestbs[tbs]['idtbs'] }},',{{ entriestbs[tbs+2]['pricetbs'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[tbs]['idped'] }}{{ entriesfm[tbs]['idfm'] }}{{ entriesem[tbs]['idem'] }}{{ entriestfs[tbs]['idtfs'] }}{{ entriestfswf[tbs]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbs]['idtbswf'] }}{{ entriesrm[tbs]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[tbs]['idped'] }}{{ entriesfm[tbs]['idfm'] }}{{ entriesem[tbs]['idem'] }}{{ entriestfs[tbs]['idtfs'] }}{{ entriestfswf[tbs]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbs]['idtbswf'] }}{{ entriesrm[tbs]['idrm'] }}');"></td>
        {% set tbs = tbs+3 %}


        <td><a href="javascript:set_openid('{{ entriestbswf[tbswf]['idtbswf'] }},',{{ entriestbswf[tbswf+2]['pricetbswf'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[tbswf]['idped'] }}{{ entriesfm[tbswf]['idfm'] }}{{ entriesem[tbswf]['idem'] }}{{ entriestfs[tbswf]['idtfs'] }}{{ entriestfswf[tbswf]['idtfswf'] }}{{ entriestbs[tbswf]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[tbswf]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[tbswf]['idped'] }}{{ entriesfm[tbswf]['idfm'] }}{{ entriesem[tbswf]['idem'] }}{{ entriestfs[tbswf]['idtfs'] }}{{ entriestfswf[tbswf]['idtfswf'] }}{{ entriestbs[tbswf]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[tbswf]['idrm'] }}');"></td>
        {% set tbswf = tbswf+3 %}


        <td><a href="javascript:set_openid('{{ entriesrm[rm]['idrm'] }},',{{ entriesrm[rm+2]['pricerm'] }});"><INPUT TYPE=checkbox NAME='taxi' id="{{ entrysm.idsm }}{{ entriesped[rm]['idped'] }}{{ entriesfm[rm]['idfm'] }}{{ entriesem[rm]['idem'] }}{{ entriestfs[rm]['idtfs'] }}{{ entriestfswf[rm]['idtfswf'] }}{{ entriestbs[rm]['idtbs'] }}{{ entriestbswf[rm]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}" onClick="checkboxes('{{ entrysm.idsm }}{{ entriesped[rm]['idped'] }}{{ entriesfm[rm]['idfm'] }}{{ entriesem[rm]['idem'] }}{{ entriestfs[rm]['idtfs'] }}{{ entriestfswf[rm]['idtfswf'] }}{{ entriestbs[rm]['idtbs'] }}{{ entriestbswf[rm]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}');"></td>
        {% set rm = rm+3 %}


      {% set sm = sm+1 %}
      {% endif %}
    {% endif %}
  </tr {% endfor %}>
</table>

    <h3>
        Total Cost: {{ form.openid(disabled=True) }} 
        {% for error in form.openid.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}  &nbsp;&nbsp;&nbsp;&nbsp;  <input type="button" onclick="myFunction()" value="Reset"><br>
    </h3> 
    <p><hr></p>
    <h3>Receive an email Quotation:</h3>
    <p>If you like to have a specified "break-down" cost calculation, please fill in your name, e-mail address and press SUBMIT (Submit for Quotation)</p> 
    <p>Name: {{ form.name }}  
      {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %} &nbsp;&nbsp;&nbsp;&nbsp;
      Surname: {{ form.surname }}  
      {% for error in form.surname.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p> 
    <p>Email: {{ form.email }}  
      {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
      <input type="submit" value="Submit for Quotation"> </p>
    
<p hidden>{{ form.remember_me }}</p>
{% for error in form.remember_me.errors %}
  <span style="color: red;">[{{ error }}]</span>
{% endfor %}<br>
</form>
</body>
</html>
