{% extends "admin/base.html" %}

{% load i18n admin_tools_menu_tags %}

{% block title %}LottoStar | {{ title }} {% endblock %}

{% block extrastyle %}
{{ block.super }}
{% if user.is_active and user.is_staff %}
{% if not is_popup %}
{% if not query.pop %}
{% admin_tools_render_menu_css %}
{% endif %}
{% endif %}
{% endif %}
{% endblock %}

{% block blockbots %}
{{ block.super }}
<script type="text/javascript" src="/static/js/admin.js"></script>
{% endblock %}

{% block branding %}
{% if not query.pop %}
<h1 id="site-name">LottoStar</h1>
{% endif %}
{% endblock %}

{% block nav-global %}
{% if user.is_active and user.is_staff %}
{% if not is_popup %}
{% if not query.pop %}
{% admin_tools_render_menu %}
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
