@import "../compass";
@import "../site/fonts";
@import "../site/colors";
@import "../site/modules";

$default-text-shadow-color: $blue-darkest;
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;

#deckloader {
  position: relative;
  margin: 0 auto;
  top: 30%;

}

.game-title, .meter-container {
  padding: 20px 20px 0px;
  display: inline-block;
  min-height: 114px;
}

.meter-container {
  margin-top: -35px;
  margin-bottom: -100px;
  padding-bottom: 0px;
  height: 256px;
  border-radius: 50%;

  span{
	text-transform:uppercase;
	font-weight:900;
	font-size:90%;
	display:block;
    font-family: "PT Sans";
    color: $grey-dark;
	position:absolute;
    left: 0px;
	top:80px;
	width:100%;
	text-align:center;
    margin-top: -10px;
  }
}
.game-title h1 {
  padding: 0px !important;
}
#topLoader {
  width: 265px;
  height: 265px;
  margin: -35px auto 0;
  padding: 5px;
}

.top-banner-container, .control-bar, .confirmation-bar {
  position: relative;
}

.top-banner-container {
  @include background-bar($margin: 0px 0px 20px, $padding: 10px 20px 0px);
  min-height: 80px;
}

.control-bar {
  .row .small-4 {
    width: 30.333%;
  }
  .row .large-5 {
  width: 35.667%;
}
  color: #333;
  @include background-bar();

  input[type="text"] {
    margin-top: 5px;
    margin-bottom: 0px !important;
  }
  .custom {
    margin-top: 5px !important;
  }
  form.custom .custom.checkbox:before {
    font-size: 20px !important;
  }
  label {
    color: #333;
  }
}

.date-selector {
  margin: 9px 0px 0px;
  .inline-list {
    margin-bottom: 0;
  }
   ul {
     margin-bottom: 0px;
   }
  li {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    height: 25px;
    display: inline-block;
    text-align: center;
    margin-left: 1px;
    padding: 1px;

    .active {
      background-color: $blue-mid-dark;
    }
    .un-active {
      background-color: $blue-darkest;
      &:hover {
        background-color: $blue-mid-dark;
      }
    }
    .unavailable {
      background-color: $grey-dark;
    }
    a {
      background-color: $grey-mid;
      color: white;
      font-weight: 700;
      vertical-align: top;
    }
  }
}
.confirmation-bar {
  color: white;
  min-height: 50px;
  @include background-bar($padding: 5px 10px,$margin: 0px 0px, $bg-color: $blue-mid-dark, $color-1: $blue-mid-dark, $color-2: $blue-dark);

  span {
    font-weight: bold;
    font-size: emCalc(25px);
    letter-spacing: 2px;
  }
}


.jackpot-container {
  font-family: "PT Sans";
  display: block;
  min-height: 63px;
  margin: 5px 10px 0px !important;
  background-color: $blue-mid-dark;
  border: 2px solid $blue-dark;
  border-radius: 50px;
  color: white;
  vertical-align: middle;
  font-weight: 700;
  @include single-text-shadow;
  letter-spacing: 1px;

  .jackpot {
   position: absolute;
    text-transform: uppercase;
    vertical-align: middle;
    color: $blue-darkest;
    border: 1px solid $blue-darkest;
    height: 24px;
    display: block;
    text-align: center;
    text-shadow: none !important;
    background-color: $grey-light;
    margin-top: -10px;
    margin-bottom: 5px;
    padding-top: 5px;
    @include border-radius(50px);
  }
  .amount {
    display: block;
    font-size: 36px !important;
    margin-top: 5px;
    text-align: center;
  }
}


// BOOSTER SLIDER STYLEs
.boost{
	padding:10px 20px;
	width: 90%;
	border:1px solid #e0e0e0;
    @include border-radius(30px);
	background-color: #E7E7E7;
    @include background-image(linear-gradient(white, #efefef));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
}

.nitro a {
    position: absolute;
    z-index: 1;
    height: 100%;
    right: -2px;
    background-color: $grey-light;
    @include background-image(linear-gradient(#c3c3c3, #dfdfdf 30%, #e8e8e8 90%, #e1e1e1));
    @include border-radius(15px);
    cursor: pointer;
}

.nitro {
	position: relative;
	height:31px;
	@include border-radius(15px);
    background-color: $blue-mid-dark;
   @include background-image(linear-gradient(#328fb8, #3aa9e2 30%, #2c8edb 90%, #2078d0));
}

.nitro div{
	height: 45px;
	width: 53px;
	background: url("/static/img/boost-nob.png") no-repeat top center;
	position:absolute;
	margin-left:-25px;
	margin-top:-6px;

}

.lotto-booster {
  .inline-list {
    margin-bottom: 0.363em;
  }
  .inline-list > li {
    margin-left: 4.375em;
    font-size: 12px;
  }
  .inline-list > li:first-child {
    margin-left: 2em;
  }
}

.helper-icons{
  .inline-list {
    margin: 0 auto !important;
  }
  .inline-list > li {
    margin-left: 0px !important;
    padding: 0px 10px;

  }
}
button.superstar-all, button.quickpick-all, button.max-all {
  height: 70px;
  display: block;
  position: relative;
  margin: 5px auto 0px 10px;
  border: none;
  padding: 0px !important;
  min-width: 59px;
  font-weight: normal;

  @include text-shadow( white 0px 1px 0px);
  color: $blue-mid-dark;
  -o-transition:color .1s ease-out, background 1s ease-in;
  -ms-transition:color .1s ease-out, background 1s ease-in;
  -moz-transition:color .1s ease-out, background 1s ease-in;
  -webkit-transition:color .1s ease-out, background 1s ease-in;
  transition:color .1s ease-out, background 1s ease-in;


  .button-label {
    text-transform: uppercase;
    top: 25px;
    position: relative;
    vertical-align: text-bottom;
    text-align: center;
    font-size: 12px;
  }
}

button.superstar-all {
  background: url("/static/img/superstar-unactive.png") no-repeat center 0;
  &:hover {
    color: $blue-darkest;
    background: url("/static/img/superstar-hover.png") no-repeat center 0;

  }
  &:active, &:focus {
    color: orange;
    background: url("/static/img/superstar-active.png") no-repeat center 0;
  }
}

button.quickpick-all {
  background: url("/static/img/quickpick-unactive.png") no-repeat center 0;
  &:hover {
    color: $blue-darkest;
    background: url("/static/img/quickpick-hover.png") no-repeat center 0;
  }
  &:active, &:focus {
    color: orange;
    background: url("/static/img/quickpick-active.png") no-repeat center 0;
  }
}
button.max-all {
  background: url("/static/img/maxall-unactive.png") no-repeat center 0;
  &:hover {
    color: $blue-darkest;
    background: url("/static/img/maxall-hover.png") no-repeat center 0;
  }
  &:active, &:focus {
    color: orange;
    background: url("/static/img/maxall-active.png") no-repeat center 0;
  }
}



.playblock-container {
  margin-bottom: 20px;
  max-height: 300px;
  display: block;
}


/* playblock starts here */
.playblock{
  width:86%;
  margin: 0 auto;
  max-height: 400px;
}

.playblock .basic{
	/* force gpu rendering */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/* normal styling */
	transition:0.5s all;
	background-color:#efefef;
	width:266px;
	margin:1px 1px 50px;
	border:2px solid $blue-mid-dark;
	float:left;
	@include border-radius(5px);
	color:#808080;

}

//error on playblock
div.playblock .error{
  border:2px solid red;

  &:hover {
    border:2px solid red;
  }
}
.playblock .control{
	background-color:#dadada;
    @include border-radius(3px 3px 0px 0px);
/*	border-radius:3px 3px 0px 0px;*/
	width:auto;
	margin:2px;
	padding:5px;
	color:#333;
  div {
    display: inline-block;
  }
}

.playblock .control a{
	display:inline-block;
	color:#333;
	padding:0px 10px;
	font-weight:900;
	text-align:center;

	text-align:center;
	vertical-align:top;
}

.playblock .control span{
	display:inline-block;
	background-color:white;
	font-size:80%;
	width:140px;
	padding:5px 0;
	margin: 0 auto;
    position: relative;
	text-align:center;
	vertical-align:top;
	border:1px solid #808080;
    @include border-radius(5px);
}
.playblock .error .control span {
   background-color: #fec8c8;
  border:1px solid red;
}
.playblock .control a b{
	font-size:300%;
	line-height:10px;
}

.playblock .add-on  {
  margin: 1px;
  padding: 7px;
  background-color: $grey-mid;
  //@include background-image(linear-gradient($blue-mid-light, $blue-mid-dark));
  border: 1px solid white;
  font-weight: 700;
  height: 50px;
  .active{
    color: $blue-mid-dark;
  }
  .has-tip {
  color: $grey-mid-dark;
    &:hover {
      color: $blue-mid-dark;
    }
  }
}



.playblock .add-on a b{
	font-size:200%;
	line-height:10px;
}

.playblock .add-on label{
  color: $grey-dark;
	transition:1s all;
	cursor:pointer;
  text-align: center;
    font-size: 1.2em;
    padding-top: 6px;
    margin-right: 5px;
    @include type-medium;
    letter-spacing: 1px;
    width: 160px;
    text-transform: uppercase;
      span {
        width: 20px;
        height: 20px;
        //background: url("/static/img/star-unactive.png") no-repeat 0 0;
      }
}

.playblock .singleticket, .playblock .doubleticket{
	margin:10px 5px;
}

.playblock .singleticket a, .playblock .doubleticket a{
	display:block;
	float:left;
	padding:1px;
	width: 26px;
    height: 26px;
	margin:1px;
	font-size:11px;
	text-align:center;
	border:1px solid #c7c7c7;
	background-color:$white;
	cursor:default;
	position:relative;
}


.playblock .singleticket a:hover, .playblock .doubleticket a:hover{
	border:1px solid #fff;
	background-color:$green-light;
	color:$blue-darkest;
	cursor:pointer;
    @include type-medium;
}

.playblock .singleticket a.on, .playblock .doubleticket a.on{
	border:1px solid #fff;
	background-color:$blue-mid-dark;
	color:$white;
	cursor:pointer;
}


.playblock .singleticket a.on:after, .playblock .doubleticket a.on:after{
	color:#fff;
}

.playblock .singleticket a.off, .playblock .doubleticket a.off{
	border:1px solid #fff;
	background-color:$grey-mid-dark;
	color:$white;
	cursor:pointer;
}


.playblock .singleticket a.off:after, .playblock .doubleticket a.off:after{
	color:#fff;
}


/*
.playblock .singleticket a.on:after, .playblock .doubleticket a.on:after{
    position: absolute;
	content:'\2717';
	font-weight:bold;
	border:none;
	font-size:180%;
	color:#00a8ff;
	width:25px;
	height:25px;
	top:0;
	left:0;
}
*/
.playblock .starball{
	width:90%;
	margin:5px auto 10px;
}

.playblock .starball a:before{
	content: '\2605';
	font-size: 50px;
	line-height: 25px;
	color: #fbe265;
	font-family: Courier;
	position: absolute;
	left: 0;
	right:0;
	text-align: center;
	z-index: -1;
}

.playblock .starball a.on:before{
	color: orange;
}

.playblock .starball a:hover:before{
	color: orange;
}

.playblock .starball a:hover{
	color: white;
}

.playblock .starball a{
	cursor: pointer;
    display: block;
    float: left;
	position:relative;
	min-width:50px;
	height:30px;
	padding:5px 0;
	line-height:23px;
	vertical-align:middle;
	text-align:center;
	margin:15px 0px 0 7px;
	color:black;
	font-size:80%;
	z-index:0;
	font-weight:bold;
}

.playblock .add-on span{
	width:65%;
	display:inline-block;
	text-transform:uppercase;
	font-weight:bold;
}

.playblock .add-on > a{
	color:#00a8ff;
    font-size: 1.2em ;
}

.playblock .basic:hover{
	transform:scale(1.05);
	-ms-transform:scale(1.05);
	-webkit-transform:scale(1.05);
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
	cursor:default;
	border:2px solid #39a9e8;
    z-index: 4;
}

.playblock a{
	text-decoration:none;
	color:#808080;
}

.playblock a b{
	font-family:'EntypoRegular';
}

.playblock:after,
.playblock:before,
.playblock div:after,
.playblock > div > div:after,
.playblock div:before,
.playblock > div > div:before,
.playblock .starball:before,
.playblock .starball:after{
	clear:both;
	content:"";
	height:0;
	display:block;
}

.row_deck{
    display: inline-block;
    margin-right: 105px;
    margin-bottom: 50px;
    max-height: 400px;
}

.row_deck:last-child{
    margin-right: 0px;
}

#scroller .basic{
    position: relative;
}



#deckwrapper{
    display: block;
    width: 100%;
    height: 520px;
    overflow: hidden;
    padding-top:10px;
    clear: both;
}


.height20{
    width: 100%;
    height: 20px;
    display: block;
}

//.custom.dropdown.open ul{
//    height: 120px;
//}
#play-decks{
    z-index: 100;
  #id_next, #id_prev {
    position: absolute;
    width: 100px;
    height: 200px;
    background-color: $blue-mid-dark;
    @include background-bar($margin: 0px, $bg-color: $blue-mid-dark, $color-1: $blue-mid-dark, $color-2: $blue-dark);
    display: block;
    cursor: pointer;
    top: 25%;
    z-index: 0 !important;

    img {
      margin-top: 76px;
    }
  }
  #id_next {
    right: 50px;
    text-align: right;
    padding-right: 10px !important;
  }
  #id_prev {
    left: 50px;
    padding-left: 10px !important;
  }


}


#play-control-bar{
    z-index: 0;
    position: relative;
    top: -110px;
}

.game-content{
    height: 810px;
}

// results page
#game_draw_results {
  min-height: 300px;
  table tr th {
    text-align: left;
  }
}
.lotto-starBall, .main-Ball, .bonus-Ball, .super-Ball{
    background-repeat: no-repeat;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    height: 56px;
    line-height: 53px;
    width: 53px;
    margin-top: 5px;
    text-align: center;
    font-size: 22px;
    margin-left:1px;
    padding-top: 2px;
}

.main-Ball {
  background-image: url("/static/img/blue-ball.png");
}
.bonus-Ball {
  background-image: url("/static/img/yellow-ball.png");
}
.super-Ball {
  background-image: url("/static/img/red-ball.png");
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: $grey-light;
   border: solid 1px #D6D7D5;
}

.lotto-starBall {
    background-image: url("/static/img/games/yellow-ball.png");
}

ul.errorlist{
    list-style: none;
    margin-left: 5px;
}

.errorlist, .alert-error
{
    color: #8a1f11;
}

.errormessage, .alert{
    text-align:center;
    margin-left:30px;
    margin-bottom: 10px;
}

form.custom .custom.dropdown.small {
    max-width: 115px;
    margin-left: 5px;
}


.stop3 {
  .joyride-nub {left: 49px;}
}
.stop4 {
  .joyride-nub {left: 54px;}
  //.joyride-nub.top {left: 54px;}
  //.joyride-content-wrapper {}
}
.stop6 {
  .joyride-nub {left: 12px;}
}

//.game-container {
//    min-width: 1280px;
//  }
