@import "../compass";
@import "../site/colors";
@import "../site/modules";
@import "../site/fonts";

a.iconbox {
  font-size: 25px;
  width: 49px;
  height: 35px;
  display: block;
  padding-top: 3px !important;
  text-shadow: 0px 1px 0px white;
  &:hover {
    color: $blue-mid-dark;
  }
  &:active, &:after {
    color: $grey-dark;
  }
}

.icon_info {
  color: $grey-dark;
  &:hover {
    color: $blue-mid-dark;
  }
}
.game-title {
  h1 {
    color: $blue-mid-dark;
    font-size: 3.25rem;
    line-height: 1.7rem;
    padding-bottom: 15px;
    margin: 0;
    border: none;
    text-transform: none;
    letter-spacing: 1px;
  }
  h4 {
    margin-top: 0;
    text-transform: uppercase;
  }
}

.meter-container {
  span {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 90%;
    display: block;
    font-family: "PT Sans";
    color: $grey-dark;
    position: absolute;
    left: 0px;
    top: 80px;
    width: 100%;
    text-align: center;
    margin-top: -10px;
  }

}
#topLoader {
  background-color: white;
  border-radius: 50%;
}

