@import "../compass";
@import "../site/colors";
@import "../site/modules";


/* Reset */

.countdown-container {
    float: right;
    width: 255px;
    height: 110px;
    padding:12px 0 ;
    margin: -5px 0 0 5px;
    display: block;
    font-family: "PT Sans";
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 1px 0px white;
    border-bottom: 1px solid $grey-dark;
    border-radius: 2px;
    line-height: 0;
    z-index: 2;


    background-color: rgb(243, 243, 243) ;
    @include background-image(linear-gradient(rgb(255, 255, 255), rgb(243, 243, 243) 50%, rgb(231, 231, 231) 50%, rgb(204, 204, 204)));
    @include box-shadow (rgba(50, 50, 50, 0.44) 0px 2px 3px);
}


.clock {
  .time {
    margin-top: 33px;
    font-size: 32px;
    span {
      border-radius: 4px;
      padding: 0px 4px;
      margin: 4px 2px 2px;
      color: white;
      text-shadow: 0px 1px 0px $text-color;
      background-color: #333333;



    }
    span.sep {
      background-color: transparent !important;
      color: $text-color;
      text-shadow: 0px 1px 0px white;
      }
  }
  .labels {
    padding: 10px 5px;
    span {
      margin-top: 20px;
      display: inline-block;
      vertical-align: bottom;
      padding-top: 3px;
      float: left;
    }
    span.day{
        margin-left: 32px;
      }
    span.hour {
        margin-left: 30px;
    }
    span.min {
        margin-left: 15px;
    }
  }

}

.date-container {
  height: 25px;
  width: 195px;
  display: block;
  margin-top: 25px;
  margin-left: 30px;
  text-align: center;
  padding-top: 7px;
  font-size: 13px;
}