{% load i18n game_tag_helpers page_helpers %}
<section id="footerContainer" >
    <div id="footerSecurity">
        <div class="row">
            <div class="large-12 columns">

                Worldwide acceptance of:
                <p><br>
                   <img width="57" height="27" alt="" src="/static/img/footer-logos/visa.png" title="Visa Card">
                    <img width="39" height="27" alt="" src="/static/img/footer-logos/mater.png" title="MasterCard">
                    <img width="70" height="23" alt="" src="/static/img/footer-logos/2.png" title="Sofort">
                    <img width="70" height="23" alt="" src="/static/img/footer-logos/sofb.png" title="Sofort">
                    <img  width="68" height="27" alt="" src="/static/img/footer-logos/inpay.png" title="InPay">
                    <img  width="62" height="19" alt="" src="/static/img/footer-logos/hsbc.png" title="HSBC">
                    <img width="51" height="21" alt="" src="/static/img/footer-logos/3.png" title="POLi">
                    <img  width="120" height="27" alt="" src="/static/img/footer-logos/teleingresso.png" title="Teleingreso">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/kash.png" title="UKash">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/Servipag.png" title="ServiPag">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/Banamex.png" title="Banamex">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/Bancomer.png" title="Bancomer">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/Oxxo.png" title="Oxxo">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/Santander.png" title="Santander">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/paysafecard.png" title="paysafecard">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/webmoney.png" title="webmoney">
                    <img  width="43" height="29" alt="" src="/static/img/footer-logos/ripley.png" title="Ripley">
                    <img  width="52" height="27" alt="" src="/static/img/footer-logos/ixe.png" title="IXE">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/giropay.png" title="giropay">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/elv.png" title="elv">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/Boleto.png" title="Boleto">
                    <img  width="29" height="27" alt="" src="/static/img/footer-logos/tarjeta-naranja.png" title="Tarjeta Naranja">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/cashu.png" title="cashu">
                    <img  width="34"  height="27" alt="" src="/static/img/footer-logos/eps.png" title="EPS">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/Rapipago.png" title="Rapipago">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/Hipercard.png" title="Hipercard">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/Magna.png" title="Magna">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/airplus_logo.png" title="airplus">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/boku.png" title="boku">
                    <img  width="49" height="27" alt="" src="/static/img/footer-logos/ripsa.png" title="Ripsa">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/Alipay.png" title="alipay">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/Cabal.png" title="cabal">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/CobroExpress.png" title="cobroexpress">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/Italcred.png" title="Italcred">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/PagoFacil.png" title="Pagofacil">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/TShopping.png" title="Tshopping">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/Aura.png" title="Aura">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/Presto.png" title="Presto">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/7Eleven.png" title="7Eleven">
                    <img  width="70" height="27" alt="" src="/static/img/footer-logos/przelewy24.png" title="Przelewy24">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/postepay.png" title="postepay">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/cabecera.png" title="cabecera">
                    <img width="64" height="27" alt="" src="/static/img/footer-logos/6000.png" title="euro 6000">
                    <img  width="27" height="27" alt="" src="/static/img/footer-logos/bradesco.png" title="Bradesco">
                </p>
            </div>
        </div>
    </div>
    <div id="footerHeader" >
        <div class="row" >
            <div class="large-2 columns">
                <a href="{% url "home" %}"><img src="/static/img/logo-small.png" alt="LottoStar" title="LottoStar"></a>
            </div>
            <div class="large-8 columns">
                <p>{{ config.footer_text1.get_translation.content|striptags }}</p>
            </div>
            <div class="large-2 columns">
                <img class="right" src="/static/img/site-certifications.png" alt="Site Certification">
            </div>
        </div>
    </div>
    <div id="footerMain">
        <div class="row">
            <div class="large-12 columns">
                <ul class="small-block-grid-2 large-block-grid-4">
                    <li class="hide-for-small">
                        <h4>{% trans "Red Hot Jackpots" %}</h4>
                        <ul class="side-nav hot">
                            {% for product in config.homeproduct_set.all %}
                                <li><a href="{% url "game" product.product.slug %}"><img src="/static/img/games/{{ product.product.slug }}/img/icon.png" alt="Hot Jackpot"><span>{{ product.product.get_jackpot|currency|safe }}</span></a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <h4>{% trans "Site Navigation" %}</h4>
                        <ul class="side-nav">
                            <li>{% get_page_link "how-to-play" %}</li>
                            <li>{% get_page_link "results" %}</li>
                            <li>{% get_page_link "about-us" %}</li>
                            <li>{% get_page_link "terms-and-conditions" %}</li>
                            <li>{% get_page_link "payment-options" %}</li>
                            <li>{% get_page_link "promotions-and-rewards" %}</li>
                            <li><a href="/blog/">{% trans "Latest Lottery News" %}</a></li>
                        </ul>
                    </li>
                    <li class="hide-for-small">
                        <h4>{% trans "Our Lottery Brands" %}</h4>
                        <ul class="side-nav">
                            {% for product in config.homeproduct_set.all %}
                            <li><a href="{% url "page" product.product.slug %}">{{ product.product.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <h4>{% trans "Find LottoStar on" %}</h4>
                        <ul class="side-nav">
                            <li><a href="http://plus.google.com/{{ config.googleplus }}" target="_blank" title="GooglePlus"><span class="s-icon" data-icon="&#xe0ad;"></span><span>{% trans "Google +" %}</span></a></li>
                            <li><a href="http://www.facebook.com/{{ config.facebook }}" target="_blank" title="FaceBook"><span class="s-icon" data-icon="&#xe0aa;"></span><span>{% trans "Facebook" %}</span></a></li>
                            <li><a href="http://www.twitter.com/{{ config.twitter }}" target="_blank" title="Twitter"><span class="s-icon" data-icon="&#xe0ab;"></span><span>{% trans "Twitter" %}</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footerFooter">
        <div class="row">
            <div class="text-center">
                {{ config.footer_text2.get_translation.content|striptags }}
                {% trans "This website was created and is maintained by " %} <a href="http://www.symfony.co.za" target="_blank">Symfony Digital Solutions</a>.
                <br>
            </div>
        </div>
    </div>
</section>