{% load i18n %}
<section id="topBar" class="contain-to-grid">
    <nav class="top-bar">
        <section class="top-bar-section">
            {% if request.user.is_authenticated %}
                <span style="margin-left: 15px"><a href="{% url "account_profile" %}">
                    {% trans "Welcome Back" %},
                    {% if request.user.first_name %}
                        <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong>.
                    {% else %}
                        <strong>{{ request.user.username|title }}</strong>.
                    {% endif %}

                    <small style="margin-left: 10px">
                        {{ user_play_credits|floatformat:2 }} {% trans "credits" %}
                        |
                        {{ user_play_vouchers|floatformat:0 }} {% trans "vouchers" %}
                        |
                        {{ user_play_points|floatformat:0 }} {% trans "points" %}

                        {% if user_play_winnings %}
                            | &euro; {{ user_play_winnings|floatformat:2 }} {% trans "winnings" %}
                        {% endif %}
                    </small>
                </a>
                </span>

                <ul class="right">
                    <li><a href="{% url "checkout" %}" data-icon="&#xe07a;"> {% trans "Checkout" %}</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url "account_index" %}" data-icon="&#xe089;"> {% trans "My Account" %}</a></li>
                    <li class="divider"></li>
                    <li><a class="toggle-nav"><img src="/static/img/flags/icons/{{ lang.code }}.png"> {{ lang.name }} <span class="light">({% trans "Change your language" %})</span></a></li>
                    <li class="divider"></li>
                    <li><a href="{% url "auth_logout" %}" data-icon="&#xe06c;"> {% trans "Logout" %}</a></li>
                    <li class="divider"></li>
                </ul>
            {% else %}
                <ul class="right">
                    <li><a href="{% url "checkout" %}" data-icon="&#xe07a;"> {% trans "Checkout" %}</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url "auth_login" %}" data-icon="&#xe06d;"> {% trans "Login" %}</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url "register" %}" data-icon="&#xe031;"> {% trans "Register" %}</a></li>
                    <li class="divider"></li>
                    <li><a class="toggle-nav"><img src="/static/img/flags/icons/{{ lang.code }}.png" alt="language" title="language selected"> {{ lang.name }} <span class="light">({% trans "Change your language" %})</span></a></li>
                    <li class="divider"></li>
                </ul>
            {% endif %}

        </section>
        <ul class="title-area">
            <li class="name"></li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
    </nav>

    <div class="container" id="menuLanguage">
        <div class="lang-nav">
            <div class="row">
                <div class="eight columns">
                    <h4>{% trans "Please select your desired language from the list below" %}:</h4>
                </div>
                <div class="four columns">
                    <ul class="inline-list lang-list">
                        <li><a href="?lang=en"><img src="/static/img/flags/united_kingdom.png" title="English" alt="English Flag" > {% trans 'English' %}</a></li>
                        <li><a href="?lang=es"><img src="/static/img/flags/spain.png" title="Spanish" alt="Spanish Flag"> {% trans 'Spanish' %}</a></li>
                        <li><a href="?lang=sv"><img src="/static/img/flags/sweden.png" title="Swedish" alt="Swedish Flag"> {% trans 'Swedish' %}</a></li>
                        <li><a href="?lang=de"><img src="/static/img/flags/germany.png" title="German" alt="German Flag"> {% trans 'German' %}</a></li>
                        <li><a href="?lang=cs"><img src="/static/img/flags/czech_republic.png"  title="Czech" alt="Czech Flag">{% trans 'Czech' %}</a></li>
                        <li><a href="?lang=fr"><img src="/static/img/flags/france.png" title="French" alt="French Flag"> {% trans 'French' %}</a></li>
                        <li><a href="?lang=pl"><img src="/static/img/flags/poland.png" title="Polish" alt="Polish Flag"> {% trans 'Polish' %}</a></li>
                        <li><a href="?lang=pt"><img src="/static/img/flags/portugal.png" title="Portuguese" alt="Portuguese Flag"> {% trans 'Portuguese' %}</a></li>
                        <li><a href="?lang=ru"><img src="/static/img/flags/russia.png" title="Russian" alt="Russian Flag"> {% trans 'Russian' %}</a></li>
                        <li><a href="?lang=ro"><img src="/static/img/flags/romania.png" title="Romanian" alt="Romanian Flag"> {% trans 'Romanian' %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
