{% load webdesign humanize thumbnail i18n game_tag_helpers %}
<!--MAIN LOGO -->
<div id="headerContainer">
    <div class="row">
        <div class="large-3 columns" id="logo-container">
            <a href="{% url "home" %}" class="large-logo"></a>

            <div class="glow">

            </div>
        </div>
        <!--END OF MAIN LOGO-->

        <div class="large-9 columns">
            <nav class="nav right">
                <ul id="menu-primary-about">
                    <li class="current playnow"><a data-dropdown="drop1" class="dropdown">{% trans "Play Now!" %}</a>
                        <ul id="drop1" class="f-dropdown content inline" data-dropdown-content>
                            <li class="left">
                                {% for product in config.homeproduct_set.all %}
                                    <div class="gameselector" onclick="javascript:window.location='{% url "game" product.product.slug %}'">
                                        <img src="/static/img/games/{{ product.product.slug }}/img/icon.png" alt="game icon">
                                        <div><p style="font-size: 12px;font-weight:bold; ">{{ product.product.name }}</p></div>
                                        <h4>{{ product.product.get_jackpot|currency|safe }}</h4>

                                        <div class="counter">
                                          <h6>{% trans "time left" %}</h6> {{ product.product.get_remaining_time }}</div>
                                        <button class="button radius expand">{% trans "Play Now" %}</button>
                                    </div>
                                {% endfor %}
                            </li>
                        </ul>
                     </li>
                    <li class="navbg"><a href="{% url "page" "how-to-play" %}">{% trans "How to play" %}</a></li>
                    <li class="navbg"><a href="{% url "game_results" %}">{% trans "Results" %}</a></li>
                    <li class="navbg"><a href="{% url "blog" %}">{% trans "Blog" %}</a></li>
                    <li class="navbg"><a href="{% url "faq" %}">{% trans "Faq" %}</a></li>
                    <li class="navbg"><a href="{% url "contact" %}">{% trans "Contact" %}</a></li>

                 </ul>
           </nav>

            {% comment %}<header class="main hide-for-large-up">
                <a href="#menu" class="menu-trigger"> <span data-icon="&#x62;"></span> {% trans "Main Menu" %}</a>
                <nav>
                    <ul>
                        {% for product in config.homeproduct_set.all %}
                            <li><a href="{% url "game" product.product.slug %}">{{ product.product.name }}</a></li>
                        {% endfor %}
                            <li ><a href="{% url "page" "how-to-play" %}"><span data-icon="&#xe028;" style="padding-right: 5px"></span> {% trans "How to play" %}</a></li>
                            <li><a href="{% url "page" "results" %}"><span data-icon="&#xe033;" style="padding-right: 5px"></span> {% trans "Results" %}</a></li>
                            <li><a href="{% url "blog" %}"><span data-icon="&#xe0a7;" style="padding-right: 5px"></span> {% trans "Blog" %}</a></li>
                            <li><a href="{% url "faq" %}"><span data-icon="&#xe064;" style="padding-right: 5px"></span> {% trans "Faq" %}</a></li>
                            <li><a href="{% url "contact" %}"><span data-icon="&#xe066;" style="padding-right: 5px"></span> {% trans "Contact" %}</a></li>
                    </ul>
                </nav>
            </header>{% endcomment %}

        </div>
    </div>
</div>
