{% load i18n %}
{% spaceless %}
    <!-- PROMOTIONAL WINDOW -->
    <div id="myModal" class="reveal-modal medium" >
        <h2>{% trans "We would like to extend an offer to you!" %}</h2>
        <div class="container">
            <p class="lead">{% trans "To welcome the Spanish Daily to Lottostar.com we are offering you a " %}</p>
            <h1>{% trans offer.name %}</h1>

            <p>{% trans offer.descrtiption %}</p>
            <br>
            <form class="initial-offer-form" method="POST" action="{% url 'accept-offer' %}">
                {% csrf_token %}
                <input type="hidden" value="{{ offer.id }}" name="offer_id">
                <center>
                    <button class="button radius expanded">{% trans "yes! I will take it" %}</button> <br><br>
                    <a class="close-reveal-modal reject-initial-offer" href="{% url 'reject-initial-offer' %}">{% trans "no thank you" %}</a>
                </center>
            </form>
        </div>

    </div>
{% endspaceless %}