{% load i18n home_tags %}

<div class="side-panel">
    <div class="basket">
        <h3><span data-icon="&#xe015;"></span> Basket</h3>
        <ul>
            <li>2x SuperEnaLotto</li>
            <li>1x Spanish Daily</li>
        </ul>
        <ul class="inline-list center">
            <li><a href="#" class="button small radius expanded"">add Entry</a> </li>
            <li><a href="#" class="button small radius expanded greenbtn">add to checkout</a> </li>
        </ul>


    </div>
    <h2>{% trans "Member Section" %}</h2>
    <ul class="side-nav">
        <li><a href="#">{% trans "Login" %}</a></li>
        <li><a href="#">{% trans "Register" %}</a></li>
        <li><a href="#">{% trans "Forgot Password?" %}</a></li>
        <li><a href="#">{% trans "Sitemap" %}</a></li>
    </ul>
    <h2>{% trans "Extras" %}</h2>
    <ul class="side-nav">
        <li><a href="#">{% trans "Play Options" %} <span data-icon="&#x43;"></span> </a></li>
        <li><a href="#">{% trans "Vouchers" %} <span data-icon="&#x43;"></span> </a></li>
        <li><a href="#">{% trans "Support" %} <span data-icon="&#x43;"></span> </a></li>
        <li><a href="#">{% trans "Tell a friend" %} <span data-icon="&#x77;"></span> </a></li>
        <li><a href="#">{% trans "Lottery Information" %} <span data-icon="&#x70;"></span> </a></li>
        <li><a href="#">{% trans "Customer Testimonials" %}</a></li>
    </ul>


{% comment %}
   <h2>{% trans "Latest Twitter" %}</h2>

    <article>
        <div class="subheader">{% trans "Our Twitter Feed" %}</div>

    {% for tweet in tweet_list %}
        <p>{{tweet.text|urlize|url_target_blank|safe}}</p>
    {% endfor %}

        <br/>
        <div class="subheader">{% trans "Important Notice" %}</div>
        {{ config.twitter_security.get_translation.content|striptags }}
    </article>
{% endcomment %}
    <h2>{% trans "Our Promotions" %}</h2>

    <article>
        <a href="#"><img src="/static/img/ad-banners/add-banner-1.jpg" alt="Ad banner"></a>
        <a href="#"><img src="/static/img/ad-banners/add-banner-2.jpg" alt="Ad banner"></a>
    </article>

</div>