{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_game_helpers %}

{% block extrahead %}
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 <link rel="stylesheet" href="/resources/demos/style.css" />
  <script>
  $(function() {
    $( "#id_from_date" ).datepicker({
                dateFormat : "dd-mm-yy"
    });
    $( "#id_to_date" ).datepicker({
                dateFormat : "dd-mm-yy"
    });
  });
  </script>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/admin/">Home</a> &gt; Game Overview Report
    </div>
{% endblock %}

{% block title %}LottoStar | Game Overview Report{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block content %}
    <!-- Content -->
    <div id="content" class="flex">

        <h1>Game Overview Report</h1><br/>

        <div class="module filtered" id="changelist" style="display:block; float: left; width: 100%">

            <div id="changelist-filter" style="float:right; width: 20%;">
                <form action="." method="post">{% csrf_token %}
                    {{ form.errors }}
                    <h2>Filter</h2>
                    <br/>
                        <h3>Between Dates</h3>
                    <br/>
                    <table style="width: 100%">
                        <tr>
                            <td width="20%"><label style="line-height:25px; padding-left: 20px;">From:</label></td>
                            <td>{{ form.from_date }}</td>
                        </tr>
                        <tr>
                            <td><label style="line-height:25px; padding-left: 20px;">To:</label></td>
                            <td>{{ form.to_date }}</td>
                        </tr>
                    </table>
                    <br/>
                        <h3>Products</h3>
                    <br/>
                    <div style="padding-left: 10px">
                        <table style="width: 100%;">
                            {{ form.games }}
                        </table>
                    </div>
                    <br/>
                    <center><input type="submit" style="padding: 10px; padding-left: 20px; padding-right: 20px;" class="button"/></center>
                    <br/>
                </form>
            </div>

            <div style="float:left; width: 79.85%; border: 1px solid #ddd">

            {% for product in product_list %}

            <h1 style="padding-bottom: 10px; padding-top: 10px; text-indent: 10px">{{ product.name }}</h1>

            <h2>&nbsp;</h2>

            {% if dates_list|get_transaction_dates:product %}
                <div class="results">
                    <table id="result_list" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col"><div class="text"><span>Draw Date</span></div></th>
                                <th scope="col"><div class="text"><span>Rollover</span></div></th>
                                <th scope="col"><div class="text"><span>Est. Jackpot/Draw Size</span></div></th>
                                <th scope="col"><div class="text"><span>Tickets</span></div></th>
                                <th scope="col"><div class="text"><span>Vouchers</span></div></th>
                                <th scope="col"><div class="text"><span>Cash Sales</span></div></th>
                                <th scope="col"><div class="text"><span>Trans</span></div></th>
                                <th scope="col"><div class="text"><span>Unique Users</span></div></th>
                                <th scope="col"><div class="text"><span>EPLPT *</span></div></th>
                                <th scope="col"><div class="text"><span>EUR Value</span></div></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in dates_list|get_transaction_dates:product %}
                                <tr class="row{% cycle "1" "2" %}">
                                    <td>{{ item.draw_date }}</td>
                                    <td>{{ item.rollover }}</td>
                                    <td>&euro; {{ item.est_jackpot_draw_size|floatformat:2 }}</td>
                                    <td>{{ item.tickets }}</td>
                                    <td>{{ item.vouchers }}</td>
                                    <td>{{ item.cash_sales }}</td>
                                    <td>{{ item.trans }}</td>
                                    <td>{{ item.unique }}</td>
                                    <td>{{ item.eplpt }}</td>
                                    <td>{{ item.eur }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h3><i><center><small>There are no specs for {{ product.name }}</small></center></i></h3>
            {% endif %}

            {% endfor %}
            </div>
      </div>

        <small>* EPLPT - Entries Per Lottery Per Transaction</small>

{% endblock %}