{% extends "admin/change_form.html" %}

{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls game_tag_helpers %}

{% block blockbots %}
    {{ block.super }}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/datetime/jquery.ui.datetime.min.js"></script>
    <script type="text/javascript" src="/static/js/admin_rule_change_form.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/base/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/cupertino/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/js/datetime/jquery.ui.datetime.css" />

{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
            &rsaquo; <a href="{% url 'admin:game_game_changelist' %}">{{ app_label|capfirst|escape }}</a>
            &rsaquo; {{ app_label|admin_link_game:request }}
            &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
            &rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
        </div>
    {% endblock %}
{% endif %}

{% block content_title %}{% if title %}<h1>{% if add %}{% trans 'Add' %} '{{ app_label|admin_label_game:request }}' {{ opts.verbose_name }} {% else %}{% trans "Edit" %} '{{ original.game }}' {{ original|truncatewords:"18" }} {{ opts.verbose_name }}{% endif %}</h1>{% endif %}{% endblock %}

{% block field_sets %}
    {% for fieldset in adminform %}
        <fieldset class="module aligned {{ fieldset.classes }}">
            {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
            {% if fieldset.description %}
                <div class="description">{{ fieldset.description|safe }}</div>
            {% endif %}

            {% for line in fieldset %}
                <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
                    {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                    {% for field in line %}
                        {% if field.field.name == "game" %}
                            <div class="field-box field-game">
                                <strong>{{ field.label_tag|removetags:"label" }}</strong>
                                <span> {{ app_label|admin_label_game:request }} </span>
                            </div>
                        {% else %}
                            <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}"{% endif %}>
                                {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                                {% if field.is_checkbox %}
                                    {{ field.field }}{{ field.label_tag }}
                                {% else %}
                                    {{ field.label_tag }}
                                    {% if field.is_readonly %}
                                        <p>{{ field.contents }}</p>
                                    {% else %}
                                        {{ field.field }}
                                    {% endif %}
                                {% endif %}
                                {% if field.field.help_text %}
                                    <p class="help">{{ field.field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </fieldset>
    {% endfor %}

    <fieldset class="module aligned" id="field_block">

            <h2 id="id_param_header">Day / Date / Time</h2>

            <div class="form-row">
                <div class="field-box" >
                    <label id="id_param_label">Date:</label>

                    <label id="id_param_input" style="width: 505px">


                        <input type="text" name="params_date" id="id_date" style="margin-left: 15px; padding: 4px;" value="{{ params_date }}" />

                        <select name="params_dow" id="id_dow">
                            <option {% if params_dow == "sunday" %}selected="selected"{% endif %} value="sunday">Sunday</option>
                            <option {% if params_dow == "monday" %}selected="selected"{% endif %} value="monday">Monday</option>
                            <option {% if params_dow == "tuesday" %}selected="selected"{% endif %} value="tuesday">Tuesday</option>
                            <option {% if params_dow == "wednesday" %}selected="selected"{% endif %} value="wednesday">Wednesday</option>
                            <option {% if params_dow == "thursday" %}selected="selected"{% endif %} value="thursday">Thursday</option>
                            <option {% if params_dow == "friday" %}selected="selected"{% endif %} value="friday">Friday</option>
                            <option {% if params_dow == "saturday" %}selected="selected"{% endif %} value="saturday">Saturday</option>
                        </select>

                        <select name="params_day" id="id_day" >
                            {% for i in 31|get_range_no_zero %}
                                <option {% if i == params_day %}selected="selected"{% endif %} value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>

                        <input type="text" name="params_time" id="id_time" style="margin-left: 15px; padding: 4px" value="{{ params_time }}" />



                    </label>
                </div>
            </div>
    </fieldset>

{% endblock %}