{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls game_tag_helpers %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; <a href="{% url 'admin:game_game_changelist' %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {{ app_label|admin_link_game:request }}
&rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block content_title %}{% if title %}<h1>Select '{{ app_label|admin_label_game:request }}' {{ cl.opts.verbose_name }} to change</h1>{% endif %}{% endblock %}