{% extends "admin/change_form.html" %}

{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls game_tag_helpers %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>

&rsaquo; <a href="{% url 'admin:game_game_changelist' %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {{ app_label|admin_link_game:request }}

&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content_title %}{% if title %}<h1>{% if add %}{% trans 'Add' %} '{{ app_label|admin_label_game:request }}' {{ opts.verbose_name }} {% else %}{% trans "Edit" %} '{{ original.game }}' {{ original|truncatewords:"18" }} {{ opts.verbose_name }}{% endif %}</h1>{% endif %}{% endblock %}


{% block field_sets %}
{% for fieldset in adminform %}
    <fieldset class="module aligned {{ fieldset.classes }}">
        {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
        {% if fieldset.description %}
            <div class="description">{{ fieldset.description|safe }}</div>
        {% endif %}

        {% for line in fieldset %}
            <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
                {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                {% for field in line %}
                    {% if field.field.name == "game" %}
                        <div class="field-box field-game">
                            <strong>{{ field.label_tag|removetags:"label" }}</strong>
                            <span> {{ app_label|admin_label_game:request }} </span>
                        </div>
                    {% else %}
                        <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}"{% endif %}>
                            {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                            {% if field.is_checkbox %}
                                {{ field.field }}{{ field.label_tag }}
                            {% else %}
                                {{ field.label_tag }}
                                {% if field.is_readonly %}
                                    <p>{{ field.contents }}</p>
                                {% else %}
                                    {{ field.field }}
                                {% endif %}
                            {% endif %}
                            {% if field.field.help_text %}
                                <p class="help">{{ field.field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </fieldset>
{% endfor %}
{% endblock %}