{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <section id="content" class="row">
        <div class="main-panel">
            <ul class="breadcrumbs">
                <li><a href="{% url "contact" %}">{% trans "Contact Lottostar" %}</a></li>
                <li class="current"><a href=".">{% trans "Contact Message Sent Successfully" %}</a></li>
            </ul>

            <h1>{% trans "Your message has been successfully sent." %}</h1>

            <p>
                {% trans "We have received your message and an administrator from the LottoStar team will be in contact with you shortly." %}
            </p>

            <h1><small>{% trans "Please choose one of the games below and play:" %}</small></h1>
            {% include "play/partials/game_selectors.html" %}
        </div>
        {% include "partials/sidebar.html" %}
    </section>
{% endblock %}