{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <section id="content" class="row">
        <div class="main-panel" id="contact">
            {% include "common/messages.html" %}

            <ul class="breadcrumbs">
                <li><a href="#">home</a></li>
                <li class="current"><a href="#">{% trans "Contact" %} Lottostar</a></li>
            </ul>

            <h1>{% trans "Let's Keep In Touch!" %}<br>
                <small>{% trans "If you would like to get into contact with our team simply fill out this form." %}</small>
            </h1>

            <div class="row">
                <br>
                <div class="large-6 columns">
                    {% trans "Submit" as button_value %}
                    {% url "contact" as form_action %}
                    {% include "common/form.html" with button_value=button_value form=form form_action=form_action %}
                </div>
                <div class="large-6 columns">
                    <div class="map"><img src="/static/img/map.png"></div>
                </div>
            </div>

            <div class="row">
                <hr>
                <div class="large-12 columns">
                    <h3>{% trans "By Telephone:" %}</h3>
                    <div class="large-6 columns">
                    <div class="row">
                        <div class="small-6 columns lang">Tel (English)</div>
                        <div class="small-6 columns number">+44 8704 601788</div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns lang">Tel (język polski)</div>
                        <div class="small-6 columns number">+48 2248 53383</div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns lang">Tel (Svenska)</div>
                        <div class="small-6 columns number">+46 (0)8 501 09557</div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns lang">Tel (Español - Argentina)</div>
                        <div class="small-6 columns number">+54 (0)11 4032 0535</div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns lang">Tel (Español - España)</div>
                        <div class="small-6 columns number">+54 (0)11 4032 0535</div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns lang">Tel (France)</div>
                        <div class="small-6 columns number">+33 172 703 078</div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns lang">Tel (Česky)</div>
                        <div class="small-6 columns number">+42 022 720 4510</div>
                    </div>

                </div>
                <div class="large-6 columns">
                    <div class="row">
                        <div class="small-6 columns lang">Fax (English)</div>
                        <div class="small-6 columns number">+44 8704 580264</div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns lang">Fax (język polski)</div>
                        <div class="small-6 columns number">+48 2248 53475</div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns lang">Fax (Svenska)</div>
                        <div class="small-6 columns number">+46 (0)8 501 09677</div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns lang">Fax (Español - Argentina)</div>
                        <div class="small-6 columns number">+54 (0)11 4032 1163</div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns lang">Fax (Español - España)</div>
                        <div class="small-6 columns number">+34 935 507 045</div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns lang">Fax (France)</div>
                        <div class="small-6 columns number">+33 172 703 176</div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns lang">Fax (Česky)</div>
                        <div class="small-6 columns number">+42 022 720 4526</div>
                    </div>
                </div>
                </div>


            </div>


{% comment %}
            <div class="row">
                <div class="large-12 columns">
                    <div class="section-container auto" data-section="auto">
                        <section>
                            <p class="title" data-section-title><a href="#">submit a ticket</a></p>

                            <div class="content" data-section-content>
                                <div class="row">
                                    {% trans "Submit" as button_value %}
                                    {% url "contact" as form_action %}
                                    {% include "common/form.html" with button_value=button_value form=form form_action=form_action %}
                                </div>
                            </div>
                        </section>
                        <section>
                            <p class="title" data-section-title><a href="#">email</a></p>
                            <div class="content" data-section-content>
                                <h3>By Email:</h3>
                                <p>General Enquiries: <a href="#">info@lottostar.com</a></p>
                                <p>Declined Transactions: <a href="#">juan@lottostar.com</a></p>
                            </div>
                        </section>
                        <section>
                            <p class="title" data-section-title><a href="#">telephone</a></p>

                            <div class="content" data-section-content>
                                <h3>By Telephone:</h3>

                                <div class="row">
                                    <div class="large-6 columns">
                                        <div class="row">
                                            <div class="small-6 columns lang">Tel (English)</div>
                                            <div class="small-6 columns number">+44 8704 601788</div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns lang">Tel (język polski)</div>
                                            <div class="small-6 columns number">+48 2248 53383</div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns lang">Tel (Svenska)</div>
                                            <div class="small-6 columns number">+46 (0)8 501 09557</div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns lang">Tel (Español - Argentina)</div>
                                            <div class="small-6 columns number">+54 (0)11 4032 0535</div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns lang">Tel (Español - España)</div>
                                            <div class="small-6 columns number">+54 (0)11 4032 0535</div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns lang">Tel (France)</div>
                                            <div class="small-6 columns number">+33 172 703 078</div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns lang">Tel (Česky)</div>
                                            <div class="small-6 columns number">+42 022 720 4510</div>
                                        </div>

                                    </div>
                                    <div class="large-6 columns">
                                        <div class="row">
                                            <div class="small-6 columns lang">Fax (English)</div>
                                            <div class="small-6 columns number">+44 8704 580264</div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns lang">Fax (język polski)</div>
                                            <div class="small-6 columns number">+48 2248 53475</div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns lang">Fax (Svenska)</div>
                                            <div class="small-6 columns number">+46 (0)8 501 09677</div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns lang">Fax (Español - Argentina)</div>
                                            <div class="small-6 columns number">+54 (0)11 4032 1163</div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns lang">Fax (Español - España)</div>
                                            <div class="small-6 columns number">+34 935 507 045</div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns lang">Fax (France)</div>
                                            <div class="small-6 columns number">+33 172 703 176</div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns lang">Fax (Česky)</div>
                                            <div class="small-6 columns number">+42 022 720 4526</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>
                        <section>
                            <p class="title" data-section-title><a href="#" target="_blank">live support</a></p>
                        </section>
                    </div>
                </div>
            </div>
{% endcomment %}

        </div>
        {% include "partials/sidebar.html" %}
    </section>
    <div class="clear"></div>
{% endblock %}