{% extends "base.html" %}
{% load webdesign humanize thumbnail i18n compress %}


{% block js %}
    {% compress js %}
    <script src="/static/js/slider/jquery.flexslider.js"></script>
    <script src="/static/js/home.js"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="row hide-for-small">
        <div class="large-12 columns">
            <div class="flexslider">
                <ul class="slides">
                    {% for slide in config.homeslider_set.all %}
                        <li>
                            {% if slide.page or slide.link %}<a href="{% if slide.page %}{% url "page" slide.page.slug %}{% else %}{{ slide.link }}{% endif %}">{% endif %}
                                <img src="{{ slide.image.url }}" alt="image"/>
                            {% if slide.page or slide.link %}</a>{% endif %}

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        {% for product in config.homeproduct_set.all %}
            <div class="large-4 columns">
                <div class="product-box">
                    <a href="{% url "game" product.product.slug %}">
                        <img src="/static/img/games/{{ product.product.slug }}/img/bg.jpg" alt="{{ product.product.name }}">

                        <div class="lotto-logos" style="background-image: url('/static/img/games/{{ product.product.slug }}/img/logo.png')"></div>

                        <div class="jackpot-amount">{% trans "CURRENT JACKPOT" %}<h1>&euro; {{ product.product.get_jackpot|floatformat:2|intcomma }}</h1></div>

                        <div class="button expand">{% trans "Play" %} {{ product.product.name }}</div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="blog">
        <div class="row">
            <div class="large-12 columns"><h2>{% trans "Latest Blogs" %}</h2></div>

            <div class="large-12 columns">
                <ul class="small-block-grid-2 large-block-grid-3">
                    {% if blog_list  %}
                        {% for post in blog_list %}
                            {% with post.get_translation as post_trans %}
                            <li>
                                <div class="blog-box">
                                    {% if post.photo %}
                                        {% thumbnail post.photo "600x260" crop="center" as im %}
                                           <a href="blog/{{ post_trans.slug }}">
                                               <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"  alt="{{ post_trans.title }}" />
                                           </a>
                                        {% endthumbnail %}
                                        <span class="comment_count hide-for-medium-down">12</span>
                                    {%  endif %}

                                    <h3>{{ post_trans.title }}</h3>

                                    <div class="text">
                                        <b>{{ post.date_published|date:"b, d M Y" }}</b>
                                        <p>{{ post_trans.body|striptags|truncatewords:30 }}</p>
                                    </div>
                                    <div class="readmore">
                                        <ul class="inline-list">
                                            <li><a href="blog/{{ post_trans.slug }}">{% trans "read more" %}</a></li>
                                            <li class="right">

                                                <ul class="inline-list s-icon">
                                                    <li><a href="http://plus.google.com/{{ config.googleplus }}" target="_blank"><span data-icon="&#xe0ad;"></span></a></li>
                                                    <li><a href="http://www.facebook.com/{{ config.facebook }}" target="_blank"><span data-icon="&#xe0aa;"></span></a></li>
                                                    <li><a href="http://www.twitter.com/{{ config.twitter }}" target="_blank"><span data-icon="&#xe0ab;"></span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div id="about">
        <div class="row">
            <div class="large-12 columns">
                <h2>{% trans "A little bit more about LottoStar" %}</h2>
            </div>
            <div class="large-12 columns">
                <ul class="small-block-grid-2 large-block-grid-3">
                    {% for content in config.homeblockcontent_set.all %}
                        {% with content.description.get_translation as block %}
                            <li>
                                <h3>{% if content.page.slug %}<a href="{% url "page" content.page.slug %}">{% endif %}{{ block.title }}{% if content.page.slug %}</a>{% endif %}</h3>
                                <p>{{ block.content|striptags }}</p>
                            </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}