<html>
<head>
    <title>{{ page.title }} </title>
    <style type="text/css">
        p, table, table tr td{
            font-size: 12px !important;
            line-height: 18px;
        }
    </style>
</head>
<body style="font-family: arial; font-size: 12px; padding: 10px">
<p>{{ page.content|safe }}</p>
</body>
</html>