{% extends "base.html" %}
{% load i18n %}

{% block title %} {% with page.get_translation as page_trans %} {% if page_trans.meta_title %} {{page_trans.meta_title }} {% else %} {{ block.super }}{% endif %} {% endwith %}{% endblock %}
{% block description %} {% with page.get_translation as page_trans %} {% if page_trans.meta_description %} {{ page_trans.meta_description }} {% else %} {{ block.super }}{% endif %} {% endwith %}{% endblock %}
{% block keywords %} {% with page.get_translation as page_trans %}{% if page_trans.meta_keywords %} {{ page_trans.meta_keywords }} {% else %} {{ block.super }}{% endif %} {% endwith %}{% endblock %}

{% block content %}
    {% with page.get_translation as page_trans %}
    <section id="content" class="row">
        <div class="main-panel">
            <ul class="breadcrumbs">
                <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                <li class="current"><a href=".">{{page_trans.title|upper}}</a></li>
            </ul>

            <h1>{{page_trans.title|title|safe}} {% if page_trans.subtitle %} <br/>
                <small>{{page_trans.subtitle|title|safe}}</small> {% endif %} </h1>
            {{page_trans.content|safe}}

        </div>

        {% include "partials/sidebar.html" %}
    </section>
        <div class="clear"></div>
    {% endwith %}
{% endblock %}