$default-text-shadow-color: #000;
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: 1px;

@import "modules";

// DEFAULT STYLES
body {
  color: $text-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  width: 100%;
}

p {
  font-size: 14px;
  margin-bottom: 1.15em;
  padding: 0 8px;
}

a {
  color: $blue-mid-dark;
  &:hover {
    color: $blue-dark;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $blue-dark;
  font-family: "pt sans";
  line-height: 1em;
  margin: 5px 0;
  text-rendering: optimizelegibility;
  padding-bottom: 10px;
  letter-spacing: 0.4px;
}

h1 {
  color: $blue-mid-dark;
  border-bottom: 1px solid $grey-mid-dark;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  letter-spacing: 0.06em;
  font-style: italic;
}

h1 small {
  font-size: remCalc(16px);
  font-weight: normal;
  font-style: italic;
  ine-height: 0.1rem !important;
  text-transform: none;
}

h2, h3 {
  font-family: "pt sans";
  font-style: italic;
  font-weight: 700;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  color: $text-color;
}

.light {
  font-weight: 200 !important
}

.extra-bold {
  font-weight: 800 !important
}

.regular {
  font-weight: normal !important
}

p {
  padding-left: 0px;
  margin-bottom: 0.15em;
}

hr {
  border-top: 1px solid $grey-mid-dark;
  clear: both;
  width: 100%;
}

ul {
  list-style: none;
  list-style-image: none;
}


.clear{
  height: 20px;
  width: 100%;
  display: block;
  margin-top: 20px;
}

.center {
  margin: 0 auto;
  text-align: center;
}
/* button styles */
button, .button, button.button {
  margin: 0;
  text-transform: uppercase;
    span {
      font-weight: normal;
      font-size: 20px;
      padding-right: 5px;
      vertical-align: middle;
    }
}

.greenbtn {
  @include button-style($bg: $green-light);
  color: $blue-darkest;
  margin: 0px;
  text-transform: uppercase;
}

.breadcrumbs {
  font-family: "pt sans";
  border: none;
  background: none;
  padding: 0px;
  margin-bottom: 2px;
  display: inline-block;
}

label {
  color: $grey-dark;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus,
input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
  border-color: $blue-mid-dark;
}

textarea {
  height: 7.313em;
}

// END OF DEFAULT STYLES
////////////////////////////////////////////////////////////////////////////
#wrapper {
  min-width: 1280px;
}
#logo-container {
  width: 100%;
  display: block;
  padding-top: 10px;
  position: relative;

  a.large-logo, a.small-logo {
    position: absolute;
    z-index: 98;
    display: block;
    height: 77px;
  }
  a.large-logo {
    background: url("/static/img/logo.png") no-repeat 0 0;
    background-size: 312px 77px;
    width: 312px;

  }

  a.small-logo {
    background: url("/static/img/logo-star.png") no-repeat 0 0;
    background-size: 71px 77px;
    width: 71px;
    display: none;

  }
  .glow {
    position: absolute;
    display: block;
    width: 800px;
    height: 424px;
    z-index: 1;
    top: 0;
    left: -300px;
    background: url("../../static/img/logo-glow.png");
  }
}


////////////////////////////////////////////////////////////////////////////
// MAIN CONTAINER

#headerContainer {
  display: block;
  min-height: 80px;
}

#mainContainer {
  margin-top: 20px;
  position: relative;
  z-index: 3;

  h2, h3, h4 {
    padding: 0px 0px 11px 0px;
    text-shadow: 0px 1px 0px white;
  }

}

.product-box {
  [class*="column"] + [class*="column"]:last-child {
    float: left;
  }
  position: relative;
  z-index: 3;
  @include box-container();

  img {
    @include greyscale-filter();
  }

  button, .button {
    color: #FFFFFF;
    margin: -5px 0 0 0;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    @include border-bottom-radius(4px);
  }
}

.product-box a:hover img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}

.lotto-logos {
  margin: 0 auto;
  position: absolute;
  top: 15px;
  width: 100%;
  height: 50%;

  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  display: block;
  padding: 5px;

}

.jackpot-amount {
  margin: 0px 1px;
  padding: 5px 0px;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  font-size: 14px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.7);

  h1 {
    color: white;
    margin: 10px;
    padding: 3px;
    border: none;
  }
}

.lotto-logos.checkout {
  top: 5px;
}

.jackpot-amount.checkout {
  font-size: 12px;
  top: 53%;
  h1 {
   margin: 4px;
   font-size: 2rem !important;
  letter-spacing: 0.06em;
  line-height: 0.8rem;
  }
}

#blog {
  h2, h3 {
    padding: 0px 10px;
  }
  .blog-box {
    background-color: white;
    @include box-container($overflow: none, $radius: 0px);

    .text {
      padding: 0 10px;
      font-weight: $body-font-weight;
      font-size: 14px;
      line-height: emCalc(25px);
      overflow: hidden;
      height: emCalc(150px);
      strong {
        color: $grey-mid-dark;
        font-size: 140%;
      }
    }
    .blog-image {
      img {
        z-index: 0;
      }
    }
  }
  .readmore {
    text-transform: uppercase;
    font-weight: 700;
    padding: emCalc(10px);
    height: 45px;
    @include background-bar($padding: 10px 10px, $margin: 10px 0px 0px 0px, $left-r: 0px, $right-r: 0px);
  }
  .comment_count {
    line-height: 30px;
    float: right;
    position: relative;
    left: 15px;
    top: -192px;
    z-index: 3;
    @include comment-count();
  }
}
.s-icon{
  font-size: 20px;
  color: $grey-dark;
  li {
    text-align: center;
    padding: 0px 8px;
    margin: 0;
  }
    a {
      color: $grey-dark;
      &:hover, &:active, &:focus, &:after {
        color: $blue-mid-dark;
      }
    }
}


#about {
  margin-bottom: emCalc(20px);
  h2, h3 {
    padding: 0px 10px;
  }

  p {
    text-align: justify;
    padding-left: 10px;
  }
}

// END OF MAIN CONATINER
///////////////////////////////////////////////////////////////////////////
// INTERNAL PAGES

#content, #bottomContent{
  z-index: 1000;
  position: relative;
  background-color: #FFFFFF;
  @include box-container($overflow: none, $border-top: none, $margin: 0px auto);
  padding-bottom: 0px;

}

.push-down {
  margin-top: 40px !important;
}

// MAIN PANEL
.main-panel {
  display: table-cell;
  padding: 20px;
  width: 77%;
}

.blog-post {
  padding: 20px 0 50px;
  border-bottom: 1px solid $grey-mid-dark;
}
#bottomContent{
  z-index: 999;
  padding: 0px 15px 15px;
  h2 {
    margin: 5px 0 0;
  }
  .button {
    text-transform: uppercase;

  }
}

//FAQ
#faq {
  [class*="column"] + [class*="column"]:last-child {
    float: left;
  }
  h3 {
    color: #333;
    border-bottom: 1px solid $grey-mid;
  }
  li {
    font-size: 14px;
    list-style: none;
    list-style-image: none;
  }
}

//END OF INTERNAL PAGES
///////////////////////////////////////////////////////////////////////////
//ACCOUNTS PAGE

.account-managment {
  [class*="block-grid-"] {
    margin: 0px 0px;
  }
  .large-block-grid-3 > li {

    a {
      margin: 5px emCalc(2.5px);
    }
  }

  .acc-block {

      border-right: 1px solid #c0c0c0;
      min-height: 250px;
      margin-bottom: 10px;

    .icon-block {
      width: 100%;
      padding: 5px;
      margin: 0 auto;
      position: relative;
      clear: both;
    }
    span {
      text-align: center;
    }

    text-align: center;
    padding-top: 7px;
    display: block;

    h6 {
      padding-top: 5px;
       background-color: $blue-mid-dark;
      color: white;
      margin: 0;
    }
  }

}

//END OF ACCOUNTS PAGE

.results table {
  border: none !important;
}

.results table tr.even, table tr.alt, .results table tr:nth-of-type(2n) {
  background: none;
  border: 1px solid #D6D7D5;
}
.results table thead tr th, .results table thead tr td, .results table tfoot tr th, .results table tfoot tr td {
  text-shadow: none;
}