@import "../compass";
@import "../site/colors";
@import "../site/modules";

.edit a{
  float: right;
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
}

#checkout{
  h3 {
    margin: 0px !important;
  }

  strong {
    color: $blue-darkest;
  }


  input[type="number"] {
    margin: 0 !important;
  }
  table.entries, table.account, table.final {
    td {
      padding: 15px 10px 5px;
    }
  }

  table.entries{
    tr td.total {
      font-size: 16px;
      font-weight: bold;
      color: $blue-mid-dark;
      @include background-image(linear-gradient($grey-light, $grey-mid));
    }
  }

  table.account{}

  table.final{
     td {
      padding: 15px 10px;
    }
    td:first-child {
       @include background-image(linear-gradient($grey-light, $grey-mid));
    }
    td.payment-due{
      font-size: 16px;
      font-weight: bold;
      color: white;
      @include background-image(linear-gradient($blue-mid-dark, $blue-mid-dark));
    }
  }
}
