$blue-light: #4ce0ff;
$blue-mid-light: #3fd0ff;
$blue-mid-dark: #00B1FF;
$blue-dark: #0087C2;
$blue-darkest: #004b76;

$grey-light: #F3F3F3;
$grey-mid: #E7E7E7;
$grey-mid-dark: #cccccc;
$grey-dark: #9A9A9A;
$text-color: #343434;

$green-light: #bad40a;
$green-mid: #8eb806;

$white: #f7f7f7;
$black: #222;

$orange: #F78B0B;



$bg:$white;
$bg-light: lighten(mix($white,$bg),2%);
$main: $blue-mid-light;


$text-color-light: $text-color;
$text-color-lightest: $text-color-light;
$text-color-medium: mix($text-color,$text-color-light);
$link-color: $blue-mid-light;

/* Length Measurements */

$vertical-space: 1em;
$vertical-space-small: $vertical-space/2;
$vertical-space-large: $vertical-space*2;
$vertical-space-xl: $vertical-space*4;

$horizontal-space: 2.5%;
$horizontal-space-large: $horizontal-space*2;
$horizontal-space-xl: $horizontal-space*3;

/* Type Styles */



