
#contact {
  h3 {
    padding-left: 0px;
  }
  .lang, .number {
    padding: 10px;
    margin: 5px 0;
    font-family: "PT Sans";
    vertical-align: bottom;
  }
  .lang {
    background-color: $grey-mid;
  }
  .number {
    background-color: $grey-mid-dark;
  }
}
/*.section-container section .title, .section-container .section .title, .section-container.auto section .title, .section-container.auto .section .title {
  text-align: center;

}
.section-container section .title a, .section-container .section .title a, .section-container.auto section .title a, .section-container.auto .section .title a {
  color: #FFFFFF;
  display: inline-block;
  font-family: "PT Sans";
  font-size: 1.3em;
  padding: 18px 0;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  max-width: 222px;
}*/

.map {
  margin-top: -0.5em;
  width: 100%;
  height: 300px;
  display: block;
  img {
    height: 300px;
    border: 5px solid $grey-mid;
  }
}