@import "../compass";
@import "colors";

#message, #formmessage {
  left: 0;
  position: fixed;
  top: -5px;
  z-index: 9998;
  width: 100%;
  display: block;

  .alert {
    z-index: 9999;
    width: 50%;
    margin: 0 auto;
    display: block;
    color: $text-color;
    padding: 6px 20px 0px;
    @include border-radius(4px);
    span {
        vertical-align: top;
        margin-left: 8px;
        line-height: 35px;
    }
    .msgicon {
      margin-left: -10px;
      width: 32px;
      height: 32px;
      display: inline-block;
    }
  }

}
.alert-error {
    background-color: #fec8c8;
    border: 2px solid red;
    .msgicon {
      background: url("/static/img/warning-icon.png");
    }
  }

  .alert-success {
    background-color: #c7f788;
    border: 2px solid #3c9a06;
    .msgicon {
      background: url("/static/img/success-icon.png");
    }
  }