@mixin type-default {
	font-family: "PT Sans";
	font-weight: 300;
}

@mixin type-medium {
	@include type-default;
	font-weight: 700;
}

@mixin type-heavy {
	@include type-default;
	font-weight: 900;
}

@mixin type-heading {
	@include type-heavy;
	line-height: 1.25em;
}

@font-face {
	font-family: 'ElegantIcons';
	src:url('../../static/fonts/ElegantIcons.eot');
	src:url('../../static/fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('../../static/fonts/ElegantIcons.woff') format('woff'),
		url('../../static/fonts/ElegantIcons.ttf') format('truetype'),
		url('../../static/fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
	font-family: 'ElegantIcons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
