@import "../compass";
@import "colors";



//FOOTER CONTAINER
#footerContainer {
  color: $grey-light;
  //background-color: #363636;
  margin: 0;
  padding: 0;
}
#footerSecurity {
  padding: 10px 0px 30px;
  color: $grey-mid-dark;
  display: block;
  text-align: center;
  background-color: $grey-light;

  p {
    text-align: center;
  }
  img {
    padding: 5px;
  }
}
#footerHeader {
  background-color: #202020;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  color: #DDDDDD;
  min-height: 60px;
  padding-top: 7px;
  width: 100%;
  img {
    margin-top: emCalc(5px);
  }
  p {
    font-size: emCalc(11px);
    display: inline-block;
    text-align: justify;
  }
}

#footerMain {
  padding-top: 20px;
  background-color: #363636;
  h4 {
    color: $white;
    text-transform: uppercase;
    font-size: emCalc(17px);
    letter-spacing: 0.130em;
    font-style: italic;
    padding: 0 10px;
    @include single-text-shadow;
    @include type-default;
    font-weight: 700;
  }
  .side-nav li {
    border: none !important;
  }
  .side-nav li a {
    line-height: 1.2;
    padding: 0 10px;
    &:hover {
      color: $blue-mid-dark;
    }
    img {
      width: 20px;
      height: 20px;
    }
    span {
      padding-left: 10px;
      vertical-align: top;
    }
    color: #DDDDDD;
  }
  .hot {
    li {
      margin-top: 15px;
    }
    a{
      &:hover {
        color: red !important;
      }
    }

    img {
      width: 70px !important;
      height: 50px !important;
      margin-top: -15px;

    }
    span {
      vertical-align: bottom;
      font-size: emCalc(20px);
    }
  }
}




#footerFooter {
  font-size: 11px;
  padding-top: emCalc(10px);
  background-color: $black;
  padding-bottom: emCalc(15px);
  border-top: 1px solid #444444;
}
