form.custom .custom.dropdown {
  margin-bottom: 0px !important;
}

form.custom .custom.dropdown .selector {
  cursor: default;
  display: block;

  @include background-image(linear-gradient(#edecec, #d6d6d6));
  position: absolute;
  right: 0;
  top: 0;
  width: 2.5em;
  height: 2.16em;

  &:after {
    background: url("/static/img/icons/dropdown-icon.png") no-repeat 0 0;
    width: 24px;
    height: 24px;
    border-color: transparent transparent;
    left: 2px;
    top: 4px;
  }
}

form.custom .custom.dropdown:hover a.selector:after, form.custom .custom.dropdown.open a.selector:after {
  background: url("/static/img/icons/dropdown-icon-active.png") no-repeat 0 0;
  width: 24px;
  height: 24px;
  border-color: transparent transparent;
  left: 2px;
  top: 4px;
}

.error small, small.error {
  padding: 0 0.25em;
}

form.custom .dropit .custom.dropdown {
  width: 118px;
  margin-right: 2px;
}

form.custom .dropit .custom.dropdown:last-child {
  width: 120px;
  margin-right: 0px;
}

form.custom .custom.dropdown ul {
  max-height: 80px;
}










//////////////////////////////////
* {
  margin: 0;
  padding: 0;
}

.ffSelectWrapper {
  display: inline-block;
  zoom: 1;
  margin: 5px 0;
}

.ffSelectButton, .ffSelectButton span,
.ffSelectMenuWrapper div.ffSelectMenuTop,
.ffSelectMenuWrapper div.ffSelectMenuBottom,
.ffSelectMenuWrapper > div > span,
.ffButtonWrapper a, .ffButtonWrapper a span {
  background-image: url("/static/img/sprite.png");
  background-repeat: no-repeat;
}

/* selectbox */
.ffSelectWrapper {
  width: 117px;
  *clear: both;
}

.ffSelect {
  position: relative;
}

.ffSelect > a {
  background-position: right -128px;
  display: block;
  text-decoration: none;
  outline: 0;
  cursor: default;

}

.ffSelect > a > span {
  display: block;
  height: 28px;
  margin-right: 40px;
  padding-left: 10px;
 background-position: 0 0;
  overflow: hidden;
  line-height: 28px;
  font-size: 14px;
  color: #555;
  white-space: nowrap;
  *white-space: normal;
  text-overflow: ellipsis;
}

.ffSelect:hover > a, .ffSelectWrapper.focus .ffSelect > a {
  background-position: right -160px;

}

.ffSelect:hover > a > span, .ffSelectWrapper.focus .ffSelect > a > span {
  background-position: 0 -32px;
}

.ffSelectWrapper.active  .ffSelect> a {
  background-position: right -192px;
  z-index: 1005;
  position: relative;
}

.ffSelectWrapper.active  .ffSelect > a > span {
  background-position: 0 -64px;
}

.ffSelectWrapper.disabled .ffSelect > a {
  background-position: right -224px;
}

.ffSelectWrapper.disabled .ffSelect > a > span {
  background-position: 0 -96px;
  color: #999;
}

.ffSelectMenuWrapper {
  width: 100%;
}

.ffSelectMenuWrapper .ffSelectMenuMidBG ul {
  list-style-type: none;
  margin: 0 0;
  padding: 0;
}

.ffSelectMenuWrapper .ffSelectMenuMidBG li {
  padding: 5px;
  cursor: default;
  background-color: #fff;
}

.ffSelectMenuWrapper .ffSelectMenuMidBG li SPAN {
  font-size: 14px;
}

.ffSelectMenuWrapper .ffSelectMenuMidBG li.disabled SPAN {
  color: #888;
}

.ffSelectMenuWrapper .ffSelectMenuMidBG li.on {
  background-color: #ccc;
}

.ffSelectMenuWrapper {
}

.ffSelectMenuTop {
  height: 5px;
  background-position: 0 -394px;

}

.ffSelectMenuTop span {
  display: block;
  height: 5px;
  margin-left: 8px;
  background: right -384px;
}

.ffSelectMenuBottom {
  height: 5px;
  background-position: 0 -414px;
}

.ffSelectMenuBottom span {
  display: block;
  height: 5px;
  margin-left: 8px;
  background-position: right -404px;
}

.ffSelectMenuMidBG {
  background: url("/static/img/sides.png") repeat-y right 0;
}

.ffSelectMenuMid {
  max-height: 200px;
  overflow: auto;
  background: url("/static/img/sides.png") repeat-y 0 0;
  padding-left: 4px;
  margin-right: 4px;
}

select.mobileSelect {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  display: block;
}


.id_country .ffSelect{
  width:364px;
}

.id_dob_day small.error{
  margin-top: -0.1em;

}

