.ie7 {
  /* The Grid ---------------------- */
 .row { width: 1100px; max-width: 100%; min-width: 768px; margin: 0 auto; }
 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
 .row.large-collapse .column,
 .row.large-collapse .columns { padding: 0; }
 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
 .row .row.large-collapse { margin: 0; }

 .column,  .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
 .column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }

 [class*="column"] + [class*="column"]:last-child { float: right; }
 [class*="column"] + [class*="column"].end { float: left; }

 .large-1,
 .row .large-1 { width: 8.33333%; }

 .large-2,
 .row .large-2 { width: 16.66667%; }

 .large-3,
 .row .large-3 { width: 25%; }

 .large-4,
 .row .large-4 { width: 33.33333%; }

 .large-5,
 .row .large-5 { width: 41.66667%; }

 .large-6,
 .row .large-6 { width: 50%; }

 .large-7,
 .row .large-7 { width: 58.33333%; }

 .large-8,
 .row .large-8 { width: 66.66667%; }

 .large-9,
 .row .large-9 { width: 75%; }

 .large-10,
 .row .large-10 { width: 83.33333%; }

 .large-11,
 .row .large-11 { width: 91.66667%; }

 .large-12,
 .row .large-12 { width: 100%; }

 .row .large-offset-1 { margin-left: 8.33333%; }
 .row .large-offset-2 { margin-left: 16.66667%; }
 .row .large-offset-3 { margin-left: 25%; }
 .row .large-offset-4 { margin-left: 33.33333%; }
 .row .large-offset-5 { margin-left: 41.66667%; }
 .row .large-offset-6 { margin-left: 50%; }
 .row .large-offset-7 { margin-left: 58.33333%; }
 .row .large-offset-8 { margin-left: 66.66667%; }
 .row .large-offset-9 { margin-left: 75%; }
 .row .large-offset-10 { margin-left: 83.33333%; }

 .pull-2 { right: 16.66667%; }
 .pull-3 { right: 25%; }
 .pull-4 { right: 33.33333%; }
 .pull-5 { right: 41.66667%; }
 .pull-6 { right: 50%; }
 .pull-7 { right: 58.33333%; }
 .pull-8 { right: 66.66667%; }
 .pull-9 { right: 75%; }
 .pull-10 { right: 83.33333%; }

 .push-2 { left: 16.66667%; }
 .push-3 { left: 25%; }
 .push-4 { left: 33.33333%; }
 .push-5 { left: 41.66667%; }
 .push-6 { left: 50%; }
 .push-7 { left: 58.33333%; }
 .push-8 { left: 66.66667%; }
 .push-9 { left: 75%; }
 .push-10 { left: 83.33333%; }

/* Nicolas Gallagher's micro clearfix */
 .row { *zoom: 1; }
 .row:before, .row:after { content: " "; display: table; }
 .row:after { clear: both; }

}


