@import "colors";
@import "compass";
@import "modules";
.ie8 {
/*  * {
    behavior: url(/static/pie/PIE.htc);
  }*/
  /* The Grid ---------------------- */
  .row {
    width: 1280px;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
  }
  .row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -15px;
  }
  .row.large-collapse .column,
  .row.large-collapse .columns {
    padding: 0;
  }
  .row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -15px;
  }
  .row .row.large-collapse {
    margin: 0;
  }

  .column, .columns {
    float: left;
    min-height: 1px;
    padding: 0 15px;
    position: relative;
  }
  .column.large-centered, .columns.large-centered {
    float: none;
    margin: 0 auto;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }
  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .large-1,
  .row .large-1 {
    width: 8.33333%;
  }

  .large-2,
  .row .large-2 {
    width: 16.66667%;
  }

  .large-3,
  .row .large-3 {
    width: 25%;
  }

  .large-4,
  .row .large-4 {
    width: 33.33333%;
  }

  .large-5,
  .row .large-5 {
    width: 41.66667%;
  }

  .large-6,
  .row .large-6 {
    width: 50%;
  }

  .large-7,
  .row .large-7 {
    width: 58.33333%;
  }

  .large-8,
  .row .large-8 {
    width: 66.66667%;
  }

  .large-9,
  .row .large-9 {
    width: 75%;
  }

  .large-10,
  .row .large-10 {
    width: 83.33333%;
  }

  .large-11,
  .row .large-11 {
    width: 91.66667%;
  }

  .large-12,
  .row .large-12 {
    width: 100%;
  }

  .row .large-offset-1 {
    margin-left: 8.33333%;
  }
  .row .large-offset-2 {
    margin-left: 16.66667%;
  }
  .row .large-offset-3 {
    margin-left: 25%;
  }
  .row .large-offset-4 {
    margin-left: 33.33333%;
  }
  .row .large-offset-5 {
    margin-left: 41.66667%;
  }
  .row .large-offset-6 {
    margin-left: 50%;
  }
  .row .large-offset-7 {
    margin-left: 58.33333%;
  }
  .row .large-offset-8 {
    margin-left: 66.66667%;
  }
  .row .large-offset-9 {
    margin-left: 75%;
  }
  .row .large-offset-10 {
    margin-left: 83.33333%;
  }

  .pull-2 {
    right: 16.66667%;
  }
  .pull-3 {
    right: 25%;
  }
  .pull-4 {
    right: 33.33333%;
  }
  .pull-5 {
    right: 41.66667%;
  }
  .pull-6 {
    right: 50%;
  }
  .pull-7 {
    right: 58.33333%;
  }
  .pull-8 {
    right: 66.66667%;
  }
  .pull-9 {
    right: 75%;
  }
  .pull-10 {
    right: 83.33333%;
  }

  .push-2 {
    left: 16.66667%;
  }
  .push-3 {
    left: 25%;
  }
  .push-4 {
    left: 33.33333%;
  }
  .push-5 {
    left: 41.66667%;
  }
  .push-6 {
    left: 50%;
  }
  .push-7 {
    left: 58.33333%;
  }
  .push-8 {
    left: 66.66667%;
  }
  .push-9 {
    left: 75%;
  }
  .push-10 {
    left: 83.33333%;
  }

  /* Nicolas Gallagher's micro clearfix */
  .row {
    *zoom: 1;
  }
  .row:before, .row:after {
    content: " ";
    display: table;
  }
  .row:after {
    clear: both;
  }

  /* Small Block Grids */
  .small-block-grid-2 {
    list-style: none
  }

  .small-block-grid-2 li {
    float: left;
    width: 50%;
    padding: 0 10px 10px;
  }

  .small-block-grid-2 li:first-child+li {
    float: right
  }

  .small-block-grid-2 li:first-child+li+li {
    clear: both
  }

  .small-block-grid-3 {
    list-style: none
  }

  .small-block-grid-3 li {
    float: left;
    width: 33.3333%;
    padding: 0 10px 10px;
  }

  .small-block-grid-3 li:first-child+li+li {
    float: right
  }

  .small-block-grid-3 li:first-child+li+li+li {
    clear: both
  }

  .small-block-grid-4 {
    list-style: none
  }

  .small-block-grid-4 li {
    float: left;
    width: 25%;
    padding: 0 10px 10px;
  }

  .small-block-grid-4 li:first-child+li+li+li {
    float: right
  }

  .small-block-grid-4 li:first-child+li+li+li+li {
    clear: both
  }

  .small-block-grid-5 {
    list-style: none
  }

  .small-block-grid-5 li {
    float: left;
    width: 20%;
    padding: 0 10px 10px;
  }

  .small-block-grid-5 li:first-child+li+li+li+li {
    float: right
  }

  .small-block-grid-5 li:first-child+li+li+li+li+li {
    clear: both
  }

  .small-block-grid-6 {
    list-style: none
  }

  .small-block-grid-6 li {
    float: left;
    width: 16.6667%;
    padding: 0 10px 10px;
  }

  .small-block-grid-6 li:first-child+li+li+li+li+li {
    float: right
  }

  .small-block-grid-6 li:first-child+li+li+li+li+li+li {
    clear: both
  }

  .small-block-grid-7 {
    list-style: none
  }

  .small-block-grid-7 li {
    float: left;
    width: 14.2857142%;
    padding: 0 10px 10px;
  }

  .small-block-grid-7 li:first-child+li+li+li+li+li+li {
    float: right
  }

  .small-block-grid-7 li:first-child+li+li+li+li+li+li+li {
    clear: both
  }

  .small-block-grid-8 {
    list-style: none
  }

  .small-block-grid-8 li {
    float: left;
    width: 12.5%;
    padding: 0 10px 10px;
  }

  .small-block-grid-8 li:first-child+li+li+li+li+li+li+li {
    float: right
  }

  .small-block-grid-8 li:first-child+li+li+li+li+li+li+li+li {
    clear: both
  }

  .small-block-grid-9 {
    list-style: none
  }

  .small-block-grid-9 li {
    float: left;
    width: 11.111111%;
    padding: 0 10px 10px;
  }

  .small-block-grid-9 li:first-child+li+li+li+li+li+li+li+li {
    float: right
  }

  .small-block-grid-9 li:first-child+li+li+li+li+li+li+li+li+li {
    clear: both
  }

  .small-block-grid-10 {
    list-style: none
  }

  .small-block-grid-10 li {
    float: left;
    width: 10%;
    padding: 0 10px 10px;
  }

  .small-block-grid-10 li:first-child+li+li+li+li+li+li+li+li+li {
    float: right
  }

  .small-block-grid-10 li:first-child+li+li+li+li+li+li+li+li+li+li {
    clear: both
  }

  .small-block-grid-11 {
    list-style: none
  }

  .small-block-grid-11 li {
    float: left;
    width: 9.0909%;
    padding: 0 10px 10px;
  }

  .small-block-grid-11 li:first-child+li+li+li+li+li+li+li+li+li+li {
    float: right
  }

  .small-block-grid-11 li:first-child+li+li+li+li+li+li+li+li+li+li+li {
    clear: both
  }

  .small-block-grid-12 {
    list-style: none
  }

  .small-block-grid-12 li {
    float: left;
    width: 8.333333%;
    padding: 0 10px 10px;
  }

  .small-block-grid-12 li:first-child+li+li+li+li+li+li+li+li+li+li+li {
    float: right
  }

  .small-block-grid-12 li:first-child+li+li+li+li+li+li+li+li+li+li+li+li {
    clear: both
  }
  .small-1, .small-3, .small-4, .small-5, .small-6, .small-7, .small-9, .small-12 {
    position: relative;
  }
  .row .small-1 {
    width: 8.33333%;
}
  .row .small-3 {
    width: 25%;
  }
  .row .small-4 {
    width: 33.3333%;
  }
  .row .small-5 {
    width: 41.6667%;
  }
  .row .small-6 {
    width: 50%;
  }
  .row .small-7 {
    width: 58.3333%;
  }
  .row .small-9 {
    width: 75%;
  }
  .row .small-12 {
  width: 100%;
}
  .row .small-offset-3 {
    margin-left: 25%;
}
  .column.small-centered, .columns.small-centered {
    float: none !important;
    margin-left: auto;
    margin-right: auto;

}
  .row .row.collapse {
  margin: 0;
  max-width: none;
  width: auto;
}
  // MY changes

  .logo {
    padding-top: 10px;
  }

  .top-bar-section ul {
    background-color: #111111;
  }
  .top-bar-section li a:not(.button) {
    background: none repeat scroll 0 0 #111111;
    line-height: 29px;
    padding: 0 10px;
    border: none;
    font-size: 14px;

  }
  nav .f-dropdown.content {
    width: 900px;
    padding: 0;
  }

  div.gameselector {
    width: 190px;
  }

  #contentContainer .gradient {
    background: url("/static/img/site-background/gradient-bg.png") repeat-x bottom;
  }
  .nav .f-dropdown.content {
    max-width: 87% !important;
  }
  .f-dropdown.content {
    background-color: rgb(231, 231, 231) !important;
    max-width: 87% !important;

  }
  .gameselector h4 {
    font-size: 18px;
  }

  //IMAGE SLIDER
  .flexslider {
    overflow: hidden;
  }

  //PRODUCT BOX
  .jackpot-amount {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4c000000', endColorstr='#4c000000'); /* IE */

    h1 {
      font-family: Arial;
      margin: 0;
    }
  }

  //marquee
  .marquee {
    border-radius: 5px 5px 5px 5px;
  }

  .winners {

    width: 200px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 15px;
  }

  #blog {
    .blog-box {
      display: inline-block;
      width: 390px;

      h3 {
        font-size: 18px;
      }
    }
  .comment_count {
    behavior: url(/static/pie/PIE.htc);
  }
    .small-block-grid-2 li {
      display: block;
      width: 400px;
      float: left;
      margin: 0px 6px 0px 6px;

      .readmore {
        .s-icon {
          display: none;
        }
      }
    }

  }

  #about {
    .small-block-grid-2 li {
      display: block;
      width: 400px;
      float: left;
      margin: 0px 6px 0px 6px;
    }
  }

  .main-panel {
    h1 {
      font-size: 30px;
    }
  }


  .side-panel {
    h2 {
      font-size: 22px;
    }
  }

/*  Playpage*/

  .game-container .push-down {
    margin-top: 0px !important;
  }
  .game-title h1 {
    margin: 15px 0px;
  }
  #topLoader {
    display: none;
  }
  .meter-container span{
    display: none;
  }

  .countdown-container {
    behavior: url(/static/pie/PIE.htc);
  }

.playblock-container {
  margin-bottom: 20px;
  height: 250px;
  display: none;
}
.playblock .basic{
	background-color:#efefef;
	width:266px;
	border:2px solid $blue-mid-dark;
	float:left;
	@include border-radius(5px);
	color:#808080;

}
  #play-control-bar{
    position: relative;
    top: 0px;
}
  .control-bar {
    background-color: transparent;
    border: none;
}

.joyride-tip-guide {
   background-color: #000000;
}
/*  .joyride-tip-guide .joyride-nub.top {
  border-bottom-color: #000000);
  border-left-color: none !important;
  border-right-color: none !important;
  border-top-color: none !important;
  top: -28px;
}*/
  //FOOTER
  #footerMain {
    .small-block-grid-2 li {
      display: block;
      width: 300px;
      float: left;
      margin: 0px 6px 0px 6px;
    }
  }

  .confirmation-bar {
     background-image: none;
    background-color: transparent;
    border: none;
    color: $text-color;
  }
  .control-bar {
    background-color: transparent;
    .row .small-4 {
      width: 30.333%;
    }
    .row .large-5 {
      width: 35.667%;
    }
  }
}