@mixin type-default {
	font-family: "PT Sans";
	font-weight: 300;
}

@mixin type-medium {
	@include type-default;
	font-weight: 700;
}

@mixin type-heavy {
	@include type-default;
	font-weight: 900;
}

@mixin type-heading {
	@include type-heavy;
	line-height: 1.25em;
}

@mixin greyscale-filter() {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  &:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
  }
}

@mixin box-container($overflow: hidden, $border-top: 1px solid white, $margin:20px 0px, $radius: 4px) {
  border-top: $border-top;
  overflow: $overflow;
  margin: $margin;
  @include box-shadow(rgba(70, 70, 70, 0.4) 0px 0px 5px 0px);
  @include border-radius($radius);
}

@mixin comment-count($size: 35px, $f-size: 12px, $color: white, $bg-color:$blue-mid-dark) {
  width: $size;
  height: $size;
  font-size: $f-size;
  text-align: center;
  color: $color;
  border: 2px solid $color;
  background-color: $bg-color;
  @include box-shadow(rgba(70, 70, 70, 0.4) 0px 0px 5px 0px);
  @include border-radius(25px);
  @include background-image(radial-gradient(45px 45px, #00B1FF 10px, #0087C2 30px));

}

@mixin background-bar($padding: 10px 20px, $margin: 20px 0px, $bg-color: $grey-mid, $color-1: $grey-light, $color-2: $grey-mid, $left-r: 4px, $right-r: 4px) {
  padding: $padding !important;
  margin: $margin !important;
  border: 1px solid $grey-mid-dark;
  background-color: $bg-color;
  @include background-image(linear-gradient($color-1, $color-2));
  @include border-left-radius($left-r);
  @include border-right-radius($right-r);

}

@mixin nav-font($text-c: $text-color) {
  font-family: "pt sans";
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $text-c;
}

@mixin gradient-nav () {
  height: emCalc(53px);
  line-height: 58px;
  @include nav-font();
  text-shadow: 0 1px 1px $blue-darkest;
  background-color: #00B1FF;
  @include background-image(linear-gradient(#00D8FF, #00C4FF 50%, #00B1FF 50%, #0092FF));
  background: -ms-linear-gradient(top, #00D8FF 0%,#00C4FF 50%,#00B1FF 50%,#0092FF 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00D8FF', endColorstr='#0092FF',GradientType=0 ); /* IE6-9 */
}

@mixin gradient-nav-hover () {
  text-shadow: 0 1px 1px $blue-light;
  background-color: #1EA8FF;
  @include background-image(linear-gradient(#4CE0FF, #3FD0FF 50%, #33C1FF 50%, #1EA8FF));
  background: -ms-linear-gradient(top, #4CE0FF 0%,#3FD0FF 50%,#33C1FF 50%,#1EA8FF 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4CE0FF', endColorstr='#1EA8FF',GradientType=0 ); /* IE6-9 */
}

@mixin gradient-nav-playnow () {
  height: emCalc(53px);
  line-height: 58px;
  @include nav-font();
  text-shadow: 0 1px 1px #FFDF4C;
  background-color: #FFD700;
  @include background-image(linear-gradient(#FFD700, #FFC300 50%, #FFB000 50%, #FF9000));
  background: -ms-linear-gradient(top, #FFD700 0%,#FFC300 50%,#FFB000 50%,#FF9000 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFD700', endColorstr='#FF9000',GradientType=0 ); /* IE6-9 */
}


@mixin gradient-nav-playnow-hover () {
  text-shadow: 0 1px 1px #FFDF4C;
  background-color: #FFDF4C;
  @include background-image(linear-gradient(#FFDF4C, #FFCF3F 50%, #FFC033 50%, #FFA71E));
  background: -ms-linear-gradient(top, #FFDF4C 0%,#FFCF3F 50%,#FFC033 50%,#FFA71E 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFDF4C', endColorstr='#FFA71E',GradientType=0 ); /* IE6-9 */
}



