@import "../compass";
@import "colors";

$header-size: 50px;
$menu-color: mix($text-color,$black);



.nav {
  position: relative;
  margin: 20px 0px 20px 20px;
  z-index: 20;
}

.nav {
  ul {
    margin: 0;
    padding: 0;
    border-radius: 5px;
  }

  li {
    margin: 0 -2px;
    padding: 0px;
    list-style: none outside none;
    display: inline-block;
    border-radius: 0px;
    @include box-shadow(rgba(0, 0, 0, 0.25) 0px 2px 4px 0px);
    cursor: pointer;
    a {
      padding: 16px 20px 18px;
      color: $white;
      cursor: pointer;
    }
    &:last-child {
      @include border-right-radius(5px);
      border-right: none;
    }
  }

  li.navbg {
    border-left: 1px solid $blue-light;
    border-right: 1px solid $blue-dark;
    @include gradient-nav();

    a {
      &:hover {
        color: $text-color;
        @include gradient-nav-hover();
        cursor: pointer;
        &:last-child {
          @include border-right-radius(5px);
        }
      }
    }
  }

  li.playnow {
  border-left: none;
  cursor: pointer;
  @include gradient-nav-playnow();
  @include border-left-radius(5px);
  a {
    color: $text-color;
    &:hover {
      @include border-left-radius(5px);
      @include gradient-nav-playnow-hover ();
    }
  }
}

}




.nav .f-dropdown.content {
  background-color: $white;
  background-image: none !important;
  max-width: 492px;
}

.f-dropdown.content {
  display: block;
  padding: 0;
  border-radius: 5px;
  background-image: none !important;
  background-color: $white;

  li {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    line-height: 30px;
    display: inline-block;
    border-radius: 5px;
    background-color: $white;
    background-image: none !important;
    box-shadow: none !important;
  }
}

div.gameselector{
  margin: 0 auto;
  background-color: $white;
  height: 100%;
  display: inline-block;
  text-align: center;
  text-shadow: 0 1px 1px white;
  padding: 10px;
  &:hover {
    background-color: $grey-mid;
  }
  span {
    vertical-align: top;
    font-size: 12px;
  }
  h4 {
    padding: 0;
    line-height: 1em;
    font-style: normal;
  }
}

#counter {
  padding: 5px;
  h6 {
    font-size: 0.7em;
    margin: 0px;
    padding: 0px;
  }
  position: relative;
  margin-top: 0px;
}
/*
.jPanelMenu {

  ul, ol, dl {
    list-style: none outside none;
  }
  header.main {
    width: 250px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    z-index: 10;
    float: right;

    .menu-trigger {
      margin: 10px 20px 20px 35px;
      border-radius: 5px;
      line-height: 58px;
      width: 220px;
      position: absolute;
      top: 0;
      left: 0;
      @include gradient-nav-playnow ();
      &:hover {
        @include gradient-nav-playnow-hover();
      }
    }

    nav {
      text-indent: -9999px;
    }
  }
}

#jPanelMenu-menu {
	background: $menu-color;
    overflow: hidden !important;
    z-index: 2 !important;
    @include box-shadow(rgba(0, 0, 0, 0.25) 0px 2px 4px 0px);

	ul {
		border-bottom: 1px solid lighten($menu-color,5%);
	}

	li a {
		display: block;
		padding: $vertical-space-small $horizontal-space-large;
		border-top: 1px solid lighten($menu-color,5%);
		border-bottom: 1px solid darken($menu-color,5%);
		text-decoration: none;
		text-shadow: 0 -1px 2px $black;
		color: $white;
		&:active {
			border-top-color: darken($menu-color,10%);
			padding-top: $vertical-space-small*1.1;
			padding-bottom: $vertical-space-small*.9;
		}
        &:hover {
          color: $blue-mid-light;
        }
	}
}*/
a.toggle-nav {
  cursor: pointer;
}

