@import "../compass";
@import "colors";

.reveal-modal {
  @include border-radius(10px);
  padding: 0;

  h2 {
    text-align: center;
    padding: emCalc(5px);
    color: $white;
    background-color: $blue-mid-dark;
    @include border-top-radius(10px);
    @include text-shadow(rgba($blue-darkest, 0.3) 0px 2px 1px);
    border-bottom: 1px solid $blue-darkest;
  }

  .container {
    padding: 1.800em;
    background: url("/static/img/ad-banners/promotional-bg.png") no-repeat left center ;
    @include border-bottom-left-radius(10px);


    p {
      text-align: center;
    }

    h1 {
      text-align: center;
      font-family: "PT Sans";
      font-style: italic;
      color: $blue-mid-dark;
      border: none;
      line-height: 3.8rem;
      margin: 0;
    }

    button, .button {
      text-transform: uppercase;
    }

    a.close-reveal-modal {
      position: relative;
      text-align: center;

      right: 0px;

      text-decoration: underline;
      color: $blue-mid-dark;
      font-size: 16px;
      font-weight: normal;
    }
  }

}