

//MEDIA QUERY

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 300px) and (max-width : 480px) {

//headerContainer
  a.small-logo {display: block !important;}
  a.large-logo {display: none !important;}
//mainContainer {
  #mainContainer {margin-top: 20px !important;}
//product-box
  .product-box {margin: 10px 0;
    .lotto-logos {background-size: 70%; top: 15px}
    .jackpot-amount {top: 45%; padding: 10px 0px; display: block;
      h1 {margin: 0px 0px 4px;font-size: 30px;}
    }
  }
//about
  #about {
    h2, h3 {padding: 0;}
    p {padding-left: 0;}
  }
//checkout
  #checkout table.entries td, #checkout table.account td, #checkout table.final td {padding: 15px 6px;}
  table {margin-left: -15px;}
//form
  .ffSelectWrapper {width: 100%;}
  .id_country .ffSelect{width:100%}
//accounts
  .account-managment .acc-block {border-right: none;border-bottom: 1px solid #C0C0C0;
    &:last-child{border: none;}
  }
//contact
  #contact {
    .lang, .number {padding: 10px 10px 5px;min-height: 60px;}

    .row .small-3 {width: 27%;}
    .row .small-9 {width: 71%;}
    [class*="column"] + [class*="column"]:last-child {float: left;}
    .row .small-offset-3 {margin-left: 27%;}
  }
//general
  h1 {font-size: 1.9rem;line-height: 0.7em;}
  h1 small {font-size: 0.8rem;}
  .small-block-grid-2 > li {width: 100%;}
  h2 {font-size: 20px;}
}

@media only screen and (min-width: 481px) and (max-width: 767px)  {
//product-box
   .lotto-logos {top: 49px !important; }
//form
  .large-centered {margin-left: 0;}
}

@media only screen and (min-width: 768px) and (max-width: 801px)  {
//product-box
  .lotto-logos {background-size: 70%; top: 20px !important; }
  .jackpot-amount {top: 45%; padding: 10px 0px; display: block; font-size: 12px;
      h1 {margin: 0px 0px 4px;font-size: 20px;line-height: 0.5em;}
    }
//contact page
  .section-container.auto section .title, .section-container.auto .section .title {position: static !important;}
  .section-container section.active {padding-top: 0px !important;}
}



@media only screen and (max-width: 800px) {
//topbar
  .top-bar-section ul {margin-top: 29px;}
//headerContainer
  .jPanelMenu header.main {width: 233px;
    .menu-trigger {width: 200px; margin: 20px 20px 20px 35px;}
  }
//content
  .main-panel, .side-panel {width: 100%;display: block;@include border-top-right-radius(0px);}
//checkout
  .edit a{clear: none;float: left;&:first-child {text-align: left;}&:last-child {text-align: right;float: right;}}
//footer
  #footerSecurity {
    p {text-align: justify;}
  }

  #headerContainer {
    .row .large-3 {position: relative;width: 45%;}
    .row .large-9 {position: relative;width: 55%;}
  }
  .control-bar {@include background-bar($padding: 5px 20px, $margin: 0px 0px, $right-r: 0px, $left-r: 0px, $shadow: none);}
  .confirmation-bar {@include background-bar($padding: 5px 20px, $margin: 0px 0px 20px, $bg-color: $green-light, $color-1: $green-light, $color-2: $green-mid, $right-r: 0px, $left-r: 0px, $shadow: none);}
  .s-icon li {margin: 0;padding: 0 2px;text-align: center;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1025px) {

//contact pg
  .section-container.auto section .title, .section-container.auto .section .title {position: static !important;}
  .section-container section.active {padding-top: 0px !important;}
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  /* Styles */
}










/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

}

@media only screen and (max-width : 1024px) {
 #content {border-radius: 0px !important;}
  //.game-container {
  //  min-width: 1280px;
  //}
}











/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */
}


/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}

/* iPhone 5 ----------- */
/* You've spent way to much on a phone */

@media screen and (device-aspect-ratio: 2/3) {}

@media screen and (device-aspect-ratio: 40/71) {}

@media screen and (device-aspect-ratio: 3/4) {}
