@import "../compass";
@import "colors";

.side-panel {
  width: 300px;
  display: table-cell;
  background-color: $grey-light;
  padding: 20px;
  @include border-top-right-radius(4px);

  h2 {
    font-weight: normal;
    font-style: normal;
    padding: 0px 0px 12px 0px !important;
    text-shadow: 0 1px 0 white;
    line-height: 1.8rem;
    border-bottom: 1px solid $grey-mid-dark;
  }


}

.basket {
  border: 1px solid $blue-dark;
  background-color: $white;
  margin-bottom: 1em;
  h3 {
    margin-top: 0px !important;
    color: white;
    text-shadow: none !important;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    padding: 10px !important;
    background-color: $blue-dark;
  }
  ul {
    margin-bottom: 0px !important;
    li {
      font-size: 14px;
      color:  $grey-dark ;
      padding: 0.3125em 10px;
    }
  }
  ul.inline-list {
    border-top: 1px solid $blue-dark;
    padding: 5px 0px;
    li {
      float: none !important;
      margin-left: 0px !important;
    }
  }
}


.subheader {
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
}

article {
  font-size: 12px;
  padding: 15px 0px;
}


.side-nav li{
  a {
    color: $grey-dark;
    margin: 0;
    padding: emCalc(5px) 0;
    &:hover {
      color: $blue-dark;
    }
    span {
      font-size: 20px;
      vertical-align: middle;
    }
  }
}

/*
.side-nav li a:first-child {
  border-top: none;
}

.side-nav li a:last-child {
  border-bottom: none;
}*/
