
#floating-bar.fshare-large {
    top:50px !important;
}

.fshare-box {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.fshare-large {
    position: absolute;
    top: 0px;
    padding: 10px;
    background-color: $white;
    @include border-left-radius($default-border-radius);
}

.fshare-large .fshare-button {
    width: 100px;
    height: 37px;
    background-repeat: no-repeat;
    cursor: pointer;
    color: $white;
    font-size: 11px;
    padding-top: 4px;
    @include type-medium;
}
.fshare-large .fshare-button.fb {
    background-image: url('/static/img/tab-fb.png');

}
.fshare-large .fshare-button.tw {
    background-image: url('/static/img/tab-tw.png');
}
.fshare-large .fshare-button.gplus {
    background-image: url('/static/img/tab-gplus.png');
}
.fshare-large .fshare-button.in {
    background-image: url('/static/img/tab-in.png');
}
.fshare-large .fshare-button span {
    display: block;
    margin-left: 40px;
    line-height:1.2;
    cursor: pointer;
}
a.social-label {
    text-decoration: none !important;
    color: $white !important; /*display:block;*/
}
.fshare-box-inner {
  cursor: pointer;
}
#fshare-collapsed {
  text-align: right;
  @include type-default;
}