#topBar {
  .top-bar {
    margin-bottom: 0;
    a {
      color: $white;
    }
  }
  .top-bar-section ul li > a {
    font-weight: normal;
  }
  #menuLanguage {
    color: #fff;
    display: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 10px 0;
    background: #000000;
    margin-top: -1px !important;
  }
}

.lang-nav {
  h4 {
    margin-bottom: emCalc(10px);
    text-align: center;
    color: $grey-light;
    text-shadow: 0px 1px #000;
  }
  .lang-list {
    display: inline-block;
    list-style: none outside none;
    text-shadow: 0 1px 0 #000000;
    margin-left: 0;
    font-size: emCalc(11px);
    li {
      width: 125px;
      margin-left: 0;
      min-height: 40px;
    }
    img {
      vertical-align: middle;
      padding: 0px 2px;
      &:hover {
        background: url("/static/img/flags/hoverOver.png") no-repeat left center;
      }
    }
    a {
      color: $grey-light;
      vertical-align: text-top;
      &:hover {
        color: $blue-mid-light;
      }
    }
  }
}
