{% extends "base.html" %}


{% block content %}
    <section id="content" class="row">
        <div class="main-panel">
            <ul class="breadcrumbs">
                <li><a href="{% url "home" %}">home</a></li>
                <li class="current"><a href="">Publishers</a></li>
            </ul>
            <h1>Publishers</h1>
            <div class="row">
                <div class="large-12 columns">
                    <h4>Publishers list</h4>
                </div>
{#                {% if publisher_list %}#}
{#                    {% for publisher in publisher_list %}#}
{#                        <div>{{ publisher }}</div>#}
{#                    {% endfor %}#}
{#                {% endif %}#}
            </div>
        </div>

        {% include "partials/sidebar.html" %}
    </section>
    <div class="clear"></div>

{% endblock %}