{% extends "registration/base.html" %}
{% load i18n static %}

{% block breadcrumb %}{% trans "Survey" %}{% endblock %}
{% block page_title %}{% trans "Survey" %}{% endblock %}
{% block description %}{% trans "Please fill in the details below" %}:{% endblock %}

{% block body %}
    <form method="post">
    <div class="fieldWrapper">
        {{ form.name_of_field }}
        <label for="id_survey"></label>
        {{ form.survey }}
    </div>
    {% csrf_token %}
    {{ form.as_table }}
    <p><input class="button radius" type="submit" value="Submit" /></p>
    </form>
{% endblock %}
