{% extends "base.html" %}


{% block content %}
    <section id="content" class="row">
        <div class="main-panel">
            <nav class="breadcrumbs">
                <li><a href="{% url "home" %}">home</a></li>
                <li class="current"><a href="">Survey</a></li>
            </nav>
            <h1>Survey</h1>
            <div class="row">
                <div class="large-12 columns">
                    <h4>Surveys list</h4>
                </div>
                {% if survey_list %}
                    {% for survey in survey_list %}
                        <div>{{ survey }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        {% include "partials/sidebar.html" %}
    </section>
    <div class="clear"></div>

{% endblock %}