{% extends "admin/change_form.html" %}

{% load i18n admin_urls %}
{% block object-tools-items %}
    <li>
        <a href="{% url "admin:pages_pagegroup_change" original.model.pk %}" class="historylink">{% trans "Edit Page Group Details" %}</a>
    </li>
    <li>
        <a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}
        <li>
            <a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a>
        </li>
    {% endif%}
{% endblock %}
