<!DOCTYPE html>
<html>
	<head>
		{% if title %}
			<title>{{ title }} - FCT</title>
		{% else %}
			<title> Welcome to FCT</title>
		{% endif %}
		<style>
			h1 {
				  font-size: 20px;
				  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
				  font-weight: normal;
				  color: #B8A500;
				}

			div {
				  font-size: 20px;
				  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
				  font-weight: normal;
				  color: #B8A500;
				}
		</style>
	</head>
	<body>
		<div>First Class Trophy: <a href="/">Calculator</a></div>
		<hr>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>