<!DOCTYPE html>
<html>

  <head>
   <style>
	p {
		font-size: 13px;
                font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
                font-weight: normal;
	        color: grey;
	}
   </style>
    <script type="text/javascript">

      function country() {
          document.getElementById("myCountry").reset();
      }
    </script>
  </head>

  <body>

    <form action="" method="post" name="welcome" id="myCountry">
      {{ form.hidden_tag() }}   
        <p>Select your country of residence:<br> {{ form.country_id }}</p> 
        {% for error in form.country_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        <p><input type="submit" value="Next"> <!--|
        <input type="button" onclick="myFunction()" value="Reset"></p>-->
    </form>

  </body>
</html>
