<!DOCTYPE html>
<html>
<head>
<style>
h3 {
  font-size: 20px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  color: #B8A500;
}
p {
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  color: grey;
}

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<!--<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
<script type="text/javascript">
  function set_openid(id, openid)
  {
    var inputElems = document.getElementsByTagName("input"),
    form = document.forms['login'];
    for (var i=0; i<inputElems.length; i++) 
    {
      if (inputElems[i].type == "checkbox" && inputElems[i].checked == true && openid == 0.0)
      {
        alert("N/A or POR") ; 
      }
    }
    if (openid != 0.0)
    {
      var y = form.elements['openid'].value;
      var z = openid;
      var x = +y + +z;
      form.elements['openid'].value = x;
      form.elements['remember_me'].value += id;
    }
  }

  function checkboxes(ids)
  {
    var inputElems = document.getElementsByTagName("input"),
    count = 0;
    var idval = ids

    for (var i=0; i<inputElems.length; i++) {       
      if (inputElems[i].type == "checkbox" && inputElems[i].checked == true && inputElems[i].id == idval){
        count++;
        if (count > 1)
          alert("You can not choose a Specy with different Taxidermy at once! Please choose only one Taxidermy per Specy!!! e.g: Baboon - Shoulder mount; Barbersheep - Shoulder mount AND NOT Baboon - Shoulder mount; Baboon - Pedestal mount incl. pedestal, etc. Please after exiting this window, press Reset button at the bottom of this page to recompute your Cost.");
      }

    }
  }

  function selectedon(ids)
  {
    var inputElems = document.getElementsByTagName("select"),
    count = 0;
    var idval = ids

    for (var i=0; i<inputElems.length; i++) {       
      if (inputElems[i].id == idval){
        count++;
        if (count < 0)
          alert("You can not choose a Specy with different Taxidermy at once! Please choose only one Taxidermy per Specy!!! e.g: Baboon - Shoulder mount; Barbersheep - Shoulder mount AND NOT Baboon - Shoulder mount; Baboon - Pedestal mount incl. pedestal, etc. Please after exiting this window, press Reset button at the bottom of this page to recompute your Cost.");
      }

    }
  }

  function myFunction() {
      document.getElementById("myForm").reset();
  }

  function OnDropDownChange(id, openid, dropDown) 
  {
    var selectedValue = dropDown.options[dropDown.selectedIndex].value;
    document.getElementById("txtSelectedCity").value += '(' + selectedValue + ',' + id + ')' + ',';
    form = document.forms['login'];

    if (openid == 0.0)
    {
      alert("N/A or POR") ; 
      //form.elements['remember_me'].value = '';
    }

    if (openid != 0.0)
    {
      var y = form.elements['openid'].value;
      var z = +openid;
      var tp = +selectedValue*z
      var x = +y + tp;
      form.elements['openid'].value = x;
      form.elements['remember_me'].value += '(' + selectedValue + ',' + id + ')' + ',';  //id;
    }
  }

  </script>
</head>

<body>

<form action="" method="post" name="login" id="myForm">
  {{ form.hidden_tag() }}

  <p>Please select your taxidermy work you like to be done <h3>(NB: Whenever unticked a non desired product, ALWAYS press the Reset button at the bottom of this page!!):</h3></p>

{% set sm  = 0 %}
{% set pde = 0 %} 
{% set fm  = 0 %}
{% set em  = 0 %}
{% set tfs  = 0 %}
{% set tfswf  = 0 %}
{% set tbs = 0 %}
{% set tbswf = 0 %}
{% set rm = 0 %}
{% set ped = 0 %}
{% set country_id = country_id %}

<table>
  <tr>
    <th>{% if country_id=='258' %} 
      {% set country_id = 258 %}
       EU - Countrys 
  {% endif %}
  {% if country_id=='167' %}
        {% set country_id = 167 %}
        Norway
    {% endif %}
  {% if country_id=='256' %}
        {% set country_id = 256 %}
        USA/Canada/Mexico/Russia/China
    {% endif %}
                </th>
    <th> Species </th>
    <th>{{ taxidermy[0] }}</th>
    <th>{{ taxidermy[1] }}</th>
    <th>{{ taxidermy[2] }}</th>
    <th>{{ taxidermy[3] }}</th>
    <th>{{ taxidermy[4] }}</th>
    <th>{{ taxidermy[5] }}</th>
    <th>{{ taxidermy[6] }}</th>
    <th>{{ taxidermy[7] }}</th>
    <th>{{ taxidermy[8] }}</th>
    <!--<th>{{ taxidermy[10] }}</th>
    <th>{{ taxidermy[10] }}</th>-->
  </tr>

  <tr {% for entrysm in entriessm %}>
    {% if entrysm.countrysm[0]== country_id %}
      <!--<td>{{ entrysm.countrysm[0] }}</td>-->

      {% if entrysm.countrysm[0]== 258 %}
      <td>{{ sm+1 }}</td>
      <td>{{ spicies[sm] }}</td>
      <!--<td>"{{ entrysm.idsm }}{{ entriesped[ped]['idped'] }}{{ entriesfm[fm]['idfm'] }}{{ entriesem[em]['idem'] }}{{ entriestfs[tfs]['idtfs'] }}{{ entriestfswf[tfswf]['idtfswf'] }}{{ entriestbs[tbs]['idtbs'] }}{{ entriestbswf[tbswf]['idtbswf'] }}{{ entriesrm[rm]['idrm'] }}"</td>-->
      <td><select name='sholder_mount' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entrysm.idsm }},',{{ entrysm.pricesm }},this);">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
      </td>

        <!--<td>{{ entriesped[ped]['nameped'] }}</td>-->
        <td><select name='pedestal' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriesped[ped]['idped'] }},',{{ entriesped[ped]['priceped'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set ped = ped+3 %}

        <!--<td>{{ entriesfm[fm]['namefm'] }}</td>-->
        <td><select name='full_mount' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriesfm[fm]['idfm'] }},',{{ entriesfm[fm]['pricefm'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set fm = fm+3 %}

        <td><select name='european_mount' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriesem[em]['idem'] }},',{{ entriesem[em]['priceem'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set em = em+3 %}
      
 
        <td><select name='tanning_of_full_skin' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriestfs[tfs]['idtfs'] }},',{{ entriestfs[tfs]['pricetfs'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set tfs = tfs+3 %}
      

        <td><select name='tanning_full_skin_with_felt' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriestfswf[tfswf]['idtfswf'] }},',{{ entriestfswf[tfswf]['pricetfswf'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set tfswf = tfswf+3 %}
      

        <td><select name='tanning_of_back_skin' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriestbs[tbs]['idtbs'] }},',{{ entriestbs[tbs]['pricetbs'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set tbs = tbs+3 %}


        <td><select name='tanning_back_skin_with_felt' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriestbswf[tbswf]['idtbswf'] }},',{{ entriestbswf[tbswf]['pricetbswf'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set tbswf = tbswf+3 %}


        <td><select name='rug_mount' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriesrm[rm]['idrm'] }},',{{ entriesrm[rm]['pricerm'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set rm = rm+3 %}


      {% set sm = sm+1 %}
      {% endif %}

      {% if entrysm.countrysm[0]== 167 %}
      <td>{{ sm+1 }}</td>
      <td>{{ spicies[sm] }}</td>
      <!--<td>{{ entrysm.namesm }}</td>-->
      <td><select name='sholder_mount' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entrysm.idsm }},',{{ entrysm.pricesm }},this);">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
      </td>

        <!--<td>{{ entriesped[ped]['nameped'] }}</td>-->
        <td><select name='pedestal' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriesped[ped]['idped'] }},',{{ entriesped[ped+1]['priceped'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set ped = ped+3 %}

        <!--<td>{{ entriesfm[fm]['namefm'] }}</td>-->
        <td><select name='full_mount' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriesfm[fm]['idfm'] }},',{{ entriesfm[fm+1]['pricefm'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set fm = fm+3 %}

        <td><select name='european_mount' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriesem[em]['idem'] }},',{{ entriesem[em+1]['priceem'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set em = em+3 %}
      
 
        <td><select name='tanning_of_full_skin' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriestfs[tfs]['idtfs'] }},',{{ entriestfs[tfs+1]['pricetfs'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set tfs = tfs+3 %}
      

        <td><select name='tanning_full_skin_with_felt' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriestfswf[tfswf]['idtfswf'] }},',{{ entriestfswf[tfswf+1]['pricetfswf'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set tfswf = tfswf+3 %}
      

        <td><select name='tanning_of_back_skin' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriestbs[tbs]['idtbs'] }},',{{ entriestbs[tbs+1]['pricetbs'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set tbs = tbs+3 %}


        <td><select name='tanning_back_skin_with_felt' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriestbswf[tbswf]['idtbswf'] }},',{{ entriestbswf[tbswf+1]['pricetbswf'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set tbswf = tbswf+3 %}


        <td><select name='rug_mount' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriesrm[rm]['idrm'] }},',{{ entriesrm[rm+1]['pricerm'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set rm = rm+3 %}


      {% set sm = sm+1 %}
      {% endif %}

      {% if entrysm.countrysm[0]== 256 %}
      <td>{{ sm+1 }}</td>
      <td>{{ spicies[sm] }}</td>
      <!--<td>{{ entrysm.namesm }}</td>-->
      <td><select name='sholder_mount' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entrysm.idsm }},',{{ entrysm.pricesm }},this);">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
      </td>

        <!--<td>{{ entriesped[ped]['nameped'] }}</td>-->
        <td><select name='pedestal' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriesped[ped]['idped'] }},',{{ entriesped[ped+2]['priceped'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set ped = ped+3 %}

        <!--<td>{{ entriesfm[fm]['namefm'] }}</td>-->
        <td><select name='full_mount' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriesfm[fm]['idfm'] }},',{{ entriesfm[fm+2]['pricefm'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set fm = fm+3 %}

        <td><select name='european_mount' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriesem[em]['idem'] }},',{{ entriesem[em+2]['priceem'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set em = em+3 %}
      
 
        <td><select name='tanning_of_full_skin' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriestfs[tfs]['idtfs'] }},',{{ entriestfs[tfs+2]['pricetfs'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set tfs = tfs+3 %}
      

        <td><select name='tanning_full_skin_with_felt' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriestfswf[tfswf]['idtfswf'] }},',{{ entriestfswf[tfswf+2]['pricetfswf'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set tfswf = tfswf+3 %}
      

        <td><select name='tanning_of_back_skin' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriestbs[tbs]['idtbs'] }},',{{ entriestbs[tbs+2]['pricetbs'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set tbs = tbs+3 %}


        <td><select name='tanning_back_skin_with_felt' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriestbswf[tbswf]['idtbswf'] }},',{{ entriestbswf[tbswf+2]['pricetbswf'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set tbswf = tbswf+3 %}


        <td><select name='rug_mount' id="{{sm}}" onChange="selectedon('{{sm}}'); OnDropDownChange('{{ entriesrm[rm]['idrm'] }},',{{ entriesrm[rm+2]['pricerm'] }},this);">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
        </td>
        {% set rm = rm+3 %}


      {% set sm = sm+1 %}
      {% endif %}
    {% endif %}
  </tr {% endfor %}>
</table>

    <h3>
        Total Cost: {{ form.openid(disabled=True) }} 
        {% for error in form.openid.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}  &nbsp;&nbsp;&nbsp;&nbsp;  <input type="button" onclick="myFunction()" value="Reset"><br>
    </h3> 
    <p><hr></p>
    <h3>Receive an email Quotation:</h3>
    <p>If you like to have a specified "break-down" cost calculation, please fill in your name, e-mail address and press SUBMIT (Submit for Quotation)</p> 
    <p>Name: {{ form.name }}  
      {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %} &nbsp;&nbsp;&nbsp;&nbsp;
      Surname: {{ form.surname }}  
      {% for error in form.surname.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p> 
    <p>Email: {{ form.email }}  
      {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
      <input type="submit" value="Submit for Quotation"> </p>
    <input hidden type="text" id="txtSelectedCity" name="SelectedCity" value="" />
<p hidden>{{ form.remember_me }}</p>
{% for error in form.remember_me.errors %}
  <span style="color: red;">[{{ error }}]</span>
{% endfor %}<br>
</form>
</body>
</html>
