{% load i18n %}

{% if offers or taken_offer %}
<h2>{% trans "Available Promotion Offer" %}:</h2>
<form method="POST" action="accept_offer" class="accept-offer-form">
    {% csrf_token %}
    <div>
       <select id="id_available_offers" name="offer_id">
            {% if taken_offer %}
                <option value="{{ taken_offer.id }}">
                {% if taken_offer.product %}
                    {{ taken_offer.product }}: {{ taken_offer.name }}
                {% else %}
                    All products: {{ taken_offer.name }}
                {% endif %}
                </option>
            {% else %}
                <option value="0">----------</option>
            {% endif %}
            {% for offer in offers %}
                <option value="{{ offer.id }}">
                {% if offer.product %}
                    {{ offer.product }}: {{ offer.name }}
                {% else %}
                    All products: {{ offer.name }}
                {% endif %}
                </option>
            {%  endfor %}
        </select>
    </div>
</form>
<script>
$(document).ready(function(){
    $('#id_available_offers').change(function(){
        var selected_item = $(this).val();
        var url =   "{% url 'accept-offer' %}"; ggggg/jjj/ load(url)
        var form = $(".accept-offer-form")
        $.ajax({
            url: url,
            type: 'post',
            cache: false,
            data: form.serialize()
        })
    });
    $(window).load(function(){
        var url = "{% url 'get-active-offer' %}";
        $.ajax({
            url: url,
            type: 'get',
            success: function(data){
                if (data != null){
                    $('.accept-offer-form #id_available_offers').val(data.offer_id)
                }
            }
        })
    });
})
</script>
{% endif %}