{% extends "admin/change_list.html" %}
{% load i18n %}

{% block breadcrumbs %}
{# XXX: bad way to create breadcrumbs. this should be handled on a view with named urls #}
<div class="breadcrumbs">
    <a href="/admin/">{% trans "Home" %}</a>
    &rsaquo; <a href="/admin/auth/">{% trans "Auth" %}</a>
    &rsaquo; <a href="/admin/auth/customer/"> {% trans "Customers" %}</a>
    {% if customer_id %}
        &rsaquo; <a href="/admin/auth/customer/{{ customer_id }}/">{{ customer }}</a>
    {% endif %}
    &rsaquo; <a href="/admin/play/transaction/">{% trans "Transactions" %}</a>
</div>
{% endblock %}
