{% load i18n webdesign humanize %}

{% block content %}
    <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#ececec" style="font-family: Helvetica, Arial, sans-serif">
        <tbody>
            <tr>
                <td>
                    <table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tbody>
                            <tr>
                               <td width="600" height="20" style="line-height:0; font-size:0;"></td>
                            </tr>
                            <tr>
                               <td>
                                   <table width="600" cellspacing="0" cellpadding="0">
                                       <tbody>
                                        <!--HEADER-->
                                            <tr width="600">
                                                <td width="6" valign="top" height="66">
                                                    <img width="6" vspace="0" hspace="0" height="66" border="0" align="left" src="/static/img/email/header-left.png">
                                                </td>
                                                <td width="588" valign="top" height="66" style="width: 588px; background: #f7f7f7 url('/static/img/email/header-bg.png') repeat-x;">
                                                    <a href="{{ site_url }}" style="display: block; border-top: 13px solid transparent;">
                                                        <img width="234" vspace="0" hspace="13" height="44" border="0" align="left" src="/static/img/email/lotoflutter-logo.png">
                                                    </a>
                                                    <div style="clear: both;"></div>
                                                </td>
                                                <td width="6" valign="top" height="66">
                                                    <img width="6" vspace="0" hspace="0" height="66" border="0" align="right" src="/static/img/email/header-right.png">
                                                </td>
                                            </tr>

                                        <!--BODY-->

                                            <tr width="600">
                                                <td width="600" height="20" bgcolor="#ffffff" style="background-color: #ffffff;" colspan="3"> </td>
                                            </tr>
                                            <tr width="600">
                                                <td width="600" bgcolor="#ffffff" align="center" style="background-color: #ffffff;" colspan="3">
                                                    <table width="570" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="font-size: 14px; border-bottom: 20px solid transparent;" colspan="2">{% trans "Dear" %}<b> {{ user.profile.get_full_name_or_email }}</b></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size: 14px; border-bottom: 15px solid transparent; line-height: 25px" colspan="2">Congratulations - Your order has been successfully received.</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table width="570" cellpadding="0" cellspacing="0">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td style="border: 1px solid #cccccc; background-color: #f8f8f8">
                                                                                <table width="570" cellpadding="0" cellspacing="0">
                                                                                    <tr>
                                                                                        <td style="padding: 0.2em 0.7em" valign="top"><b>{% trans 'Transaction' %}</b></td>
                                                                                        <td style="padding: 0.2em 0.7em" valign="top">#{{ transaction.id }}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding: 0.2em 0.7em" valign="top"><b>{% trans 'Date' %}</b></td>
                                                                                        <td style="padding: 0.2em 0.7em" valign="top">{{ transaction.created_at }}</td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="30px"></td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>

                                                    <table width="570" cellpadding="0" cellspacing="0">
                                                        <tbody>
{% comment %}CONTAINER{% endcomment %}
                                                        <tr>
                                                           <td width="570" style="border: 1px solid #cccccc">
                                                               {% for deck in decks %}
                                                               <table width="570" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                       <tr>
                                                                            <td colspan="2" style="padding: 0.7em; background-color: #00b1ff; color: #FFFFFF;font-weight:  bold;">
                                                                                Product: {{ deck.product }}
                                                                            </td>
                                                                            <td colspan="2" style="padding: 0.7em; background-color: #00b1ff; color: #FFFFFF;font-weight:  bold;">
                                                                               Boost: {{ deck.boost }}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                             <td width="100" height="25" style="background-color: #efefef; color: #2e2e2e; font-size: 14px;font-weight:  bold; padding-left: 10px;">
                                                                                 {% trans "Starting on" %}
                                                                            </td>
                                                                            <td  height="25" style="background-color: #efefef; color: #2e2e2e; font-size: 14px;font-weight:  bold; padding-left: 10px;">
                                                                                 {% trans "Draw days" %}
                                                                            </td>
                                                                            <td width="78" height="25" style="background-color: #efefef; color: #2e2e2e; font-size: 14px;font-weight:  bold; padding-left: 10px;">
                                                                                 {% trans "Entries" %}
                                                                            </td>
                                                                            <td width="70" height="25" style="background-color: #efefef; color: #2e2e2e; font-size: 14px;font-weight:  bold; padding-left: 10px;">
                                                                                 {% trans "Total" %}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td valign="top" style="padding: 0.7em; font-size: 14px">{{ deck.start_on }}</td>
                                                                            <td valign="top" style="padding: 0.7em; font-size: 14px">{% for day in deck.draw_days  %} {{ day }}, {% endfor %}</td>
                                                                            <td valign="top" style="padding: 0.7em; font-size: 14px">{{ deck.total_entries }}</td>
                                                                            <td valign="top" style="padding: 0.7em; font-size: 14px">{{ deck.total_cost }}</td>
                                                                        </tr>
{% comment %}header{% endcomment %}

                                                                        <tr>
                                                                             <td width="78" height="25" style="background-color: #efefef; color: #2e2e2e; font-size: 14px;font-weight:  bold; padding-left: 10px;">
                                                                                 {% trans "Ticket no." %}
                                                                            </td>
                                                                            <td width="78" height="25" style="background-color: #efefef; color: #2e2e2e; font-size: 14px;font-weight:  bold; padding-left: 10px;" colspan="2">
                                                                                 {% trans "Selected Numbers" %}
                                                                            </td>
                                                                            <td width='78' height="25" style="background-color: #efefef; color: #2e2e2e; font-size: 14px;font-weight:  bold; padding-left: 10px;">
                                                                                Add on
                                                                            </td>
                                                                        </tr>
{% comment %}body{% endcomment %}
                                                                        {% for ticket in deck.ticket_set.all %}
                                                                        <tr>
                                                                            <td valign="top" style="padding: 0.3em 0.7em" >Ticket {{ forloop.counter }}:</td>
                                                                            <td valign="top" style="padding: 0.3em 0.7em" colspan="2">
                                                                                {% for selected_numbers in ticket.selected_numbers %}
                                                                                    {{ selected_numbers|join:"-" }}
                                                                                    {% if not forloop.last %},{% endif %}
                                                                                {% endfor %}
                                                                            </td>
                                                                            <td style="padding: 0.3em 0.7em">{% if ticket.addons > 0 %}{{ ticket.addons }}{% else %}N\A{% endif %}</td>
                                                                        </tr>

                                                                        {% endfor %}

                                                                    </tbody>
                                                               </table>
                                                               {% endfor %}
                                                           </td>
                                                        </tr>
                                                        </tbody>

                                                    </table>

{% comment %}TOTAL AMOUNT{% endcomment %}

                                                    <table width="570" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                             <td width="78" height="60" style="color: #959596;font-size: 15px;font-weight: bold; padding: 10px 0px;" valign="bottom">
                                                                Total Amount
                                                             </td>
                                                        </tr>
                                                        <tr>
                                                          <td width="570" style="border: 1px solid #cccccc; background-color: #f8f8f8" >
                                                                <table width="570" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td width="273" style="padding: 0.3em 0.7em; font-weight: bold; color:#565656; font-size: 15px ">{% trans "Total Entries" %}</td>
                                                                        <td style="padding: 0.3em 0.7em">{{ total_entries }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="273" style="padding: 0.3em 0.7em; font-weight: bold; color:#565656; font-size: 15px  ">{% trans "Total Due" %}</td>
                                                                        <td style="padding: 0.3em 0.7em">&euro; {{ transaction.total_value|floatformat:2|intcomma }}</td>
                                                                    </tr>
                                                                    {% if transaction.total_vouchers_used %}
                                                                    <tr>
                                                                        <td width="273" style="padding: 0.3em 0.7em; font-weight: bold; color:#565656; font-size: 15px  ">{% trans "Vouchers" %}</td>
                                                                        <td width="180" style="padding: 0.3em 0.7em">- &euro; {{ transaction.total_vouchers_used|floatformat:2 }}</td>
                                                                    </tr>
                                                                    {% endif %}

                                                                    {% if transaction.discount|floatformat:0 != "0" %}
                                                                    <tr>
                                                                        <td width="273" style="padding: 0.3em 0.7em; font-weight: bold; color:#565656; font-size: 15px  ">{% trans "Discount" %}</td>
                                                                        <td width="180" style="padding: 0.3em 0.7em">
                                                                            - &euro; {{ transaction.discount|floatformat:2 }}</td>
                                                                    </tr>
                                                                    {% endif %}
                                                                    <tr>
                                                                        <td width="273" style="padding: 0.3em 0.7em; font-weight: bold; color:#565656; font-size: 15px  ">{% trans "Play Credits" %}</td>
                                                                        <td width="180" style="padding: 0.3em 0.7em">
                                                                            - &euro; {{ transaction.play_credits|floatformat:2 }}</td>
                                                                    </tr>
                                                                    {% if buy_play_credits %}
                                                                    <tr>
                                                                        <td width="273" style="padding: 0.3em 0.7em; font-weight: bold; color:#565656; font-size: 15px  ">{% trans "Buy Play Credits" %}</td>
                                                                        <td width="180" style="padding: 0.3em 0.7em">&euro; {{ buy_play_credits|floatformat:2 }}</td>
                                                                    </tr>
                                                                    {% endif %}
                                                                    <tr>
                                                                        <td width="273" style="padding: 0.3em 0.7em; font-weight: bold; color:#565656; font-size: 15px  ">{% trans "Payment Due" %}*</td>
                                                                        <td width="180" style="padding: 0.3em 0.7em">&euro; {{ transaction.total_paid|floatformat:2|intcomma }}</td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                          </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 11px; padding: 0.7em">
                                                                *Outstanding amount must be paid to complete this transation
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 15px; font-weight: bold; padding-bottom: 5px">
                                                                PLEASE BE ADVISED:
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table width="570" cellpadding="0" cellspacing="0">
                                                                    <tr>
                                                                        <td width="570" style="border: 1px solid #cccccc; background-color: #f8f8f8; padding: 0.7em; font-size: 12px;" >
                                                                            Your online account funds have been debited.
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="font-size: 12px; padding: 1em 0px">
                                                                            If you believe that an incorrect order was processed, please <a href="{{ contact_us }}"> contact us immediately</a>.
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="font-size: 12px; padding: 1em 0px; line-height: 2">
                                                                            <b style="font-size: 16px">Please do not charge back.</b> Any chargeback will result in immediate suspension from our site and the relevant authorities notified of a fraudulent transaction.
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="font-size: 16px;font-weight: bold ; padding: 1em 0px; line-height: 2">
                                                                          Your LottoStar.com team
                                                                        </td>
                                                                    </tr>

                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                       </tbody>
                                   </table>
                               </td>
                            </tr>

                            <tr>
                                 <td width="600" bgcolor="#ffffff" style="background-color: #f8f8f8;border:1px solid #cccccc ;padding: 0.7em">
                                    <table width="570" cellpadding="0" cellspacing="0" align="center">
                                        <tr>
                                            <td align="center"><a href="{{ my_orders }}"><img src="/static/img/email/basket.png"></a> </td>
                                            <td align="center"><a href="{{ account_balance }}"><img src="/static/img/email/account.png"></a> </td>
                                            <td align="center"><a href="{{ contact_us }}"><img src="/static/img/email/contact.png"></a> </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding: 5px 0px"><a href="{{ my_orders }}" style="text-decoration: none; color:#848484; font-weight: bold">My Orders</a> </td>
                                            <td align="center" style="padding: 5px 0px"><a href="{{ account_balance }}" style="text-decoration: none; color:#848484; font-weight: bold">Account Balance</a> </td>
                                            <td align="center" style="padding: 5px 0px"><a href="{{ contact_us }}" style="text-decoration: none; color:#848484; font-weight: bold">Get in Touch</a> </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" align="center" style="font-size: 10px">
                                               As a subscriber, you might receive e-mail from us with the following addresses: info@playukinternet.com, info@playhugelottos.com, info@playhugebrands.com<br><br>
                                               Purchase confirmations and support emails will come from support@playukinternet.com. Please add these addresses to your safe senders list to ensure you receive your important updates and communication.
                                            </td>
                                        </tr>
                                    </table>
                                 </td>
                            </tr>
                            <tr>
                                <td height="60px"  bgcolor="#ececec"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>

    </table>
{% endblock content %}