{% extends 'base.html' %}

{% block title %}Site Info for {{site.name}}!{% endblock %}

{% block container %}
<table>
	<tr>
		<td>Name</td>
		<td>{{ site.name }}</td>
	</tr>
	<tr>
		<td>ID</td>
		<td>{{ site.id }}</td>
	</tr>
        <tr>
                <td>request.get_host()</td>
                <td>{{request_get_host}}</td>
        </tr>
        <tr>
                <td>http_host</td>
                <td>{{http_host}}</td> 
        </tr>
	<tr>
		<td>Domain</td>
		<td>{{ site.domain }}</td>
	</tr>
	<tr>
		<td>Folder name</td>
		<td>{{ site.folder_name }}</td>
	</tr>
	<tr>
		<td>Supported subdomains</td>
		<td>{{ site.subdomains }}</td>
	</tr>
	<tr>
		<td>Requested subdomain</td>
		<td>{{ request.subdomain }}</td>
	</tr>
</table>

{% endblock %}
