{% extends "registration/base.html" %}
{% load i18n game_tags webdesign humanize %}

{% block breadcrumb %}{% trans "Account balance" %}{% endblock %}
{% block page_title %}{% trans "Account balance" %}{% endblock %}
{% block description %}{% trans "Your account balance" %}{% endblock %}

{% block body %}
    {% if wallet_list %}
        <div class="row">
            <div class="large-12 columns">
                <h2>{% trans "Unclaimed winnings, vouchers and points" %}</h2>
                <table class="entries">
                    <thead>
                    <tr>
                        <td width="180">{% trans "Game" %}</td>
                        <td width="180">{% trans "Winnings" %}</td>
                        <td width="180">{% trans "Vouchers" %}</td>
                        <td width="180">{% trans "Points" %}</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for wallet in wallet_list %}
                        <tr>
                            <td style="vertical-align: top"> {{ wallet.game }} </td>
                            <td style="vertical-align: top"> &euro; {{ wallet.winnings|floatformat:2 }} </td>
                            <td style="vertical-align: top"> {{ wallet.vouchers }} </td>
                            <td style="vertical-align: top"> {{ wallet.points }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h2>{% trans "Account summary" %}</h2>
                <table class="entries">
                    <thead>
                    <tr>
                        <td colspan="3">{% trans "Details" %}</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="vertical-align: top"> {% trans "Total credit" %} </td>
                            <td style="vertical-align: top" colspan="2"> &euro; {{ play_credits|floatformat:2 }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top"> {% trans "Total unclaimed winnings" %} </td>
                            <td style="vertical-align: top"> &euro; {{ total_winnings|floatformat:2 }} </td>
                            {% if total_winnings > 0 %}
                                <td style="vertical-align: top"> <a href="{% url "account_claim_winnings" %}">{% trans "Claim winnings" %}</a> </td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td style="vertical-align: top"> {% trans "Total vouchers" %} </td>
                            <td style="vertical-align: top" colspan="2"> {{ total_vouchers }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top"> {% trans "Total points" %} </td>
                            <td style="vertical-align: top" colspan="2"> {{ total_points }} </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    {% endif %}
{% endblock %}