{% extends "registration/base.html" %}
{% load i18n static game_tag_helpers %}

{% block breadcrumb %}{% trans "Claim winnings" %}{% endblock %}
{% block page_title %}{% trans "Claim your winnings" %}{% endblock %}
{% block description %}{% trans "Claim your winnings" %}:{% endblock %}

{% block body %}
{#        <h1><small>{% trans "Claim winnings" %} You have available &euro; {{ winnings|floatformat:2 }} winnings</small></h1>#}
        {% trans "Claim" as button_value %}
        {% include "common/form.html" with button_value=button_value %}
{% endblock %}

