{% extends "registration/base.html" %}
{% load i18n static game_tag_helpers %}

{% block breadcrumb %}{% trans "Set limit" %}{% endblock %}
{% block page_title %}{% trans "Deposit limit" %}{% endblock %}
{% block description %}{% if restriction %}{% trans "Deposit settings" %}:{% endif %}{% endblock %}

{% block body %}
    {% if restriction %}
        <div class="large-6 large-centered columns">
            <table class="table table-bordered table-striped" style="width: 416px; margin-left: 50px;" >
                <tr>
                    <td colspan="2"><b>{% trans "Your current deposit settings" %}</b></td>
                </tr>
                <tr>
                    <td>{% trans "Deposit Period" %}</td>
                    <td>{{ restriction.period|title }}</td>
                </tr>
                <tr>
                    <td>{% trans "Amount" %}</td>
                    <td>{{ restriction.value|currency|safe }}</td>
                </tr>
            </table>
        </div>
        <div>
            <center>
                <h5>
                {% trans "Please note: You may not remove or increase this limit until a 24 hour cooling period has passed; however you may lower the amount." %}
                </h5>
            </center>
        </div>
    {% endif %}

    <h1><small>{% trans "Update Your Settings" %}:</small></h1>
    {% trans "Update" as button_value %}
    {% include "common/form.html" with button_value=button_value %}

{% endblock %}

