{% extends "registration/base.html" %}
{% load i18n static game_tag_helpers %}

{% block breadcrumb %}{% trans "Set limit" %}{% endblock %}
{% block page_title %}{% trans "Entry limit" %}{% endblock %}
{% block description %}{% trans "Entry settings" %}:{% endblock %}

{% block body %}
    {% if restriction %}
        <div class="large-6 large-centered columns">
            <table class="table table-bordered table-striped" style="width: 416px; margin-left: 50px;" >
                <tr>
                    <td colspan="2"><b>{% trans "Your current entry settings" %}</b></td>
                </tr>
                <tr>
                    <td>{% trans "Entry Period" %}</td>
                    <td>{{ restriction.period }}</td>
                </tr>
                <tr>
                    <td>{% trans "Entries" %}</td>
                    <td>{{ restriction.value|safe }}</td>
                </tr>
            </table>
        </div>
        <div>
            <center>
                <h5>
                {% trans "Please note: You may not remove or increase this limit until a 24 hour cooling period has passed; however you may lower the entries amount." %}
                </h5>
            </center>
        </div>
    {% endif %}

    <div><h1><small>{% trans "Update your settings" %}:</small></h1></div>
    {% trans "Update" as button_value %}
    {% include "common/form.html" with button_value=button_value %}
{% endblock %}


