{% extends "registration/base.html" %}
{% load i18n game_tags webdesign humanize game_tag_helpers %}
{% load promotions_tags %}

{% block css %}
    <link rel="stylesheet" href="/static/css/site.css"/>
    <link rel="stylesheet" href="/static/css/games.css"/>
{% endblock %}

{% block breadcrumb %}{% if not entry_list %}{% trans "Transaction History" %}{% else %}<a href="/accounts/history/">{% trans "Transaction History" %}</a>{% endif %}{% endblock %}
{% block breadcrumb_current %}{% if not entry_list %}class="current"{% endif %}{% endblock %}
{% block breadcrumb_extra %}{% if entry_list %}<li class="current"><a href=".">{% trans "Entries" %}</a></li>{% endif %}{% endblock %}
{% block page_title %}{% trans "Transaction Details" %}{% endblock %}
{% block description %}{% trans "Please review your transactions details" %}{% endblock %}

{% block body %}
        <div class="row">
            <div class="large-12 columns">
            {% comment %}
               <h2>{% trans "You can replay your entries" %}</h2>
                <div>
                {% trans "Select the entries to be replayed by clicking on the corresponding checkbox, scroll to the bottom of the page and press the Play Selected Entries button." %}
                </div><br>
            {% endcomment %}
               {% if entry_list %}
                    {% regroup entry_list by ticket.product as entries %}
                    {% for entry in entries %}
                        <h2>Product: {{ entry.grouper }}</h2>
                        <table style="width: 100%;">
                            <thead>
                                <th width="200"><center>{% trans "Transaction ID" %}</center></th>
                                <th width="300"><center>{% trans "Entry Date" %}</center></th>
                                <th><center>{% trans "Selected Balls" %}</center></th>
                            </thead>
                            {% for item in entry.list %}
                            <tr style="text-align: center;">
                                <td>{{ history.id }}</td>
                                <td>{{ item.event.draw_datetime|date:"d F Y" }}</td>
                                <td>{{ item.balls1|style_balls:"main-Ball" }} {{ item.balls2|style_balls:"bonus-Ball" }} {{ item.balls3|style_balls:"super-Ball" }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endfor %}
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                            {% endif %}

                            <span class="current">
                                {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                            {% endif %}
                        </span>
                    </div>
               </form>
               {% endif %}
            </div>
        </div>

{% endblock %}