{% extends "registration/base.html" %}
{% load i18n game_tags webdesign humanize %}

{% block breadcrumb %}{% trans "Transaction History" %}{% endblock %}
{% block page_title %}{% trans "Transaction History" %}{% endblock %}
{% block description %}{% trans "Please review your transactions" %}{% endblock %}

{% block body %}
    {% if history_list %}
        <div class="row">
            <div class="large-12 columns">
                <table class="entries">
                    <thead>
                    <tr>
                        <td width="180"><div class="center">{% trans "Transaction ID" %}</dive></td>
                        <td width="180">{% trans "Transaction Date" %}</td>
                        <td width="400" class="heading">{% trans "Description" %}</td>
                        <td width="180">{% trans "Amount" %}</td>
                        <td width="180">{% trans "Action" %}</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for history in history_list %}
                        <tr class="transaction_entry">
                            <td style="vertical-align: top" class="center">{{ history.id }}</td>
                            <td style="vertical-align: top" class="center">{{ history.created_at }}</td>
                            <td style="vertical-align: top">
{#                                <a href="{% url "account_history_details" history.id %}">#}
{#                                    {{ history.get_transaction_type_display }}#}
{#                                </a>#}
                                <div>
                                    {% get_tickets history.id %}
                                </div>
                            </td>
                            <td style="vertical-align: top"> {% get_transaction_total history.id %} </td>
                            <td style="vertical-align: top">
                                {% if history.get_transaction_type_display == "Entry Purchase" %}
                                    <a href="{% url "resend-email" history.id %}">{% trans "Resend email" %}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                 <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                        {% endif %}

                        <span class="current">
                            {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="large-12 columns">
                {% trans "No transaction history found" %}
            </div>
        </div>
    {% endif %}
{% endblock %}