{% extends "registration/base.html" %}
{% load i18n %}

{% block relative-links %}{% endblock %}

{% block page_title %}{% trans "My Account" %}{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block description %}{% endblock %}

{% block body %}
    <div class="row account-managment">
        <div class="large-12 columns">
            <ul class="small-block-grid-2 large-block-grid-4">
                <li class="acc-block">
                    <div class="icon-block">
                        <img src="/static/img/account/icon-filler.png">
                        <h6>{% trans "My Account" %}</h6>
                    </div>
                    <a href="{% url "account_profile" %}">{% trans "My details" %}</a> <br/>
                    <a href="{% url "account_profile_password" %}">{% trans "Change password" %}</a> <br/>
                    <a href="{% url "account_profile_email" %}">{% trans "Change email" %}</a> <br/>
                    <a href="{% url "account_balance" %}">{% trans "Account balance" %}</a> <br/>
                </li>
                <li class="acc-block">
                    <div class="icon-block">
                        <img src="/static/img/account/icon-responsible.png">
                        <h6>{% trans "Responsible Gambling" %}</h6>
                    </div>
                    <a href="{% url "create-deposit-limit" %}">{% trans "Deposit limit" %}</a> <br/>
                    <a href="{% url "create-entry-limit" %}">{% trans "Entry limit" %}</a> <br/>
                    <a href="{% url "account_exclude_me" %}">{% trans "Account status" %}</a> <br/>
                </li>
                <li class="acc-block">
                    <div class="icon-block">
                        <img src="/static/img/account/icon-transaction.png">
                        <h6>{% trans "Transaction Details" %}</h6>
                    </div>
                    <a href="{% url "account_history" %}">{% trans "Transaction History" %}</a> <br/>
                    <a href="{% url "account_notifications" %}">{% trans "Notifications" %}</a> <br/>
                </li>
                <li class="acc-block">
                    <div class="icon-block">
                        <img src="/static/img/account/icon-payment.png">
                        <h6>{% trans "Payment Options" %}</h6>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
