{% extends "registration/base.html" %}
{% load i18n static game_tag_helpers %}

{% block breadcrumb %}{% trans "Set limit" %}{% endblock %}
{% block page_title %}{% blocktrans %}{{ limit_type }} limit{% endblocktrans %}{% endblock %}
{% block description %}{% if restriction %}{% blocktrans %}{{ limit_type }} settings{% endblocktrans %}:{% endif %}{% endblock %}

{% block body %}
    {% if restriction %}
        <div class="large-6 large-centered columns">
            <table class="table table-bordered table-striped" style="width: 416px; margin-left: 50px;" >
                <tr>
                    <td colspan="2"><b>{% trans "Your current deposit settings" %}</b></td>
                </tr>
                <tr>
                    <td>{% blocktrans %}{{ limit_type }} Period{% endblocktrans %}</td>
                    <td>{{ restriction.period|title }}</td>
                </tr>
                <tr>
                    <td>{% trans "Amount" %}</td>
                    <td>{{ restriction.value|currency|safe }}</td>
                </tr>
            </table>
        </div>
        <div>
            <center>
                <h5>
                {% trans "Please note: You may not remove or increase this limit until a 24 hour cooling period has passed; however you may lower the amount." %}
                </h5>
            </center>
        </div>
    {% endif %}

    <h3>{% trans "Update Your Settings" %}:</h3>
    <div class="row">
        <div class="large-6 large-centered columns">
            {% trans "Update" as button_value %}
            {% include "common/form.html" with button_value=button_value %}
        </div>
    </div>

{% endblock %}

