{% extends "registration/base.html" %}
{% load i18n game_tags webdesign humanize %}

{% block breadcrumb %}{% trans "Notifications" %}{% endblock %}
{% block page_title %}{% trans "Notifications" %}{% endblock %}
{% block description %}{% trans "Your system notifications" %}{% endblock %}

{% block body %}
    {% if log_list %}
        <div class="row">
            <div class="large-12 columns">
                <table class="entries">
                    <thead>
                    <tr>
                        <td width="250"><center>{% trans "Date" %}</center></td>
                        <td width="750" class="heading">{% trans "Description" %}</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in log_list %}
                        <tr class="transaction_entry">
                            <td style="vertical-align: top"> <center>{{ log.created_at }}</center> </td>
                            <td style="vertical-align: top"> {% string_replace log.description log.log_vars %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if log_list.has_previous %}
                            <a href="?page={{ log_list.previous_page_number }}">{% trans "previous" %}</a>
                        {% endif %}

                        <span class="current">
                            {% trans "Page" %} {{ log_list.number }} {% trans "of" %} {{ log_list.paginator.num_pages }}.
                        </span>

                        {% if log_list.has_next %}
                            <a href="?page={{ log_list.next_page_number }}">{% trans "next" %}</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="large-12 columns">
                {% trans "No notifications found" %}
            </div>
        </div>
    {% endif %}
{% endblock %}