{% extends "registration/base.html" %}
{% load i18n static %}

{% block breadcrumb %}{% trans "Set limit" %}{% endblock %}
{% block page_title %}{% trans "Transaction limit" %}{% endblock %}
{% block description %}{% trans "Transaction settings" %}:{% endblock %}

{% block body %}
    {% if restriction %}
        <div class="large-6 large-centered columns">
            <table class="table table-bordered table-striped" style="width: 416px; margin-left: 50px;" >
                <caption></caption>
                <tr>
                    <td colspan="2"><b>Your current transaction settings</b></td>
                </tr>
                <tr>
                    <td>Transaction period</td>
                    <td>{{ restriction.period }}</td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td>{% if is_house_setting %}{{ restriction.transaction_value }}{% else %}{{ restriction.value }}{% endif %}</td>
                </tr>
            </table>
        </div>
    {% endif %}
    <h3>Update your settings:</h3>
    <div class="row">
        <div class="large-6 large-centered columns">
            {% trans "Update" as button_value %}
            {% include "common/form.html" with button_value=button_value %}
        </div>
    </div>
{% endblock %}


