{% extends "registration/base.html" %}
{% load i18n static %}

{% block breadcrumb %}{% trans "Account Status" %}{% endblock %}
{% block page_title %}{% trans "Account status" %}{% endblock %}
{% block description %}{% trans "Please select account status below" %}:{% endblock %}

{% block body %}
    {% if messages %}
        <div style="text-align: center; padding: 20px; background-color: #cfe8cf;">
            {% include "common/messages.html" %}
        </div><br clear="all"/>
    {% endif %}

    {% trans "Update" as button_value %}

    <div class="row">
        <div class="large-6 large-centered columns">
            <form method="post" action="{% if form_action %}{{ form_action }}{% else %}.{% endif %}" class="custom">{% csrf_token %}
                <div class="row">
                    <div class="small-12">
                        {% for field in form %}
                            <div class="row {% if field.errors %}error{% endif %}">
                                <div class="small-3 columns">
                                    <label for="{{ field.id_for_label }}" class="right inline"></label>
                                </div>
                                <div class="small-9 columns"> {{ field }}
                                    {% if field.errors %}<small class="error">{{ field.errors }}</small>{% endif %}
                                </div>
                             </div>
                            <br class="clearing-assembled">
                        {% endfor %}
                        <div class="row collapse">
                            <div class="small-9 small-offset-3 columns">
                                <button class="button radius expand">{{ button_value }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

