{% extends "base.html" %}
{% load webdesign i18n %}

{% block js %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=504546676301953";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}

{% block content %}
    <section id="content" class="row">
        <div class="main-panel">
            <ul class="breadcrumbs">
                <li><a href="{% url "home" %}">{% trans "home" %}</a></li>
                <li class="current"><a href=".">{% block breadcrumb %}{% endblock %}</a></li>
            </ul>

            {% block body %} you should not see this. {% endblock %}
        </div>

        <div class="side-panel">
            {% include "blog/partials/categories.html" %}
            {% include "blog/partials/latest_posts.html" %}
            {% include "blog/partials/twitter_feed.html" %}
        </div>
    </section>
    <div class="clear"></div>
{% endblock %}
