{% extends "blog/base_blog.html" %}
{% load webdesign thumbnail i18n pagination_tags  %}
{% block body %}

    <h1>{{ title|title }}
        <small>{% if title != "Our Latest Entries" %}
            <a href="{% url "blog" %}" class="button small radius right normal">{% trans "Back to Latest Feed" %}
            </a>{% endif %}</small>
    </h1>

{##}
{#    <h6 class="right">{% trans "Found" %} {{ post_list.count }}</h6>#}



    {% autopaginate post_list 4 %}
    {% for post in post_list %}
        {% with post.get_translation as post_trans %}
        {% if post.photo %}
            {% if post.photo %}
                {% thumbnail post.photo "939x280" crop="center" as im %}
                  <a href="{% url "blog_post" post_trans.slug %}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"  alt="{{ post_trans.title }}"></a>
                {% empty %}
                    <p>No image</p>
                {% endthumbnail %}
            {% endif %}

        {% endif %}

        <h6>{% trans "Published on" %} {{ post.date_published|date:"l, F Y" }} by
            {% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}
                {{ post.author.username|title }}{% endif %}</h6>
        <h3>{{ post_trans.title|title }}</h3>

        <p>{{ post_trans.body|striptags|truncatewords:50 }}</p>

        <p class="left"><a href="{% url "blog_post" post_trans.slug %}">{% trans "Read More" %}</a></p>
        <p class="right"><strong>{% trans "Tags" %}:</strong>
            {% for tag in post.tags.all %}
                {% with tag.get_translation as tag_trans %}
                    {% if tag_trans.slug %}<a href="{% url "blog_tag" tag_trans.slug %}">{% endif %} {{ tag_trans.name }} {% if tag_trans.slug %}</a>{% endif %}{% if not forloop.last %}, {% endif %}
                {% endwith %}
            {% endfor %}


        <hr/>
    {% endwith %}
    {% empty %}
        <center>{% trans "There are no Blog Posts." %}</center>
    {% endfor %}

    {% include "pagination/pagination.html" %}
<div class="clear"></div>
{% endblock %}