{% extends "blog/base_blog.html" %}
{% load webdesign humanize thumbnail i18n %}

{% block breadcrumb %}{{ post.title }}{% endblock %}

{% block body %}
    <br/>
    <a href="javascript:history.back()" class="button small radius">{% trans "Back" %}</a><br/>
    <br/>

    {% if post.model.photo %}
        {% thumbnail post.model.photo "880x320" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"  alt="{{ post.title }}">
        {% endthumbnail %}
    {% endif %}


    <h6>{% trans 'Published on' %} {{ post.model.date_published|date:"l, F Y" }} by
        {% if post.model.author.get_full_name %}{{ post.model.author.get_full_name }}{% else %}
            {{ post.model.author.username|title }}{% endif %}</h6>

    <h1>{{ post.title|title }}</h1>

    <p>{{ post.body|safe }}</p>

    <strong>{% trans "Tags" %}:</strong>{% for tag in post.model.tags.all %}

    {% with tag.get_translation as tag_trans %}
        {% if tag_trans.slug %}<a href="{% url "blog_tag" tag_trans.slug %}">{% endif %} {{ tag_trans.name }} {% if tag_trans.slug %}</a>{% endif %}{% if not forloop.last %}, {% endif %}
    {% endwith %}{% endfor %} <br/>
    <br/>

    <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-width="450" data-layout="box_count" data-show-faces="false" data-send="false"></div>

    <a href="{{ request.build_absolute_uri }}" class="twitter-share-button" data-count="vertical">Tweet</a>

    <div class="clear"></div>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1384907661739948";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="950"></div>

{% endblock %}