{% extends "base.html" %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="/static/css/site.css"/>
    <link rel="stylesheet" href="/static/css/games.css"/>
{% endblock %}

{% block content %}
    <checkout>
        <section id="content" class="row">
            <div class="main-panel">
                <h1>{% trans "Transactions" %}</h1>
                <div class="row">
                    <div class="large-12 columns">
                        <table class="entries">
                            <thead>
                                <tr>
                                    <td width="400" class="heading">{% trans "Transaction Date" %}</td>
                                    <td width="400">{% trans "Transaction Type" %}</td>
                                    <td width="400">{% trans "Payment Status" %}</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in transaction_list %}
                                <tr>
                                    <td>
                                        <a href="{% url 'transaction_detail' transaction.pk %}">{{ transaction.created_at }}</a>
                                    </td>
                                    <td>
                                        {{ transaction.transaction_type }}
                                    </td>
                                    <td>
                                        {{ transaction.payment_status }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </checkout>
{% endblock %}