{% extends "base.html" %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="/static/css/site.css"/>
    <link rel="stylesheet" href="/static/css/games.css"/>
{% endblock %}

{% block content %}
    <checkout>
        <section id="content" class="row">
            <div class="main-panel">
                <h1>{% trans "Entries" %}</h1>
                <div class="row">
                    <div class="large-12 columns">
                        <table class="entries">
                            <thead>
                                <tr>
                                    <td width="400" class="heading">{% trans "Ticket" %}</td>
                                    <td width="400">{% trans "Balls" %}</td>
                                    <td width="400">{% trans "Draw Date" %}</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entry in transaction_entries %}
                                <tr>
                                    <td>
                                        {{ entry.ticket.id }}
                                    </td>
                                    <td>
                                        {% if entry.balls1 %}{{ entry.balls1 }}<br>{% endif %}
                                        {% if entry.balls2 %}{{ entry.balls2 }}<br>{% endif %}
                                        {% if entry.balls3 %}{{ entry.balls3 }}<br>{% endif %}
                                    </td>
                                    <td>
                                        {{ entry.event.draw_datetime }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </checkout>
{% endblock %}