
/*======= GWD*/
.gwd-pagedeck{overflow:hidden;position:relative}.gwd-pagedeck>.gwd-page.transparent{opacity:0}.gwd-pagedeck>.gwd-page{position:absolute;top:0;left:0;-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:transform,opacity;transition-property:transform,opacity}.gwd-pagedeck>.gwd-page.linear{transition-timing-function:linear}.gwd-pagedeck>.gwd-page.ease-in{transition-timing-function:ease-in}.gwd-pagedeck>.gwd-page.ease-out{transition-timing-function:ease-out}.gwd-pagedeck>.gwd-page.ease{transition-timing-function:ease}.gwd-pagedeck>.gwd-page.ease-in-out{transition-timing-function:ease-in-out}


body,html{width:100%;height:100%;margin:0}
.gwd-page-container{position:relative;width:100%;height:100%}
.gwd-page-content{background-color:transparent;-webkit-transform:perspective(1400px) matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);-webkit-transform-style:preserve-3d;position:absolute}
.gwd-page-wrapper{background-color:#fff;position:absolute;-webkit-transform:translateZ(0px)}




.gwd-lightbox {
    overflow: hidden;
  }


/*==========Animations============*/

@-webkit-keyframes bounceN {0%,100%,20%,53%,80% {-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1); transition-timing-function: cubic-bezier(0.215,.61,.355,1); margin-top:0; } 40%,43% {-webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060); transition-timing-function: cubic-bezier(0.755,.050,.855,.060); margin-top: -30px; } 70% {-webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060); transition-timing-function: cubic-bezier(0.755,.050,.855,.060); margin-top: -15px; } 90% {margin-top:-4px; } }
@keyframes bounceN {0%,100%,20%,53%,80% {-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1); transition-timing-function: cubic-bezier(0.215,.61,.355,1); margin-top:0; } 40%,43% {-webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060); transition-timing-function: cubic-bezier(0.755,.050,.855,.060); margin-top: -30px; } 70% {-webkit-transition-timing-function: cubic-bezier(0.755,.050,.855,.060); transition-timing-function: cubic-bezier(0.755,.050,.855,.060); margin-top: -15px; } 90% {margin-top:-4px; } }


@-webkit-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

@-moz-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}



 .bounceN {
    -webkit-animation-name: bounceN;
    animation-name: bounceN;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom
}


@-webkit-keyframes clouds {
    0% {
        -webkit-transform: translateX(0) translateZ(0);
        transform: translateX(0) translateZ(0);
        opacity: 0;
    }
    1% {
        opacity: .15;
    }
	99% {
        opacity: .15;
    }
    100% {
    	opacity: 0;
        -webkit-transform: translateX(-662px) translateZ(0);
        transform: translateX(-662px) translateZ(0);
    }
}

@keyframes clouds {
    0% {
        -webkit-transform: translateX(0) translateZ(0);
        -ms-transform: translateX(0) translateZ(0);
        transform: translateX(0) translateZ(0);
        opacity: 0;
    }
    1% {
        opacity: .15;
    }
    99% {
        opacity: .15;
    }
    100% {
        -webkit-transform: translateX(-662px) translateZ(0);
        -ms-transform: translateX(-662px) translateZ(0);
        transform: translateX(-662px) translateZ(0);
        opacity: 0;
    }
}

.animLine {
    -webkit-animation-name: animLine;
    animation-name: animLine;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom
}


@-webkit-keyframes animLine {
    from {
        width: 0px;
    }

    to {
        width: 250px;
    }
}

@keyframes animLine {
    from {
        width: 0px;
    }

    to {
        width: 250px;
    }
}


.surveyScroll {
    -webkit-animation-name: surveyScroll;
    animation-name: surveyScroll;
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top
}

@-webkit-keyframes surveyScroll {
    0% {
        -webkit-transform: translateY(29px);
    }

    100% {
        -webkit-transform: translateY(-106px);
    }
}
keyframes surveyScroll {
    0% {
        transform: translateY(29px);
    }

    100% {
        transform: translateY(-106px);
    }
}


.surveyScroller {
    -webkit-animation-name: surveyScroller;
    animation-name: surveyScroller;
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top
}

@-webkit-keyframes surveyScroller {
    0% {
        -webkit-transform: translateY(0px);
    }

    100% {
        -webkit-transform: translateY(310px);
    }
}
keyframes surveyScroller {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(310px);
    }
}






/*========== GRAPHICS*/

div.curved, div.orizz{
	background-repeat: no-repeat;
	overflow: hidden;
	height: 20px;

	position: absolute;
	top: 200px;
	left: 400px;
}


div.curved.lineRight.down{
	background-image: url("assets/curved_right_down.png");
	background-position: top left;
}

div.curved.lineRight.up{
	background-image: url("assets/curved_right_up.png");
	background-position: bottom left;
}


div.curved.lineLeft.down{
	background-image: url("assets/curved_left_down.png");
	background-position: top left;
}

div.curved.lineLeft.up{
	background-image: url("assets/curved_left_up.png");
	background-repeat: no-repeat;
	background-position: bottom left;
}

div.orizz.lineLeft{
	background-image: url("assets/orizz_left.png");
	background-position: top left;
}



/* =========== Transitions */

.trans-butt * {
	-webkit-transition: all 500ms cubic-bezier(0.050, 0.675, 0.245, 1); /* older webkit */
	-webkit-transition: all 500ms cubic-bezier(0.050, 0.675, 0.245, 1.005);
   	-moz-transition: all 500ms cubic-bezier(0.050, 0.675, 0.245, 1.005);
    -o-transition: all 500ms cubic-bezier(0.050, 0.675, 0.245, 1.005);
    transition: all 500ms cubic-bezier(0.050, 0.675, 0.245, 1.005); /* custom */
}


.animated.durdue {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.animated.durtre {
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}

.animated.durqua {
    -webkit-animation-duration: 4s;
    animation-duration: 4s
}

.animated.deluno {
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}

.animated.deldue {
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
}

.animated.deltre {
    -webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
    animation-delay: 3s;
}

.animated.delqua {
    -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
    animation-delay: 4s;
}

.animated.delcin {
    -webkit-animation-delay: 5s; /* Chrome, Safari, Opera */
    animation-delay: 5s;
}





* {
	font-family: Lato, "Lato", sans-serif;
	font-weight: 300!important;
	text-shadow: 0 1px 0 #FFF;
}

strong {

	font-weight: 400!important;
	color: #00AD92!important;
}



body {
	background: rgb(237,239,239); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(237,239,239,1) 0%, rgba(252,252,252,1) 50%, #F1F1F1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,239,239,1)), color-stop(50%,rgba(252,252,252,1)), color-stop(100%,#F1F1F1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(237,239,239,1) 0%,rgba(252,252,252,1) 50%,#F1F1F1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(237,239,239,1) 0%,rgba(252,252,252,1) 50%,#F1F1F1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(237,239,239,1) 0%,rgba(252,252,252,1) 50%,#F1F1F1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(237,239,239,1) 0%,rgba(252,252,252,1) 50%,#F1F1F1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edefef', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */


}

/* ===== GENERAL ======*/



.gwd-pagedeck >.gwd-page {

	-webkit-box-shadow: 0 1px 1px 0 #AAA;
	box-shadow: 0 1px 1px 0 #AAA;
	border-radius: 2px;
	width: 1024px;
	height: 650px;
	margin-left: -512px!important;
	margin-top: -325px!important;
	top: 50%!important;
	left: 50%;
}

.gwd-pagedeck >.gwd-page > .gwd-page-content {
	width: 1024px;
	height: 650px;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(249,249,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */


}

.gwd-pagedeck >.gwd-page span {
	color:#636363!important;
}


.gwd-pagedeck >.gwd-page .gwd-span-a7am {
	color: #00C5A6!important;
	color: #136EB6!important;
	font-weight: bold;
	font-size: 16px;
	font-weight: bold!important;
}


.gwd-pagedeck >.gwd-page div.title span.subtitle {
	font-size: 20px!important;
	margin-left: 52px;
	display: block;
	margin-top: 5px;
	color: #A2A2A2!important;
}

.gwd-pagedeck >.gwd-page div.title {
	font-size: 36px!important;
	top: 40px;
	left: 40px;
	position: absolute;
	font-family: Lato;
}

.gwd-pagedeck >.gwd-page div.title span {
	font-size: 36px!important;
}

.gwd-pagedeck >.gwd-page div.title span strong {
	font-weight: 300!important;
}



.gwd-pagedeck >.gwd-page .text_side_right {
	display: block;
	width: 300px;
	position: absolute;
	top: 200px;
	left: 650px;
	text-align: center;
}

.gwd-pagedeck >.gwd-page .text_side_right.big, .gwd-pagedeck >.gwd-page .text_side_left.big {
	font-size: 20px!important;
}

.gwd-pagedeck >.gwd-page .text_side_right span{
	margin-bottom: 20px;
	display: block;
}

.gwd-pagedeck >.gwd-page .text_side_left {
	display: block;
	width: 300px;
	position: absolute;
	top: 200px;
	left: 40px;
	text-align: center;
}

.gwd-pagedeck >.gwd-page .text_side_left span{
	margin-bottom: 20px;
	display: block;
}



/* ========= NAV */


.nav {
	position: absolute;
	width: 650px;
	height: 25px;
	background: rgba(0, 0, 0, 0);
	bottom: 34px;
	left: 187px;
	display: table;
}

.nav a {
	display: table-cell;
	width: auto;
	height: 20px;
	text-align: center;
}

.nav a.dot span {
	opacity: 0;
	position: absolute;
	font-weight: 400!important;
	font-size: 13px;
	color: #7A7A7A!important;
	-moz-transform: translateY(-70px);
	-webkit-transform: translateY(-70px);
	-o-transform: translateY(-70px);
	-ms-transform: translateY(-70px);
	transform: translateY(-70px);
}

.nav a.dot span:after {
	content: "";
	display: block;
	position: absolute;
	border-left: dotted 1px #A7A7A7;
	top: 19px;
	height: 15px;
	left: 6px;
}

.nav a.dot:hover span {
	opacity:1;
	-moz-transform: translateY(-35px);
	-webkit-transform: translateY(-35px);
	-o-transform: translateY(-35px);
	-ms-transform: translateY(-35px);
	transform: translateY(-35px);
}

.nav a.dot.active:hover span {
	opacity:0;
}

.nav a.prev , .nav a.next  {
	width: 100px;
	text-decoration: none;
}

.nav a.prev span, .nav a.next span {
	opacity: 0;
	color:#4B4B4B!important;
	text-align: left;
	margin: auto 8px;
	font-weight: 400!important;
	-moz-transform: translateY(2px);
	-webkit-transform: translateY(2px);
	-o-transform: translateY(2px);
	-ms-transform: translateY(2px);
	transform: translateY(2px);
	-moz-transform: translateX(6px);
	-webkit-transform: translateX(6px);
	-o-transform: translateX(6px);
	-ms-transform: translateX(6px);
	transform: translateX(6px);
}

.nav a.next, .nav a.next span {
	text-align: right;
	-moz-transform: translateX(-6px);
	-webkit-transform: translateX(-6px);
	-o-transform: translateX(-6px);
	-ms-transform: translateX(-6px);
	transform: translateX(-6px);
}

.nav a.prev i, .nav a.next i {
	color: #B4B4B4;
	font-size: 25px;
	-moz-transform: translateY(3px);
	-webkit-transform: translateY(3px);
	-o-transform: translateY(3px);
	-ms-transform: translateY(3px);
	transform: translateY(3px);

}


.nav a.prev:hover span , .nav a.next:hover span {
	opacity: 1;
	-moz-transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);

}

.nav a.prev:hover i , .nav a.next:hover i {
	color:#4B4B4B!important;
}



.nav a i.fa-circle {
	color: #E0E0E0;
	font-size: 14px;
	text-shadow:none;

}

.nav a i.fa-circle:hover {
	color: #CACACA;
	text-shadow: 0px 1px 1px #C0C0C0;
}

.nav a.active {
	cursor:default;
}

.nav a.active i.fa-circle {
	color: #CACACA;

}




/* ===== INTRO ======*/


#intro_logo {
	width: 400px;
	height: auto;
	opacity: 1;
	position: absolute;
	top: 150px;
	left: 300px;
}



.intro_title {
	position: absolute;
	width: 624px;
	top: 362px;
	left: 200px;
	display: block;
	text-align: center;
}

.intro_title span {
	margin-bottom: 15px;
	font-size: 30px;
	display: block;
}

.intro_title span:nth-child(1) {
	font-size: 47px;
	color: #8B8B8B!important;

}

.intro_title div.line {
	content: " ";
	display: block;
	width: 347px;
	height: 1px;
	background: #DFDFDF;
	position: relative;
	margin: 10px auto;
}

.intro_title span:nth-child(3) {
	font-size: 17px;
	margin-top: 16px;
}


.start {
	position: absolute;
	display: block;
	width: 150px;
	height: 50px;
	text-align: center;
	top: 540px;
	left:437px;
	text-decoration: none;
}

.start i{
	color: #A8A8A8!important;
	font-size: 40px;
}

.start:hover i{
	color:  #A24689!important;

}


.start span {
	font-size: 11px;
	font-weight: bold!important;
	display: block;
	opacity: 0;
	font-style: normal;
	text-decoration: none;
	-moz-transform: translateY(-30px);
	-webkit-transform: translateY(-30px);
	-o-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}



.start:hover span {
	opacity:1;
	-moz-transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);


}




/* ===== Odoo V8 steps ======*/

#stepsBG {
	width: 1030px;
	height: auto;
	position: absolute;
	right: 0;
	top:0;
}

#stepsBG_b {
	width: 1030px;
	height: auto;
	position: absolute;
	right: 0;
	top:0;
}


#clouds {
	position: absolute;
	width: 1686px;
	height: auto;
	bottom: -30px;
	opacity: 0.15;
	-webkit-animation: clouds 100s linear infinite;
	animation: clouds 100s linear infinite;
}

#stepOver {
	position: absolute;
	top: 0;
	left: 0;
	width: 1024px;
	height: 650px;
	background: -moz-linear-gradient(45deg,  rgba(0,0,0,0.35) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,0,0,0.35)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(0,0,0,0.26) 0%,rgba(0,0,0,0.58) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


#page_step .title {
	text-align: center;
	left: 0;
	top: 16px;
	width: 1024px;
}

#page_step .title span span {
	font-size: 103px!important;
font-weight: 100!important;
text-shadow: none;
/* height: 68px; */
margin-bottom: 0;
color: #29FDDC!important;
background-image: -webkit-linear-gradient(92deg,#29FDDC,#FFF);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-animation: hue 60s infinite linear;
}

#page_step .title span {
	font-size: 37px!important;
	text-shadow: none;
	color: #FFF!important;
}

.steps_apps {
	position: absolute;
	top: 257px;
	left: 182px;
	text-align: center;
	width: 660px;
}

.steps_apps > div {
	display: inline;
	float: left;
	height: 100px;
	width: 165px;
	margin-bottom: 32px;
}

.steps_apps > div > i {
	font-size: 35px;
	text-shadow: none;
	color: #fff;
/* 	background-image: -webkit-linear-gradient(92deg,#FFE8F8,#F3D3EA);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */

}

#page_step .steps_apps > div > span {
	font-size: 20px;
	font-weight: 400!important;
	color: #FFF!important;
	text-shadow: none;
}



.steps_apps div:nth-child(1) * {
	-webkit-animation-delay: 3s;
    animation-delay: 3s;
}
.steps_apps div:nth-child(2) * {
	-webkit-animation-delay: 3.3s;
    animation-delay: 3.3s;
}
.steps_apps div:nth-child(3) * {
	-webkit-animation-delay: 3.6s;
    animation-delay: 3.6s;
}

.steps_apps div:nth-child(4) * {
	-webkit-animation-delay: 3.9s;
    animation-delay: 3.9s;
}


.steps_apps div:nth-child(5) * {
	-webkit-animation-delay: 3.9s;
    animation-delay: 3.9s;
}

.steps_apps div:nth-child(6) * {
	-webkit-animation-delay: 3.6s;
    animation-delay: 3.6s;
}

.steps_apps div:nth-child(7) * {
	-webkit-animation-delay: 3.3s;
    animation-delay: 3.3s;
}

.steps_apps div:nth-child(8) * {
	-webkit-animation-delay: 3s;
    animation-delay: 3s;
}

#page_step .nav {
	bottom: 77px;
}


#page_step .nav a.next {
	width: 125px;
	/*background: rgb(255,112,200);
	background: -moz-linear-gradient(top,  rgba(255,112,200,1) 0%, rgba(160,70,135,1) 2%, rgba(162,70,137,1) 98%, rgba(160,0,115,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,112,200,1)), color-stop(2%,rgba(160,70,135,1)), color-stop(98%,rgba(162,70,137,1)), color-stop(100%,rgba(160,0,115,1)));
	background: -webkit-linear-gradient(top,  rgba(255,112,200,1) 0%,rgba(160,70,135,1) 2%,rgba(162,70,137,1) 98%,rgba(160,0,115,1) 100%);  Chrome10+,Safari5.1+
	background: -o-linear-gradient(top,  rgba(255,112,200,1) 0%,rgba(160,70,135,1) 2%,rgba(162,70,137,1) 98%,rgba(160,0,115,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,112,200,1) 0%,rgba(160,70,135,1) 2%,rgba(162,70,137,1) 98%,rgba(160,0,115,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,112,200,1) 0%,rgba(160,70,135,1) 2%,rgba(162,70,137,1) 98%,rgba(160,0,115,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff70c8', endColorstr='#a00073',GradientType=0 );*/

	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	display: block;
	position: relative;
	margin: 0 auto;
	height: 39px;
	text-align: center;
	padding: 0;

	font-weight: 400!important;
	text-shadow: none;
}


#page_step .nav a.next i {
	font-size: 30px;
	margin-left: 12px;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	text-shadow: none;
	transform: translateY(5px);
}

#page_step .nav a.next:hover {
	color: #FFF!important;
}

#page_step .nav a.next:hover i {
	color: #FFF!important;
}




/* CMS PAGE */


div.title.cms:before {
	content: "\f015";
	font-family: FontAwesome;
	color: #A24689;
	margin-right: 10px;
}

img#cmsImage {
position: absolute;
top: 126px;
height: auto;
width: 738px;
left: -40px;
}

#canvas_webbuilder {
position: absolute;
top: 165px;
left: 61px;
width: 536px;
height: 336px;
cursor: pointer;
}

#webB_screen {
	position: absolute;
	top: 172px;
	left: 11px;
	width: 557px;
	height: 312px;
	background: transparent;
	background: -webkit-linear-gradient(341deg, rgba(255, 255, 255, 0.08) 31%, rgba(255, 255, 255, 0) 30.51%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(109deg, rgba(255, 255, 255, 0.08) 31%,rgba(255, 255, 255, 0) 30.51%,rgba(255, 255, 255, 0) 100%);
	opacity: 0.4;
}




img#flat_cms {
	width: 490px;
	height: auto;
	position: absolute;
	left: 647px;
	top: 100px;
}

#page_cms .animLine {
	left: 627px;
	top: 156px;
}

#page_cms .text_side_right {
	left:674px;
}

#page_cmsD .feat_desc {
font-family: Lato, "Lato";
position: absolute;
display: block;
width: 400px;
top: 425px;
left: 600px;
}



/*FEATURES===========*/

.bal {
	position: absolute;
	background: #A24689;
	display: block;
	height: 170px!important;
	width: 170px!important;
	border-radius: 100em;
	top: 134px;
	top: 164px;

	left: 40px;
	background: rgb(199,153,186); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(199,153,186,1) 0%, rgba(162,70,137,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(199,153,186,1)), color-stop(100%,rgba(162,70,137,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(199,153,186,1) 0%,rgba(162,70,137,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(199,153,186,1) 0%,rgba(162,70,137,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(199,153,186,1) 0%,rgba(162,70,137,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(199,153,186,1) 0%,rgba(162,70,137,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c799ba', endColorstr='#a24689',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-animation-delay: 1.2s; /* Chrome, Safari, Opera */
    animation-delay: 1.2s;
}

.bal.seconda {
	left:270px;
	-webkit-animation-delay: 1.4s; /* Chrome, Safari, Opera */
    animation-delay: 1.4s;
}

.bal.terza {
	left:40px;
	top:350px;
	-webkit-animation-delay: 1.6s; /* Chrome, Safari, Opera */
    animation-delay: 1.6s;
}


.bal.quarta {
	top:350px;
	left:270px;
	-webkit-animation-delay: 1.8s; /* Chrome, Safari, Opera */
    animation-delay: 1.8s;
}



.gwd-pagedeck >.gwd-page .bal span {
color: #FFF!important;
font-family: Lato;
text-shadow: none;
font-weight: 600!important;
position: relative;
top: 41%;
width: 94%;
margin-left: 3px;
text-align: center;
display: block;
font-size: 20px;
line-height: 24px;
text-shadow: -1px -1px 0 #A24689;
}

.gwd-pagedeck >.gwd-page .bal span.twoLines {
	top: 35%;
}

.gwd-pagedeck >.gwd-page .bal span.threeLines {
	top: 27%;
}

.gwd-pagedeck >.gwd-page .bal span.max {
	top: 1%;
}


.feat_desc {
	font-family: Lato, "Lato";
	position: absolute;
	display: block;
	width: 400px;
	top: 397px;
	left: 600px;
}

.feat_desc span {
	margin-bottom: 10px;
	display: block;
}




/*eCommerce*/

.title.ecomm:before {
	content: "\f07a";
	font-family: FontAwesome;
	color: #A24689;
	margin-right: 10px;
}


.img_ecommerce {
	position: absolute;
	width: 606px;
	height: auto;
	top: 155px;
	left: 451px;
}

#page_eComm .curved {
	position: absolute;
	height: 22px;
	width: 247px;
	left: 337px;
	top: 338px;
	opacity: 1;
	margin-top: -130px;
	margin-left: -111px;
}

#page_eComm .text_side_left {
	left: 81px;
	top: 256px;
}

#page_eCommD .feat_desc {
	font-family: Lato, "Lato";
	position: absolute;
	display: block;
	width: 400px;
	top: 123px;
	left: 640px;
}


#img_ecomm_key {
	width: 522px;
	height: auto;
	position: absolute;
	left: 584px;
	top: 276px;
}

#ecommMagnify {
	width: 150px;
	height: auto;
	position: absolute;
	left: 800px;
	top: 250px;
	border-radius: 100em;
	border: 5px solid #A24689;
	box-shadow: 0 2px 7px rgba(51, 51, 51, 0.45);
}


/*quotation*/

.title.quote:before {
	content: "\f201";
	font-family: FontAwesome;
	color: #A24689;
	margin-right: 10px;
}

#page_quote span.subtitle {
font-size: 20px!important;
margin-left: 60px;
display: block;
margin-top: 5px;
color: #A2A2A2!important;
}

#page_quote .orizz{
	top: 251px;
	left: 529px;
}

#img_quote_1 {
	width: 471px;
	height: auto;
	top: 154px;
	left: 40px;
	position: absolute;
}

#page_quoteD .feat_desc {
	display: block;
	width: 378px;
	top: 195px;
	left: 565px;
}


/*warehouse*/

.title.ware:before {
	content: "\f187";
	font-family: FontAwesome;
	color: #A24689;
	margin-right: 10px;
}

img#img_ware_1 {
position: absolute;
right: -119px;
top: 51px;
}


#page_ware .text_side_left {
top: 176px;
left: 74px;
}


#page_ware .wareBig {
	font-size: 27px
}

#page_ware #gwd-image_51 {
	margin-left: 50px;
	margin-top: 230px;

}


#page_wareD .feat_desc {
top: 152px;
width: 450px;
left: 494px;
}
img#stracia {
position: absolute;
right: 193px;
bottom: 86px;
box-shadow: 0 0 2px #BDBDBD;
}

img#straciaBott {
position: absolute;
right: 47px;
bottom: 76px;
width: 208px;
box-shadow: 0 0 12PX #BDBDBD;
}



/* =========== MAIL */
.title.mail:before {
	content: "\f0e0";
	font-family: FontAwesome;
	color: #A24689;
	margin-right: 10px;
}


#page_mailD .feat_desc {
	font-family: Lato, "Lato";
	position: absolute;
	display: block;
	width: 300px;
	top: 197px;
	left: 600px;
}

#img_mail_1 {
	width: 500px;
	height: auto;
	position: absolute;
	top: 134px;
	left: 40px;
	box-shadow: 1px 20px 8px #EEE;
}

#page_mail .curved {
	top: 300px;
	left: 350px;
	background-size: 100% 100%;
}



#img_mail_2 {
	position: absolute;
	top: 153px;
	left: 277px;
	border: 4px solid #A24689;
	border-radius: 100em;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.47);
}

/* =========== events */
.title.events:before {
	content: "\f041";
	font-family: FontAwesome;
	color: #A24689;
	margin-right: 10px;
}

img#gwd-image_13 {
position: absolute;
top: 119px;
width: auto;
left: -69px;
}


img#odooEvents2 {
width: 328px;
box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.39);
border-radius: 3px;
height: auto;
margin-bottom: 37px;
top: 184px;
left: 641px;
}

#page_events .text_side_right {
display: block;
width: 300px;
position: absolute;
top: 153px;
left: 633px;
text-align: center;
}

#page_eventsD .feat_desc {
	font-family: Lato, "Lato";
	position: absolute;
	display: block;
	width: 300px;
	top: 197px;
	left: 600px;
}

#gwd-image_54 {
	margin-top: 40px;
}

/* =========== SURVEY */
.title.surv:before {
	content: "\f05d";
	font-family: FontAwesome;
	color: #A24689;
	margin-right: 10px;
}

img#img_surv_1 {
	box-shadow: 0 1px 3px #999;
	padding-top: 20px;
	border-radius: 3px;
	width: 421px;
	position: absolute;
	right: 77px;
	top: 162px;
}

.survey_browser {
	pointer-events: none;
	position: absolute;
	overflow: hidden;
	width: 430px;
	right: 77px;
	top: 162px;
	height: 360px;
	background: #FFF;
	box-shadow: 0 2px 9px #D5D5D5;
}
.surveyContent {
	width: 430px;
	height: auto;

}

.scroller {
background: #999;
width: 5px;
height: 20px;
position: absolute;
top: 30px;
right: 0;

}


.browser_bar{
	position: absolute;
	top: 0;
}


#page_survey div.curved {
background-repeat: no-repeat;
overflow: hidden;
height: 20px;
position: absolute;
top: 383px;
left: 238px;
}


#page_survey .text_side_left {
	left: 90px;
}

#page_surveyD .feat_desc {
	font-family: Lato, "Lato";
	position: absolute;
	display: block;
	width: 300px;
	top: 230px;
	left: 600px;
	line-height: 25px;
}


/* =========== BI */
.title.bi:before {
	content: "\f201";
	font-family: FontAwesome;
	color: #A24689;
	margin-right: 10px;
}


#page_biD .feat_desc {
	font-family: Lato, "Lato";
	position: absolute;
	display: block;
	width: 300px;
	top: 230px;
	left: 600px;
	line-height: 25px;
}
#page_bi .curved {
	left: 605px;
	top: 350px;
}

#page_bi div.title span.subtitle, #page_biD div.title span.subtitle {
	margin-left: 59px;
}

#img_bi_1 {
	top: 176px;
	position: absolute;
	left: 80px;
	box-shadow: 0 6px 17px #999;
	border-radius: 3px;
}

#page_bi .text_side_left {
	display: block;
	width: 250px;
	position: absolute;
	top: 200px;
	left: 120px;
	text-align: center;
}


#page_biD .feat_desc {
	font-family: Lato, "Lato";
	position: absolute;
	display: block;
	width: 300px;
	top: 230px;
	left: 600px;
}

/* ========  API */

.title.api:before {
	content: "\f121";
	font-family: FontAwesome;
	color: #A24689;
	margin-right: 10px;
}


#page_api .text_side_left {
	width: 284px;
	top: 199px;
	left: 79px;
}


#page_api  .curved {
	left: 209px;
	top: 281px;
}




.textEditor{
background-color: #1B1B1B;
border: 1px solid #000;
position: absolute;
top: 150px;
right: 60px;
width: 500px;
height: 360px;
padding: 0 0 0 10px;
border-radius: 10px 10px 0 0;
box-shadow: 0 10px 26px #C7C7C7;
}

#page_api .textEditor span.bar{
height: 30px;
width: calc(100% - 10px);
display: block;
position: relative;
font-family: sans-serif!important;
font-weight: bold!important;
font-size: 11px;
line-height: 31px;
text-align: left;
background: #333;
border-radius: 10px 10px 0 0;
color: #C4C4C4!important;
text-shadow: 0 0px 1px #000;
padding: 0 10px;
margin: 0 -10px;
border-bottom: 1px solid #272727;
box-shadow: 0 2px 1px #1B1B1B;
}

#page_api .textEditor span.bar i{
font-size: 14px;
line-height: 31px;
float: right;
color: #FD5B00;
text-shadow: 0 0 7px rgba(0, 0, 0, 0.21);
}



#page_api .textEditor h3 {
	font-family: Consolas, monospace!important;
	font-weight: normal!important;
    position: relative;
    font-size:14px;
    text-shadow:none;
    color:white!important;
    text-shadow: none;
    margin: 8px 0;
    clear: both;
}

#page_api .textEditor h3.first {
	margin-top: 16px;
}

#page_api .textEditor h3.int {
    margin-left:20px;
}

#page_api .textEditor h3.intd {
    margin-left:40px;
}
#page_api .textEditor h3.space {
    margin-bottom:14px;
}

#page_api .textEditor h3 span{
	font-family: Consolas, monospace!important;
	font-weight: normal!important;
    font-size:14px;
    text-shadow:none;
    color:white!important;
    text-shadow: none;
    margin: 0
}


#page_api .textEditor h3 span.blue {
    color:#EB6755!important;
    text-shadow: none;
}

#page_api .textEditor h3 span.green {
    color:#95F195!important;
    text-shadow: none;
}

#page_api .textEditor h3.code {
    color:orange!important;
    font-style: italic;
    float:left;
}


#page_api .textEditor h3.code span.curs {
	font-family: Consolas, monospace!important;
	position:absolute;
    top:0;
    right:0;
    width:0;
    text-shadow:none;
    background: #1B1B1B; /* same as background */
    border-left: .1em solid white;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-animation: typing 5s steps(31, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 5s steps(31, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}




#page_api span.subtitle {
font-size: 20px!important;
margin-left: 58px;
display: block;
margin-top: 5px;
color: #A2A2A2!important;
}

#page_api .text_side_right span {
	margin-bottom: 20px;
	display: block;
	font-size: 21px;
	text-align: left;
}



/*=========== RELASE*/

img.relase {
top: 100px;
position: absolute;
left: 304px;
}

#page_about .intro_title span:nth-child(1) {
font-size: 26px;
color: #8B8B8B!important;
}

div.relase span{
	display: block;
	margin-bottom: 46px;
	color: #8B8B8B!important;
	font-size: 23px;
}

div.relase {
	top: 324px;
	position: absolute;
}

/*=========== INTEGRATED*/



#map {
	position: absolute;
	height: auto;
	width: 600px;
	left: 52px;
	top: 179px;

}

.marker {
	font-size: 30px;
	color: #A24689;
	position: absolute;
}

.marker.uno {
	top: 301px;
	left: 140px;
}
.marker.due{
	top: 282px;
	left: 200px;
}
.marker.tre{
	top: 255px;
	left: 335px;
}

.marker.qua{
	top: 318px;
	left: 450px;
}
.marker.cin{
	top: 313px;
	left: 518px;
}


.gwd-pagedeck >.gwd-page .text_side_right.map {
	text-align: left;
	left: 767px;
	top: 154px;
}

.gwd-pagedeck >.gwd-page .text_side_right.map span {
	margin-bottom: 6px;
	display: block;
}


.twomillion {
position: absolute;
width: 426px;
height: 52px;
font-family: Lato;
text-align: left;
top: 402px;
left: 728px;
color: #636363!important;
font-size: 20px;
background-color: rgba(0, 0, 0, 0);
text-align: left!important;
}

.twomillion span {
font-size: 60px;
}


.twomillion  span.million {
font-size: 30px;
position: absolute;
top: 12px;
left: 48px;
line-height: 22px;
}


.countries {
position: absolute;
width: 426px;
height: 52px;
font-family: Lato;
text-align: left;
top: 464px;
left: 658px;
color: #636363!important;
font-size: 20px;
background-color: rgba(0, 0, 0, 0);
text-align: left!important;
}

.countries span {
font-size: 60px;
}


.countries  span.covered {
font-size: 24px;
position: absolute;
top: 15px;
left: 117px;
line-height: 22px;
}

.gwd-div-n6bm {
	position: absolute;
	height: 53.64px;
	font-family: Lato;
	text-align: right;
	color: #000;
	width: 250px;
	left: 715px;
	top: 480px;
}






/*==========END*/

#page_end .logo {
left: 379px;
top: 100px;
width: 283px!important;
height: auto!important;
position: absolute;
}

div.end {
width: 700px;
text-align: center;
position: absolute;
font-size: 24px;
left: 170px;
top: 270px;
}

div.end span {
	display: block;
	margin-bottom: 20px;

}

span.last {
	margin-top: 71px;
	-webkit-animation-delay: 5s!important; /* Chrome, Safari, Opera */
    animation-delay: 5s!important;
}

.button.callTo {
	cursor: pointer;
	padding: 10px 20px;
	background: #C799BA;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(116, 78, 105, 0.43);
	text-transform: uppercase;
	font-weight: 500!important;
	text-decoration: none;
	border-bottom: 1px solid #A87599;
	-webkit-animation-delay: 5s!important; /* Chrome, Safari, Opera */
    animation-delay: 5s!important;
}

.button.callTo:hover {

	background: #A87599;
	color: #FFF;
	text-shadow: 0 0px 0px rgba(116, 78, 105, 0.43);
	border-bottom: 0px solid #A87599;

}


#page_end .start {
	top: 558px;
	left: 442px;
	-webkit-animation-delay: 5s!important; /* Chrome, Safari, Opera */
    animation-delay: 5s!important;

}

#page_end .start i {
	font-size: 20px;
	transform: rotate(0deg);
	-webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out;
-ms-transition: all 300ms ease-in-out;
-o-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out;

}
#page_end .start:hover i {
	transform: rotate(180deg);
}
