{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <section id="content" class="row">
        <div class="main-panel">
            <ul class="breadcrumbs">
                <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                <li class="current"><a href=".">403 - {% trans "Page Forbidden" %}</a></li>
            </ul>

            <h1>{% trans "This page is forbidden!" %} <br/>
                <small>{% trans 'The server returned a "403 Forbidden"' %}</small></h1>
            <p>
                {% blocktrans %}
                    The page you are looking for is forbidden.<br/>
                    <br/>
                    Regards,<br/>
                    The LottoStar Team
                {% endblocktrans %}
            </p>
            <h1><small>{% trans "Please choose one of the games below and play:" %}</small></h1>
            {% include "play/partials/game_selectors.html" %}
        </div>

        {% include "partials/sidebar.html" %}
    </section>
{% endblock %}