{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <section id="content" class="row">
        <div class="main-panel">
            <ul class="breadcrumbs">
                <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                <li class="current"><a href=".">500 - {% trans "Internal Server Error" %}</a></li>
            </ul>

            <h1>{% trans "Oops! An error occurred." %} <br/>
                <small>{% trans 'The server returned a "500 Internal Server Error"' %}</small></h1>
            <p>
                {% blocktrans %}
                Do not worry, this is a temporary problem!<br/>
                <br/>
                Refreshing your page will most probably fix this error. If this still appears your browser may be remembering the error, please hold the CTRL button (or OPTION key if you are using a MAC) on your keyboard and press the F5 key. This will clear your browsers memory of this page and most probably solve the problem.<br/>
                <br/>
                If refreshing the page does not work please wait and retry after 1/2 an hour.<br/>
                <br/>
                If you are still seeing this error, please e-mail us at support@lottostar.com and let us know so that we can fix it as soon as possible.<br/>
                <br/>
                Sorry for any inconvenience caused.<br/>
                <br/>
                Regards,<br/>
                The LottoStar Team
                {% endblocktrans %}
            </p>

            <h1><small>{% trans "Please choose one of the games below and play:" %}</small></h1>
            {% include "play/partials/game_selectors.html" %}

        </div>

        {% include "partials/sidebar.html" %}
    </section>
{% endblock %}