{% load promotions_tags i18n compress %}
<!DOCTYPE html>

<!--[if IE 7]> <html class="no-js ie7"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>

        {% if seo_meta_data %}
            <title>{{ seo_meta_data.title }}</title>
            <meta name="description" content="{{ seo_meta_data.description }}">
            <meta name="keywords" content="{{ seo_meta_data.keywords }}">
        {% else %}
            <title>{% block title %}{% if config.meta_title %} {{config.meta_title }} {% else %}{% trans "Welcome to " %} LottoStar{% endif %}{% endblock %}</title>
            <meta name="description" content="{% block description %}{% if config.meta_description %} {{config.meta_description }} {% else %}Welcome to LottoStar{% endif %}{% endblock %}">
            <meta name="keywords" content="{% block keywords %}{% if config.meta_keywords %} {{config.meta_keywords }} {% else %}Welcome to LottoStar{% endif %}{% endblock %}">
        {% endif %}

        {% compress css %}
            <link rel="stylesheet" href="/static/css/normalize.css"/>
            <link rel="stylesheet" href="/static/css/site.css"/>
            <link rel="stylesheet" href="/static/css/700italic.css"/>
        {% endcompress %}

            <!--[if lt IE 9]>
                <script src="http://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>
                <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
                <script src="/static/Pie/PIE.js"></script>
                <link rel="stylesheet" type="text/css" href="/static/css/ie9-down.css" />
            <![endif]-->

        {% block css %}{% endblock %}

        {% compress js %}
        <script src="/static/js/jquery-1.10.1.js"></script>
        <script src="/static/js/jquery-migrate-1.2.1.min.js"></script>

        <script src="/static/js/vendor/custom.modernizr.js"></script>

        <script src="/static/js/vendor/foundation.min.js"></script>
        <script src="/static/js/foundation/foundation.section.js"></script>

        <script src="/static/js/foundation/foundation.dropdown.js"></script>
        <script src="/static/js/foundation/foundation.reveal.js"></script>
        <script src="/static/js/foundation/foundation.abide.js"></script>
        <script src="/static/js/foundation/foundation.tooltips.js"></script>
        <script src="/static/js/foundation/foundation.cookie.js"></script>
        <script src="/static/js/foundation/foundation.joyride.js"></script>
        <script src="/static/js/vendor/fancyfields-1.2.min.js"></script>
        <script src="/static/js/vendor/selectivizr-min.js"></script>

        <script src="/static/js/base.js"></script>
        {% endcompress %}

        {% block js %}{% endblock %}
    </head>
    <body>
    <div id="wrapper">
        {% get_initial_offer as initial_offer %}
        {% block message %}{% endblock %}
        {% if initial_offer %}
            {% include "partials/modals.html" with offer=initial_offer %}
        {% endif %}
        {% include "partials/header.html" %}

        <section id="contentContainer" style="background-image:url('/static/img/site-background/beach.jpg'); background-repeat: repeat-x">
            <div class="gradient">
                {% include "partials/menu.html" %}
                <div id="mainContainer">
                    {% block content %}
                        <section id="content" class="row">
                            <h1>No Header</h1>
                            <p>You should not see this.</p>
                        </section>
                    {% endblock %}
                </div>
            </div>
        </section>
        {% include "partials/footer.html" %}
    </div>

    </body>
</html>