{% extends "base.html" %}

{% load i18n webdesign humanize game_tags compress %}

{% block js %}
    {% compress js %}
    <script type="text/javascript">
        var product_id = {{ product.id }};
        var entries = {{ game.entries }};
        var boost_value = "{{ boost_value }}";
        var game_percentage = {{ percentage }};
        var product_slug = "{{ product.slug }}";
        var page = {{ page }};
        var edit_id = "{{ id }}";
        var remaining_time = "{{ remaining_time }}";
        var locale_day_error = "{% trans "Please make sure one day of the week is selected." %}";
        var locale_duration_error = "{% trans "Please make sure the minimum of 1 week, maximum of 52 weeks is entered." %}";
        var locale_validate_fail = "{% trans "Please make sure the following tickets are completely filled in:" %}";
        var locale_complete_tickets = "{% trans "Please complete all the tickets first." %}";
        var locale_exceeded_wheeling = "{% trans "You have exceeded the wheeling limit for this ticket" %}";
        var locale_exceeded_entry_limit = "{% trans "You have exceeded your entry limit." %}";
        var exclude_selection = {{ exclude_selection }};
        var crosssrf = "{{ csrf_token }}";
        {% if addon %}
        {% for item in addon %}{% for ballset in item.id|get_addon_list:ballset_addon %}
            var addon = {
                "id": {{ item.id }},
                "main": {{ ballset.main }},
                "max": {{ ballset.ball_max }},
                "min": {{ ballset.ball_min }}
            };
        {% endfor %}{% endfor %}{% else %}var addon = false;{% endif %}
            var ballset = [ {% for item in ballset %}
                {   "id": {{ item.id }},
                    "main": {{ item.main }},
                    "max": {{ item.ball_max }},
                    "min": {{ item.ball_min }}
                } {% if not forloop.last %}, {% endif %}{% endfor %}];
            var boost_list = [ "standard", {% for item in boost %}"{{ item.prefix }}"{% if not forloop.last %}, {% endif %}{% endfor %}];
            var boost_max_range = [{% for item in boost %}{% if forloop.last %} {{ item.prefix }} {% endif %}{% endfor %}];
            var boost_min_range = [{% for item in boost %}{% if forloop.first %} {{ item.prefix }} {% endif %}{% endfor %}];
    </script>
    <script src="/static/js/vendor/jquery.percentageloader-0.1.js"></script>
    <script src="/static/js/jquery.nouislider.min.js"></script>
    <script src="/static/js/game.js"></script>

    {% endcompress %}
    <script type="text/javascript"> window.onbeforeunload = function () { /* makes sure the game page is never cached */ } </script>

{% endblock %}

{% block message %}
    {% include "common/messages.html" %}
{% endblock %}

{% block content %}
<div class="game-container">
    <section id="content" class="push-down row game-content">
        <input type="hidden" id="server_timestamp" value="{{ timestamp }}" />

        <div id="deckloader">
            <center>
                <img src="/static/img/loading.gif" alt="" width="128" height="128" /> <br/>
                <h2>{% trans "Loading" %}...</h2>
            </center>
        </div>

        <form action="." method="post" class="custom">{% csrf_token %}

            <div id="game-block" style="display: none">
                <div id="game-header">
                    <div class="large-4 columns game-title">
                        <h1>
                            <img src="/static/img/games/{{ product.slug }}/img/logo-long.png" alt="Lottery logo">
                        </h1>
                    </div>

                    <!--PlayMeter-->
                    <div class="large-4 columns meter-container" >
                        <div id="topLoader"></div>
                        <span>{% trans "winning chance"%}</span>
                    </div>

                    <!---clock-->
                    <div class="large-4 columns">
                        <div class="countdown-container">
                            {% trans "Next draw closes in" %}
                            <div class="clock">
                                <div class="time" id="game_time">
                                    {{ remaining_time|makeclock }}
                                </div>
                                <div class="labels">
                                    <span class="day">{% trans "Days" %}</span>
                                    <span class="hour">{% trans "Hours" %}</span>
                                    <span class="min">{% trans "Minutes" %}</span>
                                </div>
                            </div>
                            <div class="date-container">{{ product.get_game.next_draw_date.draw_datetime|date:"jS F Y" }}</div>
                        </div>
                    </div>
                    <div class="large-12 columns" style="z-index: 102">
                        <div class="top-banner-container">
                            <div class="row collapse">
                                <div class="small-4 columns lotto-booster">
                                    <div id="tour1" class="note-boost boost">
                                        <div class="nitro">
                                            <input type="hidden" id="boost_slider" name="boost" value="{{ boost_value }}">
                                        </div>
                                    </div>
                                     <ul class="inline-list">
                                        <li>{% trans "Standard" %}</li>
                                         {% for item in boost %}
                                             <li>{% trans "Boost" %} {{ item.prefix }}</li>
                                         {% endfor %}
                                    </ul>
                                </div>
                                <div class="small-4 columns">
                                    <div class="row collapse jackpot-container" id="tour2">
                                        <div class="small-4 small-centered columns jackpot">{% trans "Jackpot" %}: </div>
                                        <div class="small-12 columns amount">
                                            <span id="game_jackpot">&euro; {{ jackpot }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="small-4 columns helper-icons">

                                    <ul class="inline-list right">
                                        <li id="tour3">
                                            <button id="btn_quickpick_all" type="button" class="quickpick-all">
                                                <span class="button-label">{% trans "Quick Pick All" %}</span>
                                            </button>
                                        </li>
                                        {% if addon %}
                                        <li id="tour4">
                                            <button id="btn_addon_all" type="button" class="superstar-all">
                                                <span class="button-label">{% trans "Super Star All" %}</span>
                                            </button>
                                        </li>
                                        {% endif %}
                                        <li id="tour5">
                                            <button id="btn_max_all" type="button" class="max-all">
                                                <span class="button-label">{% trans "max All" %}</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="deckwrapper" style="overflow:hidden !important;">

                    <div class="small-12 columns" id="play-decks">

                        <div class="playblock-container">
                            <div class="playblock">
                                <div id="scroller">
                                    {% for entry in entry_list %}
                                        {% if forloop.counter0|divisibleby:"4" %}
                                            <div id="row_deck_{% widthratio_plusone forloop.counter 4 1 %}" class="row_deck" >
                                        {% endif %}

                                        <!-- single panel -->
                                        <div class="basic" id="ticket_{{ entry.ticket }}">
                                            <div class="control">
                                                <div id="tour6">
                                                    <a class="iconbox button_clear" id="clear_{{ product.id }}_{{ entry.ticket }}" data-icon="&#xe019;"></a>
                                                </div>
                                                <div id="tour7">
                                                    <span id="ticket_system_{{ entry.ticket }}">{% get_entries entry ticket_cost session %}</span>
                                                </div>
                                                <div id="tour8">
                                                    <a class="iconbox button_quickpick" id="quickpick_{{ product.id }}_{{ entry.ticket }}" data-icon="&#xe02a;"></a>
                                                </div>
                                            </div>

                                            {% for ballrange in ballset %}
                                                <input type="hidden" name="selection_limit_{{ ballrange.id }}" id="selection_limit_{{ ballrange.id }}" value="{{ ballrange.wheeling_limit }}">

                                                <div id="tour9" class="singleticket playblock_ballset_{{ ballrange.id }}">
                                                    {% spaceless %}
                                                        {% for no in ballrange.ball_max|get_range %}
                                                            <a {% is_ball_selected session product.id ballrange.id entry.ticket no exclude_selection %}>{{ no }}</a>
                                                        {% endfor %}
                                                    {% endspaceless %}
                                                </div>
                                                {% if not forloop.last %} <div class="superstar" style="height:25px"></div> {% endif %}
                                            {% endfor %}

                                            {% for addon_item in addon %}
                                                <div id="tour10" class="add-on">
                                                    <div class="row collapse">
                                                        <div class="small-3 columns">
                                                            <select id="id_bonus_{{ entry.ticket }}_{{ addon_item.id }}" name="bonus_{{ entry.ticket }}_{{ addon_item.id }}">
                                                                {% for ballset_item in addon_item.id|get_addon_list:ballset_addon %}
                                                                    <option value="0">--</option>
                                                                    {% for no in ballset_item.ball_max|get_range %}
                                                                        <option value="{{ no }}" {% is_addon_selected session entry.ticket no exclude_selection %}>{{ no }}</option>
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="small-8 columns">
                                                            <label id="label_addon_{{ entry.ticket }}_{{ addon_item.id }}" {% is_addon_selected session entry.ticket exclude_selection %}> <span data-icon="&#xe033;"></span>  {{addon_item.name }}</label>
                                                        </div>
                                                        <div class="small-1 columns">
                                                            <span data-tooltip class="has-tip" title="{% trans "The SuperStar bonus ball increases the size of your personal jackpot." %}">
                                                                <span data-icon="&#xe060;" style="margin-top: 9px"></span>
                                                            </span>

                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                        {% if forloop.last or forloop.counter|divisibleby:"4" %}</div>{% endif %}
                                        <!-- single panel end -->
                                    {% endfor %}

                                </div>
                            </div>

                        </div>

                        <span id="id_prev">
                            <img src="/static/img/prev.png">
                        </span>
                        <span id="id_next">
                            <img src="/static/img/next.png">
                        </span>
                    </div>
                </div>

                <div class="large-12 columns" id="play-control-bar">

                    <div class="row">
                        <div class="large-8 large-centered columns">
                            <div id="pagination">
                               <center>
                                   {% trans "Ticket Deck" %} <strong><span id="page_no">{{ page }}</span></strong> {% trans "of" %} <span id="page_no"><strong>{{ page_total }}</strong></span>
                               </center>
                            </div>
                        </div>
                    </div>

                    <div class="control-bar">
                        <div class="row">

                            <div id="tour11" class="small-3 columns">
                                <span data-tooltip class="has-tip" title="{% trans "Allows you to choose which week you'd like your numbers to be submitted" %}">
                                    {% trans "Starting Date" %}
                                </span>
                                <br>

                                <select name="schedule_date" id="schedule_start_date">
                                    {% for event in game.game.get_events %}
                                        <option {% get_schedule session event %} value="{{ event.pk }}">{{ event.draw_datetime|date:"d F Y, l" }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div id="tour12"  class="small-1 columns">
                                <span data-tooltip class="has-tip" title="{% trans "This allows you to play your numbers over a duration of weeks" %}">
                                    {% trans "Weeks" %}
                                </span>
                                <br>
                                <input type="text" onkeypress="return integersonly(event)" id="id_draws" value="{{ draws.duration }}"/>
                            </div>

                            <div id="tour13"  class="small-4 columns">
                                <div id="day-selector">
                                    <span data-tooltip class="has-tip" title="{% trans "Here you can choose the days of the draws you want to enter" %}">
                                        {% trans "Weekday Selection" %}
                                    </span>
                                    <br>

                                    <div class="date-selector">
                                        <ul>
                                            <li>
                                                <label for="id_monday" onclick="javascript: toggle_day('monday')">
                                                    <input {% is_scheduled schedule session "monday" %} type="checkbox" style="display: none;" />
                                                    <span class="custom checkbox dow {% is_scheduled schedule session "monday" %}" id="id_monday"></span> {% trans "Mo" %}
                                                </label>
                                            </li>
                                            <li>
                                                <label for="id_tuesday" onclick="javascript: toggle_day('tuesday')">
                                                    <input {% is_scheduled schedule session "tuesday" %} type="checkbox" style="display: none;" />
                                                    <span class="custom checkbox dow {% is_scheduled schedule session "tuesday" %}" id="id_tuesday"></span> {% trans "Tu" %}
                                                </label>
                                            </li>
                                            <li>
                                                <label for="id_wednesday" onclick="javascript: toggle_day('wednesday')">
                                                    <input {% is_scheduled schedule session "wednesday" %} type="checkbox" style="display: none;" />
                                                    <span class="custom checkbox dow {% is_scheduled schedule session "wednesday" %}" id="id_wednesday"></span> {% trans "We" %}
                                                </label>
                                            </li>
                                            <li>
                                                <label for="id_thursday" onclick="javascript: toggle_day('thursday')">
                                                    <input {% is_scheduled schedule session "thursday" %} type="checkbox" style="display: none;" />
                                                    <span class="custom checkbox dow {% is_scheduled schedule session "thursday" %}" id="id_thursday"></span> {% trans "Th" %}
                                                </label>
                                            </li>
                                            <li>
                                                <label for="id_friday" onclick="javascript: toggle_day('friday')">
                                                    <input {% is_scheduled schedule session "friday" %} type="checkbox" style="display: none;" />
                                                    <span class="custom checkbox dow {% is_scheduled schedule session "friday" %}" id="id_friday"></span> {% trans "Fr" %}
                                                </label>
                                            </li>
                                            <li>
                                                <label for="id_saturday" onclick="javascript: toggle_day('saturday')">
                                                    <input {% is_scheduled schedule session "saturday" %} type="checkbox" style="display: none;" />
                                                    <span class="custom checkbox dow {% is_scheduled schedule session "saturday" %}" id="id_saturday"></span> {% trans "Sa" %}
                                                </label>
                                            </li>
                                            <li>
                                                <label for="id_sunday" onclick="javascript: toggle_day('sunday')">
                                                    <input {% is_scheduled schedule session "sunday" %} type="checkbox" style="display: none;" />
                                                    <span class="custom checkbox dow {% is_scheduled schedule session "sunday" %}" id="id_sunday"></span> {% trans "Su" %}
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="large-5 columns">
                                <div id="tour14"  class="confirmation-bar">
                                    <div class=" row collapse">
                                        <form action="." method="post">{% csrf_token %}
                                            <div class="small-6 columns">
                                                {% trans "Cost" %}<br>
                                                <input type="hidden" id="id_total_cost" value="{{ total_cost }}" name="total_cost"/>
                                                <span id="game_cost">&euro; {{ total_cost|floatformat:2|intcomma }}</span>
                                            </div>

                                            <div class="small-6 columns">
                                                <button type="submit" id="btnConfirm" onclick="javascript:return validateGame()" class="button radius expand greenbtn">{% trans "continue" %}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

  <!-- Tip Content -->

    </section>
    <div class="clear"></div>

    <section id="bottomContent" class="row">
        <div class="row">
            <div class="large-12 columns">
                <div class="control-bar">
                    <div class="row">
                        <div class="small-7 columns">
                            <h2>{% trans "A little bit of Direction" %}</h2>
                        </div>
                        <div class="small-5 columns">
                            <a class="scroll" href="#tour1">
                                <button id="btn_tour_all" type="button" class="button radius right">
                                    {% trans "Take the tour" %} <span data-icon="&#x49;"></span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="large-3 columns">
                    <img src="/static/img/jbbadges.png"/>
                </div>
                <div class="large-6 columns">
                    <h2>{% trans "Jackpot Booster" %}</h2>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>
                    <p> Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
                </div>
                <div class="large-3 columns">
                    <img src="/static/img/features-booster.png"/>
                </div>

                <hr>

                <div class="large-8 columns">
                    <h2>{% trans "Meter" %}</h2>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>
                    <p> Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
                </div>
                <div class="large-4 columns">
                    <img src="/static/img/features-Meter.png"/>
                </div>

            </div>
        </div>
    </section>

     <div class="clear"></div>

    <div class="hide">
        <ol class="joyride-list" data-joyride>
            <li data-id="tour1" data-class="note-boost" data-text="Next" data-options="tipLocation:left;tipAnimation:fade">
                <h4>{% trans "Jackpot Booster" %}</h4>
                <p>{% trans "The boost option allows you to customise, and increase, your personal jackpot." %}</p>
            </li>
            <li data-id="tour2" data-text="Next" data-options="tipLocation:bottom;tipAnimation:fade">
                <h4>{% trans "Jackpot Amount" %}</h4>
                <p>{% trans "This is the Jackpot amount you stand you win. The Boost and Superstar options allow you to increase your personal jackpot size." %}</p>
            </li>
            <li class="stop3" data-id="tour3" data-button="Next" data-options="tipLocation:bottom;tipAnimation:fade">
                <h4>{% trans "Quick Pick All" %}</h4>
                <p>{% trans "Quick pick randomly generates your numbers, should you be feeling lucky!" %}</p>
            </li>
            <li class="stop4" data-id="tour4" data-button="Next" data-options="tipLocation:bottom;tipAnimation:fade">
                <h4>{% trans "SuperStar All" %}</h4>
                <p>{% trans "Like Quick pick, SuperStar all will randomly generate your numbers, as well as a SuperStar ball." %}</p>
            </li>
            <li data-id="tour5" data-button="Next" data-options="tipLocation:right;tipAnimation:fade">
                <h4>{% trans "Max All" %}</h4>
                <p>{% trans "Max All generates a full set of tickets, including SuperStars and maximun Boost!" %}</p>
            </li>
            <li class="stop6" data-id="tour6" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
                <h4>{% trans "Trash It" %}</h4>
                <p>{% trans "This clears the current ticket of all numbers, as well as the SuperStar." %}</p>
            </li>
            <li class="stop7" data-id="tour7" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
                <h4>{% trans "Entries" %}</h4>
                <p>{% trans "This is the number of enteries for this ticket." %}</p>
            </li>
            <li class="stop8" data-id="tour8" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
                <h4>{% trans "Quick Pick" %}</h4>
                <p>{% trans "Quick pick randomly generates numbers for this ticket." %}</p>
            </li>
            <li data-id="tour9" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
                <h4>{% trans "Number Blocks" %}</h4>
                <p>{% trans "Click on the numbers to make your winning selection." %}</p>
            </li>
            <li data-id="tour10" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
                <h4>{% trans "SuperStar" %}</h4>
                <p>{% trans "The SuperStar bonus ball increases the size of your personal jackpot." %}</p>
            </li>
            <li data-id="tour11" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
                <h4>{% trans "Starting Date" %}</h4>
                <p>{% trans "Allows you to choose which week you'd like your numbers to be submitted." %}</p>
            </li>
            <li data-id="tour12" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
                <h4>{% trans "Duration" %}</h4>
                <p>{% trans "This allows you to play your numbers over a duration of weeks." %}</p>
            </li>
            <li data-id="tour13" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
                <h4>{% trans "Days of The week" %}</h4>
                <p>{% trans "Here you can choose the days of the draws you want to enter." %}</p>
            </li>
            <li data-id="tour14" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
                <h4>{% trans "Confirmation" %}</h4>
                <p>{% trans "Once you're happy with your selection, you can continue to the checkout page." %}</p>
            </li>
            <li data-button="End">
                <h4>{% trans "That's it!" %}</h4>
                <p>{% trans "Playing LottoStar is simple, easy and most of all fun. Should you have any further questions, please view our FAQ page for in-depth coverage of the website." %}</p>
            </li>
        </ol>
    </div>
</div>
{% endblock %}

