{% extends "base.html" %}
{% load i18n pagination_tags %}
{% load cache %}

{% block content %}
    <section id="content" class="row">
        <div class="main-panel">
            <h1>{% trans "Frequently Asked Questions" %}</h1>
            {% cache 3600 faq %}
                <div id="faq">
                    {% for category in category_list %}
                        {% if forloop.counter0|divisibleby:"4" %}
                            <div class="row">
                        {% endif %}
                            <div class="large-4 columns">
                                <h3>{{ category.get_translation.title }}</h3>
                                <ul>
                                    {% for faq_item in category.faq_set.all %}
                                        <li><a href="{% url "faq_question" faq_item.slug %}">{{ faq_item.get_translation.question }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% if forloop.last or forloop.counter|divisibleby:"4" %}</div>{% endif %}
                    {% endfor %}
                </div>
            {% endcache %}
        </div>
        {% include "partials/sidebar.html" %}
    </section>
    <div class="clear"></div>
{% endblock %}

