{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% with faq.get_translation as faq_trans %}
        <section id="content" class="row">
            <div class="main-panel">
                <ul class="breadcrumbs">
                    <li><a href="{% url "faq" %}">{% trans "Faq" %}</a></li>
                    <li class="current"><a href=".">{{faq_trans.question}}</a></li>
                </ul>

                <h1>{{ faq_trans.question }}</h1>

                {{ faq_trans.answer|safe }} <br><br>

                <div class="clear"></div>

                <a href="{% url "faq" %}" class="button">{% trans "back" %}</a>
            </div>

            {% include "partials/sidebar.html" %}
        </section>
    {% endwith %}
{% endblock %}