<!DOCTYPE html>
<html>
	<head>
		{% if title %}
			<title>{{ title }} - FCT</title>
		{% else %}
			<title> Welcome to FCT</title>
		{% endif %}
	</head>
	<body>
		<div>First Class Trophy: <a href="/">Calculator</a></div>
		<hr>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>