<!DOCTYPE html>
<html>
<head>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>

<table>
  <P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <INPUT TYPE=radio NAME=taxi VALUE={{taxidermy[0]}}> {{taxidermy[0]}}&nbsp;&nbsp;&nbsp;&nbsp;
  <INPUT TYPE=radio NAME=taxi VALUE={{taxidermy[1]}}> {{taxidermy[1]}}&nbsp;&nbsp;&nbsp;&nbsp;
  <INPUT TYPE=radio NAME=taxi VALUE={{taxidermy[2]}}> {{taxidermy[2]}}&nbsp;&nbsp;&nbsp;&nbsp;
  <INPUT TYPE=radio NAME=taxi VALUE={{taxidermy[3]}}> {{taxidermy[3]}}&nbsp;&nbsp;&nbsp;&nbsp;
  <INPUT TYPE=radio NAME=taxi VALUE={{taxidermy[4]}}> {{taxidermy[4]}}&nbsp;&nbsp;&nbsp;&nbsp;
  <INPUT TYPE=radio NAME=taxi VALUE={{taxidermy[5]}}> {{taxidermy[5]}}&nbsp;&nbsp;&nbsp;&nbsp;
  <INPUT TYPE=radio NAME=taxi VALUE={{taxidermy[6]}}> {{taxidermy[6]}}&nbsp;&nbsp;&nbsp;&nbsp;
  <INPUT TYPE=radio NAME=taxi VALUE={{taxidermy[7]}}> {{taxidermy[7]}}&nbsp;&nbsp;&nbsp;&nbsp;
  <INPUT TYPE=radio NAME=taxi VALUE={{taxidermy[8]}}> {{taxidermy[8]}}&nbsp;&nbsp;&nbsp;&nbsp;
  <INPUT TYPE=radio NAME=taxi VALUE={{taxidermy[9]}}> {{taxidermy[9]}}&nbsp;&nbsp;&nbsp;&nbsp;
  <INPUT TYPE=radio NAME=taxi VALUE={{taxidermy[10]}}> {{taxidermy[10]}}&nbsp;&nbsp;&nbsp;&nbsp;<P>
  <tr {% for spicy in spicies %}>
    <td><INPUT TYPE=radio NAME=spicy VALUE={{ spicy }}> {{ spicy }}</td>
  </tr {% endfor %}>
</table>

</body>
</html>