<!DOCTYPE html>
<html>

  <head>
    <script type="text/javascript">

      function country() {
          document.getElementById("myCountry").reset();
      }
    </script>
  </head>

  <body>

    <form action="" method="post" name="welcome" id="myCountry">
      {{ form.hidden_tag() }}   
        <p>email: {{ form.country_id }} Please select which category you desire!</p> 
        {% for error in form.country_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      
        <p><input type="submit" value="Proceed"> |
        <input type="button" onclick="myFunction()" value="Reset"></p>
    </form>

  </body>
</html>