{% extends "registration/base.html" %}
{% load i18n static %}

{% block breadcrumb %}{% trans "Forgot password" %}{% endblock %}
{% block page_title %}{% trans "Forgot your password?" %}{% endblock %}
{% block description %}{% trans "Please fill in your new password below" %}:{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-6 large-centered columns">
            {% trans "Send" as button_value %}
            {% include "common/form.html" with button_value=button_value %}
        </div>
    </div>
{% endblock %}

{% block middle-section %}
    <li><a class="btn btn-large btn-color" href="{% url "auth_login" %}">{% trans "Login" %}</a></li>
    <li><a class="btn btn-large btn-color" href="{% url "register" %}">{% trans "Register" %}</a></li>
    <li><a class="btn btn-large btn-color" href="{% url "auth_activation_resend" %}">{% trans "Activate your account" %}</a></li>
{% endblock %}
