{% extends "base.html" %}

{% load i18n game_tags webdesign humanize %}
{% load promotions_tags %}

{% block js %}
    <script type="text/javascript" src="/static/js/checkout.js"></script>
    <script>
    $(document).ready(function(){
        /*
        * check if the inserted deposit amount does not exceed the user's deposit limit if so display error message
        * and clear the deposit input field.
        * */
        // the maximum value a user can deposit
        var deposit_limit = '{{ deposit_limit }}';
        deposit_limit = parseInt(deposit_limit)
        $("#id_buy_play_credits").val('0.00')
        var initial_deposit_value = parseInt($("#id_buy_play_credits").val())
         $("#id_buy_play_credits").on('keyup', function(){
            var deposit_value = parseInt($(this).val())
            if(deposit_value > deposit_limit){
                alert('Deposit limit exceeded. Max allowed deposit is: ' + deposit_limit)
                $(this).val('0.00')
            }
        });
    })
</script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/site.css"/>
{% endblock %}

{% block content %}
    <checkout>
        <div id="confirm_message" style="display: none;">{% trans "Click OK if you want to delete this from you basket" %}</div>
        <div id="csrf_token_id" style="display: none;">{{csrf_token}}</div>

        <section id="content" class="row">
            <div class="main-panel" id="checkout">
                <h1>{% trans "Checkout" %}
                    <br/>
                    <small>
                        {% if game_list %}
                            {% trans "Please review your order" %}
                        {% else %}
                            {% trans "Please choose one of the games below and play:" %}
                        {% endif %}
                    </small>
                </h1>

                {% if form.errors %}
                    <div class="alert alert-error">
                        <p>{{ form.errors }}</p>
                    </div>

                {% endif %} 

                {% if transaction_limit %}
                    <div class="row large-12">
                        <div class="alert alert-error">
                            <p><strong>{{ transaction_limit }}</strong></p>
                        </div>
                    </div>
                {% endif %}
                {% comment %}
                <div style="margin-bottom: 30px;">
                    <a href="{% url 'delete_replay_entries' %}" class="button radius" style="margin-right: 10px;">Delete all replayed entries</a>
                    <a href="{% url 'delete_replay_entries' %}" class="button radius">Edit replayed entries</a>
                </div>
                {% endcomment %}
                {% if game_list %}
                    <div class="row">
                        <div class="large-12 columns">
                            <table class="entries">
                                <thead>
                                    <tr>
                                        <td width="155" class="heading">{% trans "Product" %}</td>
                                        <td width="350">{% trans "Duration" %}</td>
                                        <td width="335">{% trans "Breakdown" %}</td>
                                        <td width="100">{% trans "Total" %}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for game in game_list %}
                                <tr class="game_basket_entry game_identifier_{{game.product.get_game.id}}" id="game_basket_entry_{{ game.id }}">
                                    <td style="vertical-align: top" id="">
                                       <a href="/game/{{ game.product.slug }}/edit/{{ game.id }}/"><img style="padding-top: 10px" src="/static/img/games/{{ game.product.slug }}/img/logo.png" width="100%"></a>
                                    </td>

                                    <td style="vertical-align: top" id="">
                                        <div class="row collapse">
                                            <div class="small-10 columns">
                                                <ul>
                                                    <li><h3><a href="/game/{{ game.product.slug }}/edit/{{ game.id }}/">{{ game.product.name }}</a></h3></li>
                                                    <li>
                                                        <strong>{% trans "Starting Date" %}:</strong> {{ game.draws|get_dict:"start_event"|get_draw_datetime|date:"d F Y" }}<br>
                                                        <strong>{% trans "Weeks" %}:</strong> {{ game.draws|get_dict:"duration" }}<br>
                                                        {% if game.draws|get_dict:"duration" == 1 and not "&" in game.draws|get_dict:"days"|format_days %}
                                                            <strong>{% trans "Play Days" %}:</strong>
                                                            {{ game.draws|get_dict:"days"|format_days }}.
                                                        {% else %}
                                                            <strong>{% trans "Play Days" %}:</strong>
                                                            {% if game.draws|get_dict:"duration" > 1 %} {{ game.draws|get_dict:"duration" }} {% trans "weeks, for " %} {% endif %}
                                                            {% if "&" in game.draws|get_dict:"days"|format_days %}{% else %}{% trans "only " %}{% endif %}{{ game.draws|get_dict:"days"|format_days }}.
                                                        {% endif %}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="small-2 columns">
                                                <div class="edit">
                                                   <a href="#" onclick='removeEntry("{{ game.product.slug }}", {{game.id}}, {{game.product.get_game.id}}); return false;'><span data-icon="&#x51;" title=" {% trans "Remove" %}"></span></a>
                                                   <a href="/game/{{ game.product.slug }}/edit/{{ game.id }}/"><span data-icon="&#x3c;" title=" {% trans "Edit" %}"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td style="vertical-align: top">
                                        <ul>
                                            <li>
                                                <strong>{% trans "Enties per draw" %}:</strong> {{ game.total_entries_per_draw }}
                                            </li>
                                            <li>
                                                <strong>{% trans "Total Entries" %} :</strong> {{ game.total_entries }}
                                            </li>
                                            <li>
                                                {% if game.boost_value %}
                                                    <strong>{% trans "Boost" %}: </strong> {{ game.boost_value }}
                                                {% else %}
                                                    {% trans "Standard Game" %}
                                                {% endif %}
                                            </li>
                                            <li><strong>{% trans "Jackpot" %}:</strong> &euro; {{ game.jackpot }} </li>
                                        </ul>

                                    </td>
                                    <td style="vertical-align: top">
                                        &euro; {{ game.total_cost|floatformat:2|intcomma }}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if voucher_list and total_vouchers > 0 %}
                            <div class="large-12 columns" id="basket_vouchers">
                                <h2>{% trans "Your Vouchers" %}</h2>
                                <table class="account large-12">
                                    <thead>
                                    <tr>
                                        <td>{% trans "Products" %}</td>
                                        <td>{% trans "Vouchers" %}</td>
                                        <td>{% trans "Discounted" %}</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for voucher in voucher_list %}
                                        {% if  voucher.vouchers > 0 %}
                                            <tr class="game_basket_vouchers" id="game_basket_entry_vouchers_{{ voucher.product.get_game.id }}">
                                                <td width="20%"><center><img src="/static/img/games/{{ voucher.product.slug }}/img/logo.png" width="90%"></center></td>
                                                <td width="55%">
{#                                                    <strong>{{ voucher.product.name }}</strong> <br/>#}
                                                    <br/>
                                                    {% trans "Used" %}: {{ voucher.vouchers }} {% trans "of" %} {{ voucher.of_vouchers }} <br/>
{#                                                    {% trans "Single Voucher Cost" %}: &euro; {{ voucher.voucher_cost|floatformat:2 }} <br/>#}
                                                </td>
                                                <td width="35%">
{#                                                    {% trans "Total Game Cost" %}: &euro; {{ voucher.game_cost|floatformat:2 }} <br>#}
{#                                                    {% trans "Total Voucher Cost" %}:#} &euro; {{ voucher.used_cost|floatformat:2 }}
{#                                                    <br/>#}
{#                                                    {% trans "Sub Total" %}: &euro; {{ voucher.total_cost|floatformat:2 }}#}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}


                        <form action="." class="custom" method="post">
                            {% csrf_token %}
                            {# field that allows us to get the user's details on the form #}
                            <input type="hidden" name="user" value="{{ user }}">
                            <input type="hidden" name="play_with_credits" value="{{ play_with_credits }}">
                            {% if play_with_credits and payment_due %}
                                <div class="large-12 columns">
                                    <table class="account">
                                        <tbody>
                                            <tr>
                                                <td width="757">{% trans "Buy play credits" %} ( {% trans "minimun amount" %}: &euro; {{ minimum_play_credits }} ) </td>
                                                <td width="233">{{ form.buy_play_credits }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}

                            <div class="large-6 columns"></div>

                            <div class="large-6 columns">
                                <div id="final_cost">
                                    {% include "play/partials/checkout_final_prices.html" %}
                                </div>
                                {% if not transaction_limit %}
                                    <button type="submit" class="button radius expand greenbtn" id="btnCheckout">{% trans "complete purchase" %}</button>
                                {% endif %}
                            </div>
                        </form>

                    <div class="large-5 columns">
                        {% get_products_promotion_offers product_list %}
                    </div>
                </div>
                {% else %}
                    {% include "play/partials/game_selectors.html" %}
                    <div class="row">
                        <div class="large-12 columns">
                            <h2>{{ config.blank_checkout.get_translation.title }}</h2>
                            <p>
                                {{ config.blank_checkout.get_translation.content|safe }}
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% include "partials/sidebar.html" %}
        </section>
    </checkout>
    <div class="clear"></div>

{% endblock %}