{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <section id="content" class="row">
        <div class="main-panel">
            <ul class="breadcrumbs">
                <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                <li class="current"><a href=".">{% trans "Payment Failed" %}</a></li>
            </ul>

            <h1>{% trans "Your Transaction Failed." %}</h1>

            <p>
                {% trans "Something went wrong with your transaction." %} <br/>
                <br/>
                {% trans "Our technicians are working on this as we speak." %} <br/>
                <br/>
                {% trans "Please try again in a few minutes, or should the problem persist, please contact our support team." %}
            </p>

            <h1><small>{% trans "Please choose one of the games below and play:" %}</small></h1>
            {% include "play/partials/game_selectors.html" %}

        </div>
        {% include "partials/sidebar.html" %}
    </section>
<div class="clear"></div>
{% endblock %}