{% extends "registration/base.html" %}
{% load i18n %}

{% block breadcrumb %}{% trans "Transaction" %}{% endblock %}
{% block page_title %}{% trans "Your email is successfully send" %}{% endblock %}
{% block description %}{% endblock %}
{% block body %}
    <h3>{% trans "What happens if I win?" %}</h3>
    <p> {% trans "Text explaining how to claim winnings" %}</p>
    <div><p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut nisl feugiat diam dignissim vulputate.
        Cras iaculis magna id libero cursus, vel pharetra augue suscipit. Fusce condimentum lobortis urna, consectetur suscipit quam porttitor et.
        Praesent aliquam ante ac volutpat venenatis. Phasellus id erat quam. Curabitur placerat nec justo id facilisis.
        Pellentesque a metus nec est dignissim euismod. Ut blandit eget dolor at molestie. Duis sagittis accumsan dui, quis ullamcorper lectus eleifend iaculis.
        Donec scelerisque fermentum gravida.
        Donec adipiscing scelerisque volutpat. Ut sed ipsum feugiat purus vehicula ullamcorper. Cras a turpis nec quam tincidunt sagittis quis ac dui.
    </p></div><br />

    <div>
        <a style="margin-right: 10px;" class="button radius btn-success" href="{% url 'home' %}">Play again</a>
        <a class="button radius btn-success" href="{% url 'account_history' %}">Transaction history</a>
    </div>
{% endblock %}

