{% extends "registration/base.html" %}
{% load i18n static %}

{% block breadcrumb %}{% trans "Transaction" %}{% endblock %}
{% block page_title %}{% trans "Resend transaction email" %}{% endblock %}
{% block description %}{% trans "Please enter your email below." %}:{% endblock %}

{% block body %}

    <div class="row">
        <div class="large-6 large-centered columns">
            <form action="{% url 'resend-email' transaction_id %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Resend Email</button>
            </form>
        </div>
    </div>
{% endblock %}
