{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <section id="content" class="row">
        <div class="main-panel">
            <ul class="breadcrumbs">
                <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                <li class="current"><a href=".">{% trans "Payment Successful" %}</a></li>
            </ul>
            <h1>{% trans "Thank You!" %}</h1>
            <p>
                {% trans "Your transaction has been successfully processed! Your tickets, along with a receipt, have been emailed to you." %}
            </p>
            <h1><small>{% trans "Please choose one of the games below and play:" %}</small></h1>
            {% include "play/partials/game_selectors.html" %}
        </div>
        {% include "partials/sidebar.html" %}
    </section>
{% endblock %}