<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block content %}
	<h1>Hello {{name}}, Thank you for choosing First Class Trophy!</h1>
	<div><p><b>An email has been sent to you at <u style="color:blue" >{{email}}</u> regarding the Quotation you enquired.</b></p></div>
{% endblock %}
</html>