<!DOCTYPE html>
<html>
<head>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>

<table>
{% set e  = 0 %}
{% set pde = 0 %} 
{% set fm  = 0 %}
{% set em  = 0 %}
<table>
  <tr>
    <th> </th>
    <th> Spicies </th>
    <th>{{ taxidermy[0] }}</th>
    <th>{{ taxidermy[1] }}</th>
    <th>{{ taxidermy[2] }}</th>
    <th>{{ taxidermy[3] }}</th>
    <th>{{ taxidermy[4] }}</th>
    <th>{{ taxidermy[5] }}</th>
    <th>{{ taxidermy[6] }}</th>
    <th>{{ taxidermy[7] }}</th>
    <th>{{ taxidermy[8] }}</th>
    <th>{{ taxidermy[9] }}</th>
    <th>{{ taxidermy[10] }}</th>
  </tr>

  <tr {% for entry in entries %}>
    {% if entry.country[0]==258%}
      <!--<td>{{ spicies[i] }}</td>-->
      <td>{{ e+1 }}</td>
      <td>{{ entry.name }}</td>
      <td>{{ spicies[e] }}
      <td><INPUT TYPE=checkbox NAME=taxi VALUE={{ entry.price }}>{{ entry.price }}</td>
      {% set e = e+1 %}
    {% endif %}
  </tr {% endfor %}>
</table>
</table>

</body>
</html>