<!DOCTYPE html>
<html>
<head>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<!--<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
<script type="text/javascript">
  function set_openid(id, openid)
  {
    form = document.forms['login'];
    if (openid==0.0)
    {
      alert("N/A or POR") ; 
    }
    else
    {
      var y = form.elements['openid'].value;
      var z = openid;
      var x = +y + +z;
      form.elements['openid'].value = x;
      form.elements['remember_me'].value += id;
    }
  }

  function myFunction() {
      document.getElementById("myForm").reset();
  }
  </script>
</head>

<body>

<form action="" method="post" name="login" id="myForm">
  {{ form.hidden_tag() }}
    <p>
      <br>
      {% if role == 'manager' %}
        Price: {{ form.openid(disabled=True) }}<br> <!--(disabled=True)-->
	{% for error in form.openid.errors %}
          <span style="color: red;">[{{ error }}]</span>
      	{% endfor %}<br>
      {% else %}
        Price: {{ form.openid() }}<br>
	{% for error in form.openid.errors %}
          <span style="color: red;">[{{ error }}]</span>
      	{% endfor %}<br>
      {% endif %}
    </p>   
    <p>email: {{ form.email }} Please enter your email address in order to receive your Quotation via email!</p> 
    {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
  
    <p><input type="submit" value="If Price Ok, Proceed"> |
    <input type="button" onclick="myFunction()" value="Reset"></p>


{% set sm  = 0 %}
{% set pde = 0 %} 
{% set fm  = 0 %}
{% set em  = 0 %}
{% set tfs  = 0 %}
{% set tfswf  = 0 %}
{% set tbs = 0 %}
{% set tbswf = 0 %}
{% set rm = 0 %}
<!--{% set country_id = 258 %}-->

<table>
  <tr>
    <th> </th>
    <th> Spicies </th>
    <th>{{ taxidermy[0] }}</th>
    <th>{{ taxidermy[1] }}</th>
    <th>{{ taxidermy[2] }}</th>
    <th>{{ taxidermy[3] }}</th>
    <th>{{ taxidermy[4] }}</th>
    <th>{{ taxidermy[5] }}</th>
    <th>{{ taxidermy[6] }}</th>
    <th>{{ taxidermy[7] }}</th>
    <th>{{ country_id }}</th>
    <!--<th>{{ taxidermy[9] }}</th>
    <th>{{ taxidermy[10] }}</th>-->
  </tr>

  <tr {% for entrysm in entriessm %}>
    {% if entrysm.countrysm[0]== country_id %}
      <!--<td>{{ spicies[i] }}</td>-->
      <td>{{ sm+1 }}</td>
      <!--<td>{{ entrysm.namesm }}</td>-->
      <td>{{ spicies[sm] }}
      <td><a href="javascript:set_openid('{{ entrysm.idsm }},',{{ entrysm.pricesm }});"><INPUT TYPE=checkbox NAME=taxi id={{ entrysm.idsm }}></td> <!--{{ entrysm.pricesm }}</td>-->
      {% if entriesfm[0]['countryfm'][0]==country_id %}
        <!--<td>{{ entriesfm[fm]['namefm'] }}</td>-->
        <td><a href="javascript:set_openid('{{ entriesfm[fm]['idfm'] }},',{{ entriesfm[fm]['pricefm'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriesfm[fm]['idfm'] }}></td>
        {% set fm = fm+3 %}
      {% endif %} 
      {% if entriesem[0]['countryem'][0]==country_id %}
        <!--<td>{{ entriesem[em]['nameem'] }}</td>-->
        <td><a href="javascript:set_openid('{{ entriesem[em]['idem'] }},',{{ entriesem[em]['priceem'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriesem[em]['idem'] }}></td>
        {% set em = em+3 %}
      {% endif %} 
      {% if entriestfs[0]['countrytfs'][0]==country_id %}
        <!--<td>{{ entriestfs[tfs]['nametfs'] }}</td>-->
        <td><a href="javascript:set_openid('{{ entriestfs[tfs]['idtfs'] }},',{{ entriestfs[tfs]['pricetfs'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriestfs[tfs]['idtfs'] }}></td>
        {% set tfs = tfs+3 %}
      {% endif %} 
      {% if entriestfswf[0]['countrytfswf'][0]==country_id %}
        <!--<td>{{ entriestfswf[tfswf]['nametfswf'] }}</td>-->
        <td><a href="javascript:set_openid('{{ entriestfswf[tfswf]['idtfswf'] }},',{{ entriestfswf[tfswf]['pricetfswf'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriestfswf[tfswf]['idtfswf'] }}></td>
        {% set tfswf = tfswf+3 %}
      {% endif %}
      {% if entriestbs[0]['countrytbs'][0]==country_id %}
        <!--<td>{{ entriestbs[tbs]['nametbs'] }}</td>-->
        <td><a href="javascript:set_openid('{{ entriestbs[tbs]['idtbs'] }},',{{ entriestbs[tbs]['pricetbs'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriestbs[tbs]['idtbs'] }}></td>
        {% set tbs = tbs+3 %}
      {% endif %}
      {% if entriestbswf[0]['countrytbswf'][0]==country_id %}
        <!--<td>{{ entriestbswf[tbswf]['nametbswf'] }}</td>-->
        <td><a href="javascript:set_openid('{{ entriestbswf[tbswf]['idtbswf'] }},',{{ entriestbswf[tbswf]['pricetbswf'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriestbswf[tbswf]['idtbswf'] }}></td>
        {% set tbswf = tbswf+3 %}
      {% endif %}
      {% if entriesrm[0]['countryrm'][0]==country_id %}
        <td><a href="javascript:set_openid('{{ entriesrm[rm]['idrm'] }},',{{ entriesrm[rm]['pricerm'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriesrm[rm]['idrm'] }}></td>
        {% set rm = rm+3 %}
      {% endif %}

      {% set sm = sm+1 %}
    {% endif %}
  </tr {% endfor %}>
</table><br>
<p>{{ form.remember_me }}</p>
{% for error in form.remember_me.errors %}
  <span style="color: red;">[{{ error }}]</span>
{% endfor %}<br>
</form>
</body>
</html>
