<!DOCTYPE html>
<html>
<head>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<!--<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
<script type="text/javascript">
  function set_openid(id, openid)
  {
    form = document.forms['login'];
    if (openid==0.0)
    {
      alert("N/A or POR") ; 
    }
    else
    {
      var y = form.elements['openid'].value;
      var z = openid;
      var x = +y + +z;
      form.elements['openid'].value = x;
      form.elements['remember_me'].value += id;
    }
  }

  function myFunction() {
      document.getElementById("myForm").reset();
  }

  </script>
</head>

<body>

<form action="" method="post" name="login" id="myForm">
  {{ form.hidden_tag() }}
    <p>
      <br>
        Price: {{ form.openid(disabled=True) }}<br> 
        {% for error in form.openid.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </p>   
    <p>email: {{ form.email }} Please enter your email address in order to receive your Quotation via email!</p> 
    {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}<br>
  
    <p><input type="submit" value="If Price Ok, Proceed"> |
    <input type="button" onclick="myFunction()" value="Reset"></p>


{% set sm  = 0 %}
{% set pde = 0 %} 
{% set fm  = 0 %}
{% set em  = 0 %}
{% set tfs  = 0 %}
{% set tfswf  = 0 %}
{% set tbs = 0 %}
{% set tbswf = 0 %}
{% set rm = 0 %}
{% set country_id = country_id %}

<table>
  <tr>
    <th>{% if country_id=='258' %} 
	    {% set country_id = 258 %}
	     EU-Countries 
	{% endif %}
	{% if country_id=='167' %}
        {% set country_id = 167 %}
        Norway
    {% endif %}
	{% if country_id=='256' %}
        {% set country_id = 256 %}
        USA/CANADA/MEXICO/RUSSIA
    {% endif %}
			  				</th>
    <th> Spicies </th>
    <th>{{ taxidermy[0] }}</th>
    <th>{{ taxidermy[1] }}</th>
    <th>{{ taxidermy[2] }}</th>
    <th>{{ taxidermy[3] }}</th>
    <th>{{ taxidermy[4] }}</th>
    <th>{{ taxidermy[5] }}</th>
    <th>{{ taxidermy[6] }}</th>
    <th>{{ taxidermy[7] }}</th>
    <!--<th>{{ taxidermy[10] }}</th>
    <th>{{ taxidermy[10] }}</th>-->
  </tr>

  <tr {% for entrysm in entriessm %}>
    {% if entrysm.countrysm[0]== country_id %}
      <!--<td>{{ entrysm.countrysm[0] }}</td>-->

      {% if entrysm.countrysm[0]== 258 %}
      <td>{{ sm+1 }}</td>
      <td>{{ spicies[sm] }}</td>
      <!--<td>{{ entrysm.namesm }}</td>-->
      <td><a href="javascript:set_openid('{{ entrysm.idsm }},',{{ entrysm.pricesm }});"><INPUT TYPE=checkbox NAME=taxi id={{ entrysm.idsm }}></td>

      	<!--<td>{{ entriesfm[fm]['namefm'] }}</td>-->
        <td><a href="javascript:set_openid('{{ entriesfm[fm]['idfm'] }},',{{ entriesfm[fm]['pricefm'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriesfm[fm]['idfm'] }}></td>
        {% set fm = fm+3 %}

        <td><a href="javascript:set_openid('{{ entriesem[em]['idem'] }},',{{ entriesem[em]['priceem'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriesem[em]['idem'] }}></td>
        {% set em = em+3 %}
      
 
        <td><a href="javascript:set_openid('{{ entriestfs[tfs]['idtfs'] }},',{{ entriestfs[tfs]['pricetfs'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriestfs[tfs]['idtfs'] }}></td>
        {% set tfs = tfs+3 %}
      

        <td><a href="javascript:set_openid('{{ entriestfswf[tfswf]['idtfswf'] }},',{{ entriestfswf[tfswf]['pricetfswf'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriestfswf[tfswf]['idtfswf'] }}></td>
        {% set tfswf = tfswf+3 %}
      

        <td><a href="javascript:set_openid('{{ entriestbs[tbs]['idtbs'] }},',{{ entriestbs[tbs]['pricetbs'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriestbs[tbs]['idtbs'] }}></td>
        {% set tbs = tbs+3 %}


        <td><a href="javascript:set_openid('{{ entriestbswf[tbswf]['idtbswf'] }},',{{ entriestbswf[tbswf]['pricetbswf'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriestbswf[tbswf]['idtbswf'] }}></td>
        {% set tbswf = tbswf+3 %}


        <td><a href="javascript:set_openid('{{ entriesrm[rm]['idrm'] }},',{{ entriesrm[rm]['pricerm'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriesrm[rm]['idrm'] }}></td>
        {% set rm = rm+3 %}


      {% set sm = sm+1 %}
      {% endif %}

      {% if entrysm.countrysm[0]== 167 %}
      <td>{{ sm+1 }}</td>
      <td>{{ spicies[sm] }}</td>
      <!--<td>{{ entrysm.namesm }}</td>-->
      <td><a href="javascript:set_openid('{{ entrysm.idsm }},',{{ entrysm.pricesm }});"><INPUT TYPE=checkbox NAME=taxi id={{ entrysm.idsm }}></td>

      	<!--<td>{{ entriesfm[fm]['namefm'] }}</td>-->
        <td><a href="javascript:set_openid('{{ entriesfm[fm]['idfm'] }},',{{ entriesfm[fm+1]['pricefm'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriesfm[fm]['idfm'] }}></td>
        {% set fm = fm+3 %}

        <td><a href="javascript:set_openid('{{ entriesem[em]['idem'] }},',{{ entriesem[em+1]['priceem'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriesem[em]['idem'] }}></td>
        {% set em = em+3 %}
      
 
        <td><a href="javascript:set_openid('{{ entriestfs[tfs]['idtfs'] }},',{{ entriestfs[tfs+1]['pricetfs'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriestfs[tfs]['idtfs'] }}></td>
        {% set tfs = tfs+3 %}
      

        <td><a href="javascript:set_openid('{{ entriestfswf[tfswf]['idtfswf'] }},',{{ entriestfswf[tfswf+1]['pricetfswf'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriestfswf[tfswf]['idtfswf'] }}></td>
        {% set tfswf = tfswf+3 %}
      

        <td><a href="javascript:set_openid('{{ entriestbs[tbs]['idtbs'] }},',{{ entriestbs[tbs+1]['pricetbs'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriestbs[tbs]['idtbs'] }}></td>
        {% set tbs = tbs+3 %}


        <td><a href="javascript:set_openid('{{ entriestbswf[tbswf]['idtbswf'] }},',{{ entriestbswf[tbswf+1]['pricetbswf'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriestbswf[tbswf]['idtbswf'] }}></td>
        {% set tbswf = tbswf+3 %}


        <td><a href="javascript:set_openid('{{ entriesrm[rm]['idrm'] }},',{{ entriesrm[rm+1]['pricerm'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriesrm[rm]['idrm'] }}></td>
        {% set rm = rm+3 %}


      {% set sm = sm+1 %}
      {% endif %}

      {% if entrysm.countrysm[0]== 256 %}
      <td>{{ sm+1 }}</td>
      <td>{{ spicies[sm] }}</td>
      <!--<td>{{ entrysm.namesm }}</td>-->
      <td><a href="javascript:set_openid('{{ entrysm.idsm }},',{{ entrysm.pricesm }});"><INPUT TYPE=checkbox NAME=taxi id={{ entrysm.idsm }}></td>

      	<!--<td>{{ entriesfm[fm]['namefm'] }}</td>-->
        <td><a href="javascript:set_openid('{{ entriesfm[fm]['idfm'] }},',{{ entriesfm[fm+2]['pricefm'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriesfm[fm]['idfm'] }}></td>
        {% set fm = fm+3 %}

        <td><a href="javascript:set_openid('{{ entriesem[em]['idem'] }},',{{ entriesem[em+2]['priceem'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriesem[em]['idem'] }}></td>
        {% set em = em+3 %}
      
 
        <td><a href="javascript:set_openid('{{ entriestfs[tfs]['idtfs'] }},',{{ entriestfs[tfs+2]['pricetfs'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriestfs[tfs]['idtfs'] }}></td>
        {% set tfs = tfs+3 %}
      

        <td><a href="javascript:set_openid('{{ entriestfswf[tfswf]['idtfswf'] }},',{{ entriestfswf[tfswf+2]['pricetfswf'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriestfswf[tfswf]['idtfswf'] }}></td>
        {% set tfswf = tfswf+3 %}
      

        <td><a href="javascript:set_openid('{{ entriestbs[tbs]['idtbs'] }},',{{ entriestbs[tbs+2]['pricetbs'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriestbs[tbs]['idtbs'] }}></td>
        {% set tbs = tbs+3 %}


        <td><a href="javascript:set_openid('{{ entriestbswf[tbswf]['idtbswf'] }},',{{ entriestbswf[tbswf+2]['pricetbswf'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriestbswf[tbswf]['idtbswf'] }}></td>
        {% set tbswf = tbswf+3 %}


        <td><a href="javascript:set_openid('{{ entriesrm[rm]['idrm'] }},',{{ entriesrm[rm+2]['pricerm'] }});"><INPUT TYPE=checkbox NAME=taxi id={{ entriesrm[rm]['idrm'] }}></td>
        {% set rm = rm+3 %}


      {% set sm = sm+1 %}
      {% endif %}
    {% endif %}
  </tr {% endfor %}>
</table><br>
<p>{{ form.remember_me }}</p>
{% for error in form.remember_me.errors %}
  <span style="color: red;">[{{ error }}]</span>
{% endfor %}<br>
</form>
</body>
</html>
