{% load i18n %}


        {% if form.non_field_errors %}
            <div class="errormessage">
                <ul class="errorlist">
                    {% for err in form.non_field_errors %}
                       <li class="form-error">{{ err }}</li>
                    {% endfor %}
                    </ul>
                </div>
        {% endif %}

        <form method="post" action="{% if form_action %}{{ form_action }}{% else %}.{% endif %}">{% csrf_token %}
            <div class="row">
                <div class="small-12">
                    {% for field in form %}
                        <div class="row {% if field.errors %}error{% endif %}">
                            {% if field.id_for_label == "id_tos" %}
                                <div class="small-9 small-offset-3 columns">
                                    <label for="{{ field.id_for_label }}" class="left inline">{{ field }}
                                        &nbsp; {{ field.label_tag|removetags:"label" }}
                                    </label>
                                </div>
                            {% else %}
                                <div class="small-3 columns">
                                    <label for="{{ field.id_for_label }}" class="right inline">{{ field.label_tag|removetags:"label" }}</label>
                                </div>
                                <div class="small-9 columns styled-select {{ field.id_for_label }}">
                                    {{ field }} {% if field.errors %}<small class="error">{{ field.errors }}</small>{% endif %}
                                </div>
                            {% endif %}
                        </div>
                        <br class="clearing-assembled">
                    {% endfor %}
                    <div class="row collapse">
                        <div class="small-9 small-offset-3 columns">
                            <button class="button radius expand">{{ button_value }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

