<div id="message">
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"> <center><div class="msgicon"></div><span>{{ message|safe }}</span></center> </div>
    {% endfor %}
{% endif %}
</div>
