{% load category_tags %}
{% get_categories as category_list %}

<h2>Categories</h2>

<ul class="side-nav">
    {% for category in category_list %}
        {% with category.get_translation as category_trans %}
        <li>
            {% if category_trans.slug %}<a href="{% url "blog_category" category_trans.slug %}">{% endif %}
                {{ category_trans.name }}
            {% if category_trans.slug %}</a>{% endif %}
        </li>
        {% endwith %}
    {% endfor %}
</ul>
