{% load category_tags humanize i18n %}

{% get_post_years as year_list %}
{% for year in year_list reversed %}
    <h2><strong>{{ year.title }}</strong></h2>
    {% for month in year.month_list %}
        <ul class="side-nav">
            <li><a href="{% url "blog_month" year.title month.title|name_month|slugify %}">{{ month.title|name_month }}</a></li>
        </ul>
    {% endfor %}

{% endfor %}

{% if title != "Our Latest Entries" %}
    <h2><a href="{% url "blog" %}">{% trans "Latest Entries" %}</a></h2>
    {% get_latest_posts as latest_post_list %}
    {% for post in latest_post_list %}
        <h5><a href="{% url "blog_post" post.get_translation.slug %}">{{ post.get_translation.title|title }}</a></h5>

        <p>Posted {{ post.date_created|naturalday }}, by
            {% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}
                {{ post.author.username|title }}{% endif %}</p>
    {% endfor %}
{% endif %}
