{% load category_tags %}

{% if tweet_list %}
<div class="well">
    {% for tweet in tweet_list reversed %}
        <strong>{{ tweet.text|urlize|url_target_blank|safe }}</strong><br/><br/>
    {% endfor %}
</div>
{% endif %}
