{% load i18n game_tags webdesign humanize %}
<h2>{% trans "Final Price" %}</h2>

<table class="final">
    <tbody>
    {% comment %}
    <tr>
        <td width="273">{% trans "Total Entries Per Draw" %}</td>
        <td width="180">{{ total_entries_per_draw }}</td>
    </tr>
    {% endcomment %}
    <tr>
            <td width="273">{% trans "Number of Entries" %}</td>
        <td width="180">{{ total_entries }}</td>
    </tr>
    {% comment %}
    {% if replayed_entries_total and replayed_entries_count %}
    <tr>
        <td width="273">{% trans "Total Replayed Entries Count" %}</td>
        <td width="180">{{ replayed_entries_count }}</td>
    </tr>
    <tr>
        <td width="273">{% trans "Total Replayed Entries" %}</td>
        <td width="180">&euro; {{ replayed_entries_total|floatformat:2|intcomma }}</td>
    </tr>
    {% endif %}
    {% endcomment %}
    {# TODO: sub total before vouchers and play credits have been deducted #}
    <tr>
        <td width="273">{% trans "Sub Total" %}</td>
        <td width="180">&euro; {{ total_cost|floatformat:2|intcomma }}</td>
    </tr>

    {% if vouchers|floatformat:0 != "0" %}
    <tr>
        <td width="273">{% trans "Vouchers Discounted" %}</td>
        <td width="180"> - &euro; {{ vouchers|floatformat:2 }}</td>
    </tr>
    {% endif %}

    {% if discount|floatformat:0 != "0" %}
    <tr>
        <td width="273">{% trans "Discount" %}</td>
        <td width="180"> - &euro; {{ discount|floatformat:2 }}</td>
    </tr>
    {% endif %}

    {% if request.user.is_authenticated %}
        <tr>
            <td>{% trans "Play Credits" %}</td>
            <td> - &euro; {{ play_credits|floatformat:2 }}</td>
        </tr>
        {% if play_with_credits %}
            <tr>
                <td>{% trans "Purchase Play Credits" %}</td>
                <td>&euro; {{ buy_play_credits|floatformat:2 }}</td>
            </tr>
        {% endif %}
    {% endif %}
    <tr>
        <td class="payment-due">{% trans "Payment Due" %}</td>
        <td class="payment-due">&euro; {{ payment_due|floatformat:2|intcomma }}</td>
    </tr>
    </tbody>
</table>

