{% load i18n game_tags webdesign humanize %}
<div class="row">
    {% for product in config.homeproduct_set.all %}
        <div class="large-4 columns">
            <div class="product-box">
                <a href="{% url "game" product.product.slug %}">
                    <img src="/static/img/games/{{ product.product.slug }}/img/bg.jpg" alt="{{ product.product.name }}">

                    <div class="lotto-logos checkout"
                         style="background-image: url('/static/img/games/{{ product.product.slug }}/img/logo.png')"></div>

                    <div class="jackpot-amount checkout">{% trans "CURRENT JACKPOT" %}
                        <h1>&euro; {{ product.product.get_jackpot|floatformat:2|intcomma }}</h1></div>
                </a>
                <a href="{% url "game" product.product.slug %}">
                    <div class="button expand">{% trans "Play" %} {{ product.product.name }}</div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>