{% load i18n game_tags webdesign humanize %}
<table class="final">
    <tbody>
    <tr>
        <td width="250">{% trans "Payment Date" %}</td>
        <td width="250">{{ history.created_at|date:" fA d F Y" }}</td>
        <td width="250">{% trans "Total Entries" %}</td>
        <td width="250">{{ total_entries }}</td>
    </tr>
    <tr>
        <td>{% trans "Vouchers" %}</td>
        <td> - &euro; {{ vouchers|floatformat:2 }}</td>
        <td>{% trans "Discount" %}</td>
        <td> - &euro; {{ history.discount|floatformat:2 }} ({{ discount_percentage|floatformat:0 }}%)</td>
    </tr>
    <tr>
        <td>{% trans "Used Play Credits" %}</td>
        <td> - &euro; {{ history.play_credits }}</td>
        <td>{% trans "Total Due" %}</td>
        <td>&euro; {{ history.total_value|floatformat:2|intcomma }}</td>
    </tr>
    <tr>
        <td class="payment-due">{% trans "Total Paid" %}</td>
        <td class="payment-due">&euro; {{ history.total_paid|floatformat:2|intcomma }}</td>
    </tr>
    </tbody>
</table>

